@use '../../style/mixin.scss' as *;
@use './var.scss';

.o-tag {
  font-size: var(--tag-text-size);
  line-height: var(--tag-text-height);
  height: var(--tag-height);
  border: 1px solid var(--tag-bd-color);
  border-radius: var(--tag-radius);
  padding: var(--tag-padding);
  background-color: var(--tag-bg-color);
  color: var(--tag-color);
  white-space: nowrap;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.o-tag-icon {
  display: inline-flex;
  align-items: center;
  > svg {
    vertical-align: top;
  }

  &.prefix {
    margin-right: 6px;
  }

  &.suffix {
    margin-left: 6px;
  }
}

.o-tag-icon-close {
  cursor: pointer;
}

.o-tag-checkable {
  cursor: pointer;
}
