@use '../../style/mixin.scss' as *;
@include respond-to('phone-pad') {
  .o-tag-medium {
    --tag-padding: 0 6px;
    --tag-text-size: var(--o-font_size-tip2);
    --tag-text-height: var(--o-line_height-tip2);
    --tag-height: var(--o-control_size-xs);
    --tag-icon-size: var(--o-icon_size-2xs);

    .o-tag-label.o-tag-icon.o-tag-close {
      zoom: 0.833334;
    }
  }
}
