.o-tag-normal {
  --tag-color: var(--o-color-info1);
  --tag-bg-color: var(--o-color-control1-light);
  --tag-bd-color: var(--o-color-control1-light);
}

.o-tag-primary {
  --tag-color: var(--o-color-info1-inverse);
  --tag-bg-color: var(--o-color-primary1);
  --tag-bd-color: var(--o-color-primary1);
}

.o-tag-success {
  --tag-color: var(--o-color-info1-inverse);
  --tag-bg-color: var(--o-color-success1);
  --tag-bd-color: var(--o-color-success1);
}

.o-tag-warning {
  --tag-color: var(--o-color-info1-inverse);
  --tag-bg-color: var(--o-color-warning1);
  --tag-bd-color: var(--o-color-warning1);
}

.o-tag-danger {
  --tag-color: var(--o-color-info1-inverse);
  --tag-bg-color: var(--o-color-danger1);
  --tag-bd-color: var(--o-color-danger1);
}

.o-tag-small {
  --tag-padding: 0 6px;
  --tag-radius: var(--o-radius-control-s);
  --tag-text-size: 10px;
  --tag-text-height: 16px;
  --tag-height: var(--o-size-xxs);
}

.o-tag-medium {
  --tag-padding: 0 12px;
  --tag-radius: var(--o-radius-control-s);
  --tag-text-size: var(--o-font_size-tip2);
  --tag-text-height: var(--o-line_height-tip2);
  --tag-height: var(--o-size-xs);
}

.o-tag-large {
  --tag-padding: 0 14px;
  --tag-radius: var(--o-radius-control-s);
  --tag-text-size: var(--o-font_size-tip1);
  --tag-text-height: var(--o-line_height-tip1);
  --tag-height: var(--o-size-s);
}

.o-tag-round-pill {
  --tag-radius: var(--o-size-l);
}

.o-tag-outline {
  --tag-bg-color: transparent;

  &.o-tag-normal {
    --tag-color: var(--o-color-info1);
  }

  &.o-tag-primary {
    --tag-color: var(--o-color-primary1);
  }

  &.o-tag-success {
    --tag-color: var(--o-color-success1);
  }

  &.o-tag-warning {
    --tag-color: var(--o-color-warning1);
  }

  &.o-tag-danger {
    --tag-color: var(--o-color-danger1);
  }
}

.o-tag-checkable {
  &:not(.o-tag-checked) {
    --tag-bg-color: transparent;
    --tag-bd-color: transparent;
    &.o-tag-normal {
      --tag-color: var(--o-color-info1);
    }

    &.o-tag-primary {
      --tag-color: var(--o-color-primary1);
    }

    &.o-tag-success {
      --tag-color: var(--o-color-success1);
    }

    &.o-tag-warning {
      --tag-color: var(--o-color-warning1);
    }

    &.o-tag-danger {
      --tag-color: var(--o-color-danger1);
    }
  }
}
