@use './var.scss';

.o-figure {
  display: inline-flex;
  overflow: hidden;
  transition: background-color var(--o-duration-m2);
  &.is-loading {
    &.is-colorfull {
      background-color: var(--figure-prest-color);
    }
    img {
      opacity: 0;
    }
  }
  img {
    max-width: 100%;
    vertical-align: top;
    opacity: 1;
    transition: opacity var(--o-duration-m2), transform var(--o-easing-standard) var(--o-duration-m2);
    will-change: transform;
  }
  &.is-error {
    background-color: var(--o-color-control4);
  }
}
.o-figure-hoverable {
  cursor: pointer;

  &:hover {
    img {
      transform: scale(1.05);
    }
  }
  &:active {
    img {
      transform: scale(1.02);
    }
  }
}
.o-figure-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: var(--figure-padding-top);
}
.o-figure-bg {
  background-size: var(--figure-fit);
  background-position: var(--figure-position);
  background-repeat: no-repeat;
}
.o-figure-img-ratio {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: var(--figure-fit);
  object-position: var(--figure-position);
}

.o-figure-img {
  width: 100%;
  height: 100%;
  object-fit: var(--figure-fit);
  object-position: var(--figure-position);
}
