@use './var.scss';

.o-dialog {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  z-index: var(--dlg-z-index);
  display: none;
  &.is-show {
    display: flex;
  }
}
.o-dlg-mask {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--o-color-mask1);
}
.o-dlg-main {
  position: relative;
  background-color: var(--o-color-control-light);
  min-width: 200px;
  box-shadow: var(--o-shadow-1);
}

.o-dlg-btn-close {
  position: absolute;
  right: var(--o-gap-3);
  top: var(--o-gap-3);
  font-size: var(--o-icon_size-s);
  color: var(--dlg-close-color);
  border-radius: var(--dlg-close-radius);
  display: flex;
  &:hover {
    text-decoration: none;
    color: var(--dlg-close-color-hover);
    background-color: var(--dlg-close-bg-color-hover);
  }
  &:active {
    color: var(--dlg-close-color-active);
    background-color: var(--dlg-close-bg-color-active);
  }
}

.o-dlg-head {
  padding: 8px 16px;
}
.o-dlg-body {
  padding: 8px 16px;
}
.o-dlg-foot {
  padding: 8px 16px;
}
