@use '../../style/mixin.scss' as *;
@use './var.scss';

.o-figure {
  display: inline-flex;
  vertical-align: top;
  overflow: hidden;
  transition: background-color var(--o-duration-m2);
  border-radius: var(--figure-radius);

  &.is-loading {
    &.is-colorful {
      background-color: var(--figure-prest-color);
    }
    img {
      opacity: 0;
    }
  }
  img {
    max-width: 100%;
    vertical-align: top;
    opacity: 1;
    transition: opacity var(--o-duration-m2), transform var(--o-easing-standard) var(--o-duration-m2);
    will-change: transform;
    border-radius: var(--figure-radius);
  }
  &.is-error {
    background-color: var(--o-color-control4);
  }
}
.o-figure-hoverable {
  cursor: pointer;

  &:hover {
    img {
      transform: scale(1.05);
    }
  }
  &:active {
    img {
      transform: scale(1.02);
    }
  }
}
.o-figure-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: var(--figure-padding-top);
}
.o-figure-bg {
  background-size: var(--figure-fit);
  background-position: var(--figure-position);
  background-repeat: no-repeat;
}
.o-figure-img-ratio {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: var(--figure-fit);
  object-position: var(--figure-position);
}

.o-figure-img {
  width: 100%;
  height: 100%;
  object-fit: var(--figure-fit);
  object-position: var(--figure-position);
}

.o-figure-view {
  cursor: zoom-in;
}

.o-figure-view-layer {
  width: 100%;
  height: 100%;
  cursor: zoom-out;
}
.o-figure-view-figure {
  width: 100%;
  height: 100%;
  --figure-fit: contain;
}

.o-figure-previewable {
  cursor: pointer;
}
.o-figure-preview-img {
  img {
    vertical-align: top;
    max-width: 100vw;
    max-height: 100vh;
  }
}

.o-figure-error-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: var(--o-color-info4);
}
