.o-pagination {
  --pagination-item-size: var(--o-control_size-m);
  --pagination-arrow-size: var(--o-control_size-s);
  --pagination-item-gap: 24px;

  --pagination-arrow-color: var(--o-color-info2);
  --pagination-arrow-color-hover: var(--o-color-info1);
  --pagination-arrow-color-active: var(--o-color-info3);
  --pagination-arrow-color-disabled: var(--o-color-info4);

  --pagination-item-color: var(--o-color-info2);
  --pagination-item-color-hover: var(--o-color-info2);
  --pagination-item-color-active: var(--o-color-info2);
  --pagination-item-color-current: var(--o-color-primary1);

  --pagination-item-bg-color: transparent;
  --pagination-item-bg-color-hover: var(--o-color-control2-light);
  --pagination-item-bg-color-active: var(--o-color-control3-light);
  --pagination-item-bg-color-current: var(--o-color-primary1-light);

  --pagination-item-bd-color: transparent;
  --pagination-item-bd-color-hover: transparent;
  --pagination-item-bd-color-active: transparent;
  --pagination-item-bd-color-current: transparent;
  --pagination-item-bd-color-disabled: transparent;

  --pagination-radius: var(--o-radius_control-s);
}
.o-pagination-outline {
  --pagination-arrow-bd-color: var(--o-color-control1);
  --pagination-arrow-bd-color-hover: var(--o-color-control2);
  --pagination-arrow-bd-color-active: var(--o-color-control3);
  --pagination-arrow-bd-color-current: var(--o-color-primary1);
  --pagination-arrow-bd-color-disabled: var(--o-color-control4);
}

.o-pagination-solid {
  --pagination-arrow-bg-color: transparent;
  --pagination-arrow-bg-color-hover: var(--o-color-control2-light);
  --pagination-arrow-bg-color-active: var(--o-color-control3-light);
  --pagination-arrow-bg-color-current: var(--o-color-primary1-light);
  --pagination-arrow-bg-color-disabled: var(--o-color-control4-light);
}
.o-pagination-round-pill {
  --pagination-radius: var(--pagination-item-size);
}
