@import './var.scss';

.o-link {
  cursor: pointer;
  color: var(--link-color);
  &:hover {
    color: var(--link-color_hover);
  }
  &:active {
    color: var(--link-color_active);
  }
  &.is-disabled {
    color: var(--link-color_disabled);
    cursor: not-allowed;
  }
}
