.o-link {
  --link-color: var(--o-color-primary1);
  --link-color_hover: var(--o-color-primary2);
  --link-color_active: var(--o-color-primary3);
  --link-color_disabled: var(--o-color-info4);

  --link-text-size: var(--o-font_size-text);
  --link-text-height: var(--o-line_height-text);
}
