.o-link {
  --link-color: var(--o-color-info2);
  --link-color-hover: var(--o-color-primary2);
  --link-color-active: var(--o-color-primary3);
  --link-color-disabled: var(--o-color-info4);
  --link-bg-color-hover: var(--o-color-control1-light);
  --link-bg-color-active: var(--o-color-control2-light);
}

.o-link-primary {
  --link-color: var(--o-color-link1);
  --link-color-hover: var(--o-color-link2);
  --link-color-active: var(--o-color-link3);
  --link-color-disabled: var(--o-color-link4);
  --link-bg-color-hover: var(--o-color-link1-light);
  --link-bg-color-active: var(--o-color-link2-light);
}

.o-link-success {
  --link-color: var(--o-color-success1);
  --link-color-hover: var(--o-color-success2);
  --link-color-active: var(--o-color-success3);
  --link-color-disabled: var(--o-color-success4);
  --link-bg-color-hover: var(--o-color-success1-light);
  --link-bg-color-active: var(--o-color-success2-light);
}

.o-link-warning {
  --link-color: var(--o-color-warning1);
  --link-color-hover: var(--o-color-warning2);
  --link-color-active: var(--o-color-warning3);
  --link-color-disabled: var(--o-color-warning4);
  --link-bg-color-hover: var(--o-color-warning1-light);
  --link-bg-color-active: var(--o-color-warning2-light);
}

.o-link-danger {
  --link-color: var(--o-color-danger1);
  --link-color-hover: var(--o-color-danger2);
  --link-color-active: var(--o-color-danger3);
  --link-color-disabled: var(--o-color-danger4);
  --link-bg-color-hover: var(--o-color-danger1-light);
  --link-bg-color-active: var(--o-color-danger2-light);
}
