.o-link {
  --link-color: var(--o-color-text2);
  --link-color_hover: var(--o-color-primary2);
  --link-color_active: var(--o-color-primary1);
  --link-color_disabled: var(--o-color-info3);

  --link-primary: var(--o-color-primary1);
  --link-primary_hover: var(--o-color-primary3);
  --link-primary_active: var(--o-color-primary2);

  --link-success: var(--o-color-success1);
  --link-success_hover: var(--o-color-success3);
  --link-success_active: var(--o-color-success2);

  --link-warning: var(--o-color-warning1);
  --link-warning_hover: var(--o-color-warning3);
  --link-warning_active: var(--o-color-warning2);

  --link-danger: var(--o-color-danger1);
  --link-danger_hover: var(--o-color-danger3);
  --link-danger_active: var(--o-color-danger2);

  --link-bg_hover: var(--o-color-bg1);
  --link-bg_active: var(--o-color-bg1);

  --link-text-size: var(--o-font_size-text);
  --link-text-height: var(--o-line_height-text);
}
