.o-cascader-options {
  --cascader-options-bd-clor: var(--o-color-control1-light);
}

.o-cascader-option {
  --cascader-option-color: var(--o-color-info1);
  --cascader-option-text-size: var(--o-font_size-text1);
  --cascader-option-text-height: var(--o-line_height-text1);

  --cascader-option-padding: 8px 12px;
  --cascader-option-radius: var(--o-radius_control-s);

  --cascader-option-bg-color: transparent;
  --cascader-option-bg-color-hover: var(--o-color-control2-light);
  --cascader-option-bg-color-active: var(--o-color-control3-light);

  --cascader-option-icon-size: var(--o-icon_size-xs);
}
