@use '../../_styles/mixin.scss' as *;
@use './var.scss';

.o-option {
  display: flex;
  align-items: center;
  padding: var(--option-padding);
  color: var(--option-color);
  background-color: var(--option-bg-color);
  font-size: var(--option-text-size);
  line-height: var(--option-text-height);
  border-radius: var(--option-radius);
  transition: background-color var(--o-duration-s) var(--o-easing-standard);
  cursor: pointer;
  margin-bottom: var(--option-gap);
  &:last-child {
    margin-bottom: 0;
  }
  @include hover {
    &.o-option-multiple:hover,
    &:hover {
      background-color: var(--option-bg-color-hover);
      color: var(--option-color-hover);
    }
  }
  &.active {
    font-weight: 500;
    color: var(--option-color-active);
    background-color: var(--option-bg-color-active);
  }
}

.o-option-disabled {
  &,
  &:hover,
  &:active,
  &.o-option-multiple:hover {
    cursor: not-allowed;
    color: var(--option-color-disabled);
    background-color: var(--option-bg-color-disabled);
  }
}
// 列表容器
.o-options-scroller {
  max-height: var(--option-list-max-height);
  --scroller-padding: 4px;
}
.o-options-container {
  padding: 4px;
  max-height: var(--option-list-max-height);
  overflow: auto;
}
