@use '../../_styles/mixin.scss' as *;

@include respond-to('laptop') {
  .o-input-large {
    --_input-icon-size: var(--o-icon_size-s);

    --_input-text-size: var(--o-font_size-tip1);
    --_input-text-height: var(--o-line_height-tip1);
  }
}
