@use '../../_styles/mixin.scss' as *;

@include respond-to('laptop') {
  .o-input-large {
    --input-icon-size: var(--o-icon_size-s);

    --input-text-size: var(--o-font_size-tip1);
    --input-text-height: var(--o-line_height-tip1);
  }
}
.o-input {
  @include respond-to('phone') {
    &.o_box-small {
      --_box-padding: 0 5px;
    }
    &.o_box-medium {
      --_box-padding: 0 11px;
    }
    &.o_box-large {
      --_box-padding: 0 11px;
    }
  }
}
