.o-input {
  &.o_box-small {
    --_box-padding: 0 7px;
    --_box-height: var(--o-control_size-s);
  }
  &.o_box-medium {
    --_box-padding: 0 15px;
    --_box-height: var(--o-control_size-m);
  }
  &.o_box-large {
    --_box-padding: 0 15px;
    --_box-height: var(--o-control_size-l);
  }
}
