.o-rate-primary {
  --rate-color-selected: rgb(var(--o-red-huawei));
}

.c-star-full.c-star-full {
  color: rgb(var(--o-red-huawei));
}

.c-star-empty.c-star-empty {
  color: var(--o-color-info4);
}

.c-star-label {
  color: var(--o-color-info2);
  font-size: var(--o-font_size-tip1);
  line-height: var(--o-line_height-tip1);
  margin-left: 8px;
}
