.o-rate-primary {
  --rate-color-selected: var(--o-color-danger1);
}

.c-star-full.c-star-full {
  color: var(--o-color-danger1);
}

.c-star-empty.c-star-empty {
  color: var(--o-color-info4);
}

.c-star-label {
  color: var(--o-color-info2);
  font-size: var(--o-font_size-tip1);
  line-height: var(--o-line_height-tip1);
  margin-left: 8px;
}
