.o-radio {
  --radio-color: var(--o-color-text1);
  --radio-color_disabled: var(--o-color-text4);

  --radio-text-size: var(--o-font_size-text);
  --radio-text-height: var(--o-line_height-text);

  --radio-icon-checked: var(--o-color-primary1);
  --radio-icon-checked_disabled: var(--o-color-primary4);
}

.o-radio-group {
  --radio-group-gap: var(--o-gap-2);
}
