:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #747bff;
}

body {
  margin: 0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }

  a:hover {
    color: #535bf2;
  }
} */

.page-demo {
  padding: 24px 24px;
}
section {
  border: 1px solid #eee;
  padding: var(--o-gap-4);

  h4 {
    text-align: center;
    margin: 0;
    margin-bottom: var(--o-gap-3);
  }
  + section {
    margin-top: 12px;
  }
}
.col-2 {
  width: 50%;
  padding: 24px;
  + .col-2 {
    margin-left: 12px;
  }
}
section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
}
