@use './var.scss';

.o-tabs-navs {
  display: flex;
  align-items: center;
}
.o-tabs-head {
  font-size: var(--tabs-nav-text-size);
  line-height: var(--tabs-nav-text-height);
  color: var(--tabs-nav-color);

  &.with-act {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.o-tab-nav {
  display: inline-flex;
  align-items: center;
  padding: 4px 16px;
  cursor: pointer;

  background-color: var(--tabs-nav-bg);

  + .o-tab-nav {
    margin-left: 8px;
  }

  &:hover {
    color: var(--tabs-nav-color_active);
    background-color: var(--tabs-nav-bg_hover);
  }

  &.active {
    color: var(--tabs-nav-color_active);
  }

  &.is-closable {
    padding-right: 24px;
    position: relative;
  }

  &.is-disabled {
    color: var(--tabs-nav-color_disabled);
    background-color: var(--tabs-nav-bg_disabled);
  }
}
.o-tab-nav-close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 14px;
  width: 20px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--tabs-icon-color);
  &:hover {
    color: var(--tabs-icon-color_hover);
  }
}

.o-tab-nav-add {
  margin-left: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: var(--tabs-icon-color);
  font-size: 14px;
  border-radius: 50%;
  &:hover {
    color: var(--tabs-icon-color_hover);
    background-color: var(--tabs-nav-bg_hover);
  }
}

.o-tabs-body {
  display: flex;
}

.o-tab-content {
  flex-shrink: 0;
  width: 100%;
  display: none;
  &.active {
    display: block;
  }
}
