@use './var.scss';

.o-tabs-navs {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}
.o-tabs-head {
  font-size: var(--tabs-nav-text-size);
  line-height: var(--tabs-nav-text-height);
  color: var(--tabs-nav-color);
  position: relative;

  &.with-act {
    display: flex;
    align-items: center;
    // justify-content: space-between;
  }
  &.show-line::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: var(--tabs-nav-divider);
  }
}
.o-tabs-navs-wrap {
  display: inline-flex;
  align-items: center;
}
.o-tab-nav {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--tabs-nav-bd-color);
  border-bottom-width: 0;
  background-color: var(--tabs-nav-bg-color);
  position: relative;
  z-index: 1;

  &:hover {
    color: var(--tabs-nav-color-hover);
    border-color: var(--tabs-nav-bd-color-hover);
    background-color: var(--tabs-nav-bg-color-hover);
  }
}
.o-tab-nav-active {
  color: var(--tabs-nav-color-active);
  border-color: var(--tabs-nav-bd-color-active);
  background-color: var(--tabs-nav-bg-color-active);
}
.o-tab-nav-disabled {
  cursor: not-allowed;
  color: var(--tabs-nav-color-disabled);
  border-color: var(--tabs-nav-bd-color-disabled);
  background-color: var(--tabs-nav-bg-color-disabled);
}
.o-tab-nav-closable {
  position: relative;
}
.o-tab-nav-title {
  padding: 4px 16px;
}
.o-tabs-text {
  .o-tab-nav {
    border: none;
  }
}
.o-tabs-head-prefix {
  flex-shrink: 0;
}
.o-tabs-head-suffix {
  flex-shrink: 0;
}
.o-tab-nav-archor {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  z-index: 2;
  transition: all var(--o-easing-standard-in) var(--o-duration-m1);
}
.o-tab-nav-archor-line {
  width: 100%;
  height: 3px;
  background-color: var(--tabs-nav-archor-color);
}
.o-tab-nav-close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 14px;
  padding: 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--tabs-icon-color);
  border-radius: 50%;
  &:hover {
    color: var(--tabs-icon-color-hover);
    background-color: var(--tabs-icon-bg-color-hover);
  }
}

.o-tab-nav-add {
  margin-left: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: var(--tabs-icon-color);
  font-size: 14px;
  border-radius: 50%;
  &:hover {
    color: var(--tabs-icon-color-hover);
    background-color: var(--tabs-nav-bg-color-hover);
  }
}

.o-tabs-body {
  display: flex;
}

.o-tab-pane {
  flex-shrink: 0;
  width: 100%;
  display: none;
}
.o-tab-pane-active {
  display: block;
}
.o-tabs-solid {
  .o-tab-nav + .o-tab-nav {
    margin-left: 8px;
  }
}
