.o-tabs {
  --tabs-nav-text-size: var(--o-font_size-text);
  --tabs-nav-text-height: var(--o-line_height-text);

  --tabs-nav-color: var(--o-color-text2);
  --tabs-nav-color_active: var(--o-color-text1);
  --tabs-nav-color_disabled: var(--o-color-text4);
  --tabs-nav-bg: var(--o-color-bg1);
  --tabs-nav-bg_hover: var(--o-color-bg3);
  --tabs-nav-bg_disabled: var(--o-color-bg4);

  --tabs-nav-radius: 2px;

  --tabs-icon-color: var(--o-color-text2);
  --tabs-icon-color_hover: var(--o-color-primary1);
  --tabs-icon-bg_hover: var(--o-color-bg2);
}
