@use './var.scss';

.o-breadcrumb {
  display: inline-flex;
  align-items: center;
  color: var(--breadcrumb-color);
  font-size: var(--breadcrumb-text-size);
  line-height: var(--breadcrumb-text-height);
  a {
    color: inherit;
    text-decoration: none;
  }
}

.o-breadcrumb-item {
  display: inline-flex;
  align-items: center;
  &:last-child {
    color: var(--breadcrumb-color-active);

    .o-breadcrumb-item-label {
      cursor: default;
    }

    .o-breadcrumb-item-separator {
      display: none;
    }
  }
}

.o-breadcrumb-item-label {
  cursor: pointer;
}

.o-breadcrumb-item-separator {
  margin: 0 var(--breadcrumb-gap);
}
