@use './var.scss';
@use '../../style/mixin.scss' as *;

.o-breadcrumb {
  display: inline-flex;
  align-items: center;
  color: var(--breadcrumb-color);
  font-size: var(--breadcrumb-text-size);
  line-height: var(--breadcrumb-text-height);

  a {
    color: inherit;
    text-decoration: none;
  }
}

.o-breadcrumb-item {
  display: inline-flex;
  align-items: center;

  &:last-child {
    color: var(--breadcrumb-color-active);
    font-weight: 500;

    .o-breadcrumb-item-label {
      cursor: default;
    }

    .o-breadcrumb-item-separator {
      display: none;
    }
  }
}

.o-breadcrumb-item-label {
  cursor: pointer;
  &:hover {
    color: var(--breadcrumb-color-active);
  }
}

.o-breadcrumb-item-separator {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: var(--breadcrumb-seperator-size);
  font-size: var(--breadcrumb-seperator-size);
  line-height: 1;
  margin: 0 var(--breadcrumb-gap);
}
