.o-breadcrumb {
  --breadcrumb-color: var(--o-color-info3);
  --breadcrumb-color-active: var(--o-color-info1);

  --breadcrumb-gap: var(--o-gap-1);

  --breadcrumb-text-size: var(--o-font_size-text);
  --breadcrumb-text-height: var(--o-line_height-text);
}
