@use './var.scss';

.o-badge {
  position: relative;
  display: inline-block;
}

.o-badge-content {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  transform-origin: 100% 0;
  color: var(--badge-color);
  background-color: var(--badge-bg);
  min-width: 20px;
  font-size: var(--badge-text-size);
  line-height: var(--badge-text-height);
  text-align: center;
  height: var(--badge-text-height);
  padding-left: 4px;
  padding-right: 4px;
  border-radius: var(--badge-border);
}

.o-badge-dot {
  .o-badge-content {
    height: 8px;
    width: 8px;
    padding: 0;
    border-radius: 50%;
    min-width: unset;
  }
}

.o-badge-only {
  .o-badge-content {
    position: relative;
    top: unset;
    right: unset;
    transform: none;
    display: inline-block;
  }
}
