@use './var.scss';
@use '../../style/mixin.scss' as *;

.o-badge {
  position: relative;
  display: inline-block;
}

.o-badge-content {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  transform-origin: 100% 0;
  min-width: 20px;
  font-size: var(--badge-text-size);
  line-height: var(--badge-text-height);
  height: var(--badge-text-height);
  text-align: center;
  color: var(--badge-color);
  background-color: var(--badge-bg-color);
  padding-left: var(--badge-padding);
  padding-right: var(--badge-padding);
  border-radius: var(--badge-radius);
}

.o-badge-dot {
  .o-badge-content {
    height: var(--badge-dot-size);
    width: var(--badge-dot-size);
    padding: 0;
    border-radius: 50%;
    min-width: unset;
  }
}

.o-badge-only {
  .o-badge-content {
    position: relative;
    top: unset;
    right: unset;
    transform: none;
    display: inline-block;
  }
}
