.o-badge {
  --badge-text-size: var(--o-font_size-tip1);
  --badge-text-height: var(--o-line_height-tip1);

  --badge-border: var(--o-radius-l);

  --badge-color: var(--o-color-info1);

  --badge-bg: var(--o-color-control1);

  --badge-padding: 20px;
}

.o-badge-primary {
  --badge-color: var(--o-color-fill1);
  --badge-bg: var(--o-color-primary1);
}

.o-badge-success {
  --badge-color: var(--o-color-fill1);
  --badge-bg: var(--o-color-success1);
}

.o-badge-warning {
  --badge-color: var(--o-color-fill1);
  --badge-bg: var(--o-color-warning1);
}

.o-badge-danger {
  --badge-color: var(--o-color-fill1);
  --badge-bg: var(--o-color-danger1);
}
