@use './style/index.scss' as *;

@use './button/style//index.scss' as *;
@use './switch/style//index.scss' as *;
@use './link/style//index.scss' as *;
@use './popup/style//index.scss' as *;
@use './popover/style//index.scss' as *;
@use './input/style//index.scss' as *;
@use './input-number/style//index.scss' as *;
@use './textarea/style//index.scss' as *;
@use './option/style//index.scss' as *;
@use './select/style//index.scss' as *;
@use './tabs/style//index.scss' as *;
@use './table/style//index.scss' as *;
@use './pagination/style//index.scss' as *;
@use './radio/style//index.scss' as *;
@use './radio-group/style//index.scss' as *;
@use './checkbox/style//index.scss' as *;
@use './checkbox-group/style//index.scss' as *;
@use './rate/style//index.scss' as *;
@use './tag/style//index.scss' as *;
@use './badge/style//index.scss' as *;
@use './divider/style//index.scss' as *;
@use './form/style//index.scss' as *;
@use './menu/style//index.scss' as *;
@use './breadcrumb/style//index.scss' as *;
@use './dialog/style//index.scss' as *;
