@import './var.scss';

.o-popup {
  position: absolute;
  z-index: 100;
  pointer-events: none;
  opacity: 1;
  transition: opacity var(--o-transition-duration-3);
  &.hide {
    opacity: 0;
    pointer-events: none;
  }
}
