@use './var.scss';
@use '../../style/mixin.scss' as *;

.o-popup {
  position: absolute;
  z-index: var(--popup-z-index);
  opacity: 1;
  transition: opacity var(--o-duration-m1) var(--o-easing-standard);
  &.out-view {
    opacity: 0;
    pointer-events: none;
  }
  &.animating {
    pointer-events: none;
  }
}

.o-popup-anchor {
  position: absolute;
  z-index: 0;
}
.o-popup-body {
  position: relative;
  z-index: 1;
}
