@import './var.scss';

.o-popup {
  position: absolute;
  z-index: 100;
  opacity: 1;
  transition: opacity var(--o-transition-duration-3);
  &.out-view {
    opacity: 0;
    pointer-events: none;
  }
  &.animating {
    pointer-events: none;
  }
}

.o-popup-anchor {
  position: absolute;
  z-index: 1;
}
