@use '../../_styles/mixin.scss' as *;

@include respond-to('pad_v-pc_s') {
  .o-toggle {
    --toggle-size: 28px;

    --toggle-text-size: var(--o-font_size-tip1);
    --toggle-text-height: var(--o-line_height-tip1);
    --toggle-icon-size: var(--o-icon_size_control-xs);
  }
}

@include respond-to('<=pad_v') {
  .o-toggle {
    --toggle-size: 28px;

    --toggle-padding: 0 11px;

    --toggle-text-size: var(--o-font_size-tip2);
    --toggle-text-height: var(--o-line_height-tip2);
    --toggle-icon-size: var(--o-icon_size_control-xs);
  }
}