@use './var.scss';

.o-btn {
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
  transition: all var(--o-duration-s) var(--o-easing-standard);
  white-space: nowrap;
  text-decoration: none;
  border-radius: var(--btn-radius);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: var(--btn-max-width);
  min-width: var(--btn-min-width);
  padding: var(--btn-padding);

  &:hover {
    cursor: pointer;
  }
  &.o-btn-disabled {
    cursor: not-allowed;
  }
}
.o-btn-outline {
  color: var(--btn-color);
  border: 1px solid var(--btn-bd-color);
  &:hover {
    color: var(--btn-color-hover);
    border: 1px solid var(--btn-bd-color-hover);
  }

  &:active {
    color: var(--btn-color-active);
    border: 1px solid var(--btn-bd-color-active);
  }
  &:focus-visible {
    border: 1px solid var(--btn-bd-color-active);
  }
}

.o-btn-solid {
  color: var(--btn-color);
  border: 1px solid var(--btn-bd-color);
  background-color: var(--btn-bg-color);
  &:hover {
    color: var(--btn-color-hover);
    border: 1px solid var(--btn-bd-color-hover);
    background-color: var(--btn-bg-color-hover);
  }

  &:active {
    color: var(--btn-color-active);
    border: 1px solid var(--btn-bd-color-active);
    background-color: var(--btn-bg-color-active);
  }
  &:focus-visible {
    border: 1px solid var(--btn-bd-color-active);
  }
}
.o-btn-text {
  color: var(--btn-color);
  background-color: transparent;

  &:hover {
    color: var(--btn-color-hover);
    background-color: var(--btn-bg-color-hover);
  }

  &:active {
    color: var(--btn-color-active);
    background-color: var(--btn-bg-color-active);
  }
}

.o-btn-disabled {
  &,
  &:active,
  &:hover,
  &:focus-visible {
    color: var(--btn-color-disabled);
    border: 1px solid var(--btn-bd-color-disabled);
    background-color: var(--btn-bg-color-disabled);
  }
}

.o-btn-small {
  height: var(--o-control_size-s);
  font-size: var(--o-font_size-tip1);
  line-height: var(--o-line_height-tip1);

  &.o-btn-icon-only {
    width: var(--o-control_size-s);
  }
}

.o-btn-medium {
  height: var(--o-control_size-m);
  font-size: var(--o-font_size-text1);
  line-height: var(--o-line_height-text1);

  &.o-btn-icon-only {
    width: var(--o-control_size-m);
  }
}

.o-btn-large {
  height: var(--o-control_size-l);
  font-size: var(--o-font_size-text2);
  line-height: var(--o-line_height-text2);

  &.o-btn-icon-only {
    width: var(--o-control_size-l);
  }
}

.o-btn-prefix {
  display: inline-flex;
  align-items: center;
  margin-right: var(--btn-gap);
  font-size: var(--btn-icon-size);

  .o-btn-icon-only & {
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.o-btn-suffix {
  display: inline-flex;
  align-items: center;
  margin-left: var(--btn-gap);
  font-size: var(--btn-icon-size);
}
