@use './var.scss';

.o-btn {
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
  transition: all var(--o-duration-s) var(--o-easing-standard);
  white-space: nowrap;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.o-btn-disabled {
  cursor: not-allowed;
}

.o-btn-outline {
  color: var(--btn-color);
  border: 1px solid var(--btn-bd);
  &:not(.o-btn-disabled) {
    &:hover {
      color: var(--btn-color-hover);
      border: 1px solid var(--btn-bd-hover);
    }

    &:active {
      color: var(--btn-color-active);
      border: 1px solid var(--btn-bd-active);
    }
    &:focus-visible {
      border: 1px solid var(--btn-bd-active);
    }
  }
}

.o-btn-fill {
  color: var(--btn-color);
  border: 1px solid var(--btn-bd);
  background-color: var(--btn-bg);
  &:not(.o-btn-disabled) {
    &:hover {
      color: var(--btn-color-hover);
      border: 1px solid var(--btn-bd-hover);
      background-color: var(--btn-bg-active);
    }

    &:active {
      color: var(--btn-color-active);
      border: 1px solid var(--btn-bd-active);
      background-color: var(--btn-bg-active);
    }
    &:focus-visible {
      border: 1px solid var(--btn-bd-active);
    }
  }
}
.o-btn-text {
  color: var(--btn-color);

  &:not(.o-btn-disabled) {
    &:hover {
      color: var(--btn-color-hover);
      background-color: var(--btn-bg-hover);
    }

    &:active {
      color: var(--btn-color-active);
      background-color: var(--btn-bg-active);
    }
  }
}

.o-btn-small {
  padding: 0 7px;
  height: var(--o-size-s);
  font-size: var(--o-font_size-tip1);
  line-height: var(--o-line_height-tip1);
  border-radius: var(--btn-radius);

  &.o-btn-icon-only {
    width: var(--o-size-s);
  }
  .o-btn-icon {
    margin-right: 2px;
  }
}

.o-btn-medium {
  padding: 0 15px;
  height: var(--o-size-m);
  font-size: var(--o-font_size-text);
  line-height: var(--o-line_height-text);
  border-radius: var(--btn-radius);

  &.o-btn-icon-only {
    width: var(--o-size-m);
  }
}

.o-btn-large {
  padding: 0 19px;
  height: var(--o-size-l);
  font-size: var(--o-font_size-h4);
  line-height: var(--o-line_height-h4);
  border-radius: var(--btn-radius);

  &.o-btn-icon-only {
    width: var(--o-size-l);
  }
}

.o-btn-round-pill {
  border-radius: var(--o-size-l);
}

.o-btn-icon-only {
  padding: 0;
}
.o-btn-icon {
  display: inline-flex;
  align-items: center;
  margin-right: 6px;
  > svg {
    vertical-align: top;
  }

  .o-btn-icon-only & {
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
