.o-btn-normal {
  --btn-color: var(--o-color-text2);
  --btn-color-hover: var(--o-color-primary2);
  --btn-color-active: var(--o-color-primary3);

  --btn-bg: var(--o-color-normal1);
  --btn-bg-hover: var(--o-color-primary2);
  --btn-bg-active: var(--o-color-primary3);

  --btn-bd: var(--o-color-normal1);
  --btn-bd-hover: var(--o-color-primary2);
  --btn-bd-active: var(--o-color-primary3);
}
.o-btn-primary {
  --btn-color: var(--o-color-primary1);
  --btn-color-hover: var(--o-color-primary2);
  --btn-color-active: var(--o-color-primary3);

  --btn-bg: var(--o-color-primary1);
  --btn-bg-hover: var(--o-color-primary2);
  --btn-bg-active: var(--o-color-primary3);

  --btn-bd: var(--o-color-primary1);
  --btn-bd-hover: var(--o-color-primary2);
  --btn-bd-active: var(--o-color-primary3);
}
.o-btn-success {
  --btn-color: var(--o-color-success1);
  --btn-color-hover: var(--o-color-success2);
  --btn-color-active: var(--o-color-success3);

  --btn-bg: var(--o-color-success1);
  --btn-bg-hover: var(--o-color-success2);
  --btn-bg-active: var(--o-color-success3);

  --btn-bd: var(--o-color-success1);
  --btn-bd-hover: var(--o-color-success2);
  --btn-bd-active: var(--o-color-success3);
}
.o-btn-warning {
  --btn-color: var(--o-color-warning1);
  --btn-color-hover: var(--o-color-warning2);
  --btn-color-active: var(--o-color-warning3);

  --btn-bg: var(--o-color-warning1);
  --btn-bg-hover: var(--o-color-warning2);
  --btn-bg-active: var(--o-color-warning3);

  --btn-bd: var(--o-color-warning1);
  --btn-bd-hover: var(--o-color-warning2);
  --btn-bd-active: var(--o-color-warning3);
}
.o-btn-danger {
  --btn-color: var(--o-color-danger1);
  --btn-color-hover: var(--o-color-danger2);
  --btn-color-active: var(--o-color-danger3);

  --btn-bg: var(--o-color-danger1);
  --btn-bg-hover: var(--o-color-danger2);
  --btn-bg-active: var(--o-color-danger3);

  --btn-bd: var(--o-color-danger1);
  --btn-bd-hover: var(--o-color-danger2);
  --btn-bd-active: var(--o-color-danger3);
}

.o-btn-fill {
  --btn-color: var(--o-color-text1-inverse);
  --btn-color-hover: var(--o-color-text1-inverse);
  --btn-color-active: var(--o-color-text1-inverse);

  &.o-btn-normal:not(.o-btn-disabled) {
    --btn-color: var(--o-color-text2);
  }
}

.o-btn-disabled {
  --btn-color: var(--o-color-text4);
  --btn-bg: var(--o-color-normal4);
  --btn-bd: var(--o-color-normal4);
}
.o-btn-text {
  --btn-color-hover: var(--o-color-text1-inverse);
  --btn-color-active: var(--o-color-text1-inverse);
}

.o-btn-small {
  --btn-radius: var(--o-radius-s);
}
.o-btn-medium {
  --btn-radius: var(--o-radius-m);
}
.o-btn-large {
  --btn-radius: var(--o-radius-l);
}
