.o-btn {
  --btn-color: var(--o-color-info1);
  --btn-color-hover: var(--o-color-info1);
  --btn-color-active: var(--o-color-info1);

  --btn-bd-color: var(--o-color-control1);
  --btn-bd-color-hover: var(--o-color-control2);
  --btn-bd-color-active: var(--o-color-control3);

  &.o-btn-solid {
    --btn-bg-color: var(--o-color-control1-light);
    --btn-bg-color-hover: var(--o-color-control2-light);
    --btn-bg-color-active: var(--o-color-control3-light);

    --btn-bd-color: var(--o-color-control1-light);
    --btn-bd-color-hover: var(--o-color-control2-light);
    --btn-bd-color-active: var(--o-color-control3-light);
  }

  &.o-btn-text {
    --btn-bg-color-hover: var(--o-color-control1-light);
    --btn-bg-color-active: var(--o-color-control2-light);
  }

  &.o-btn-disabled {
    --btn-color: var(--o-color-info4);
    --btn-bg-color: var(--o-color-control4-light);
    --btn-bd-color: var(--o-color-control4-light);
  }
}
.o-btn-primary {
  --btn-color: var(--o-color-primary1);
  --btn-color-hover: var(--o-color-primary1);
  --btn-color-active: var(--o-color-primary1);

  --btn-bd-color: var(--o-color-primary1);
  --btn-bd-color-hover: var(--o-color-primary2);
  --btn-bd-color-active: var(--o-color-primary3);

  &.o-btn-solid {
    --btn-bg-color: var(--o-color-primary1);
    --btn-bg-color-hover: var(--o-color-primary2);
    --btn-bg-color-active: var(--o-color-primary3);

    --btn-bd-color: var(--o-color-primary1);
    --btn-bd-color-hover: var(--o-color-primary2);
    --btn-bd-color-active: var(--o-color-primary3);
  }

  &.o-btn-text {
    --btn-bg-color-hover: var(--o-color-primary1-light);
    --btn-bg-color-active: var(--o-color-primary2-light);
  }

  &.o-btn-disabled {
    --btn-color: var(--o-color-primary4);
    --btn-bg-color: var(--o-color-primary4);
    --btn-bd-color: var(--o-color-primary4);
  }
}
.o-btn-success {
  --btn-color: var(--o-color-success1);
  --btn-color-hover: var(--o-color-success1);
  --btn-color-active: var(--o-color-success1);

  --btn-bd-color: var(--o-color-success1);
  --btn-bd-color-hover: var(--o-color-success2);
  --btn-bd-color-active: var(--o-color-success3);

  &.o-btn-solid {
    --btn-bg-color: var(--o-color-success1);
    --btn-bg-color-hover: var(--o-color-success2);
    --btn-bg-color-active: var(--o-color-success3);

    --btn-bd-color: var(--o-color-success1);
    --btn-bd-color-hover: var(--o-color-success2);
    --btn-bd-color-active: var(--o-color-success3);
  }

  &.o-btn-text {
    --btn-bg-color-hover: var(--o-color-success1-light);
    --btn-bg-color-active: var(--o-color-success2-light);
  }

  &.o-btn-disabled {
    --btn-color: var(--o-color-success4);
    --btn-bg-color: var(--o-color-success4);
    --btn-bd-color: var(--o-color-success4);
  }
}
.o-btn-warning {
  --btn-color: var(--o-color-warning1);
  --btn-color-hover: var(--o-color-warning1);
  --btn-color-active: var(--o-color-warning1);

  --btn-bd-color: var(--o-color-warning1);
  --btn-bd-color-hover: var(--o-color-warning2);
  --btn-bd-color-active: var(--o-color-warning3);

  &.o-btn-solid {
    --btn-bg-color: var(--o-color-warning1);
    --btn-bg-color-hover: var(--o-color-warning2);
    --btn-bg-color-active: var(--o-color-warning3);

    --btn-bd-color: var(--o-color-warning1);
    --btn-bd-color-hover: var(--o-color-warning2);
    --btn-bd-color-active: var(--o-color-warning3);
  }

  &.o-btn-text {
    --btn-bg-color-hover: var(--o-color-warning1-light);
    --btn-bg-color-active: var(--o-color-warning2-light);
  }

  &.o-btn-disabled {
    --btn-color: var(--o-color-warning4);
    --btn-bg-color: var(--o-color-warning4);
    --btn-bd-color: var(--o-color-warning4);
  }
}
.o-btn-danger {
  --btn-color: var(--o-color-danger1);
  --btn-color-hover: var(--o-color-danger1);
  --btn-color-active: var(--o-color-danger1);

  --btn-bd-color: var(--o-color-danger1);
  --btn-bd-color-hover: var(--o-color-danger2);
  --btn-bd-color-active: var(--o-color-danger3);

  &.o-btn-solid {
    --btn-bg-color: var(--o-color-danger1);
    --btn-bg-color-hover: var(--o-color-danger2);
    --btn-bg-color-active: var(--o-color-danger3);

    --btn-bd-color: var(--o-color-danger1);
    --btn-bd-color-hover: var(--o-color-danger2);
    --btn-bd-color-active: var(--o-color-danger3);
  }

  &.o-btn-text {
    --btn-bg-color-hover: var(--o-color-danger1-light);
    --btn-bg-color-active: var(--o-color-danger2-light);
  }

  &.o-btn-disabled {
    --btn-color: var(--o-color-danger4);
    --btn-bg-color: var(--o-color-danger4);
    --btn-bd-color: var(--o-color-danger4);
  }
}

.o-btn-solid {
  --btn-color: var(--o-color-info1-inverse);
  --btn-color-hover: var(--o-color-info1-inverse);
  --btn-color-active: var(--o-color-info1-inverse);

  &.o-btn-normal:not(.o-btn-disabled) {
    --btn-color: var(--o-color-info1);
    --btn-color-hover: var(--o-color-info1);
    --btn-color-active: var(--o-color-info1);
  }
  &.o-btn-disabled {
    --btn-color: var(--o-color-info1-inverse);
    &.o-btn-normal {
      --btn-color: var(--o-color-info4);
    }
  }
}

.o-btn-small {
  --btn-radius: var(--o-radius-s);
}
.o-btn-medium {
  --btn-radius: var(--o-radius-m);
}
.o-btn-large {
  --btn-radius: var(--o-radius-l);
}
