@use './var.scss';

.o-table {
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  th {
    text-align: left;
    font-weight: normal;
  }

  th,
  td {
    padding: 13px 16px;
    font-size: var(--table-text-size);
    line-height: var(--table-text-height);
  }

  th {
    background-color: var(--table-head-bg);
  }

  tbody tr:hover {
    background-color: var(--table-row-hover);
  }

  &.is-small {
    th,
    td {
      padding: 7px 8px;
      font-size: var(--table-text-size_small);
      line-height: var(--table-text-height_small);
    }
    &.is-border {
      th,
      td {
        padding-bottom: 4px;
      }
    }
  }
}

// border
.o-table-border-all,
.o-table-border-frame {
  border: var(--table-border);
  tr:last-child {
    td {
      border-bottom: none;
    }
  }
}
.o-table-border-all,
.o-table-border-row {
  th,
  td {
    border-bottom: var(--table-border);
    padding: 13px 16px 12px;

    &.is-small {
      & {
        padding: 7px 8px 6px;
      }
    }
  }
}

.o-table-border-all,
.o-table-border-column {
  th,
  td {
    border-right: var(--table-border);

    &.last {
      border-right: none;
    }
  }
}

// tip
.o-table-tip-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  border-bottom: var(--table-border);
  font-size: var(--table-tip-text-size);
  line-height: var(--table-tip-text-height);
  color: var(--table-tip-color);
}

.o-table-loading-label {
  margin-left: 8px;
}
.o-table-pagination-wrap {
  margin-top: 12px;
  display: flex;
  justify-content: flex-end;
}
