@use './var.scss';
@use '../../style/mixin.scss' as *;

.o-loading-main {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--loading-color);
}
.o-loading-icon {
  font-size: var(--loading-icon-size);
  color: var(--loading-icon-color);
  + .o-loading-label {
    margin-left: 4px;
  }
}
.o-loading-label {
  font-size: var(--loading-txt-size);
  line-height: var(--loading-txt-height);
  color: var(--o-loading-color);
}
