.o-loading {
  --loading-color: var(--o-color-info1-inverse);
  --loading-mask: var(--o-color-mask1);
  --loading-icon-size: var(--o-icon_size-xs);
  --loading-icon-color: var(--o-color-info2);
  --loading-z-index: calc(var(--o-z-index-base) + 10);
  --loading-txt-size: var(--o-font_size-text1);
  --loading-txt-height: var(--o-line_height-text1);
}
