.o-breadcrumb {
  --breadcrumb-color: var(--o-color-info3);
  --breadcrumb-color-hover: var(--o-color-info1);
  --breadcrumb-color-active: var(--o-color-info1);
  --breadcrumb-color-selected: var(--o-color-info1);

  --breadcrumb-text-size: var(--o-font_size-tip1);
  --breadcrumb-text-height: var(--o-line_height-tip1);

  --breadcrumb-gap: 4px;
  --breadcrumb-seperator-size: var(--o-icon_size_control-m);

  --breadcrumb-label-max-width: 140px;
}
