.o-rate {
  --rate-color: var(--o-color-info1);
  --rate-color-active: var(--o-color-major1);

  --rate-height: var(--o-font_size-h1);
}

.o-rate-size-large {
  --rate-height: var(--o-font_size-display3);
}

.o-rate-size-small {
  --rate-height: var(--o-font_size-h4);
}

.o-rate-primary {
  --rate-color-active: var(--o-color-primary1);
}

.o-rate-success {
  --rate-color-active: var(--o-color-success1);
}

.o-rate-warning {
  --rate-color-active: var(--o-color-warning1);
}

.o-rate-danger {
  --rate-color-active: var(--o-color-danger1);
}
