.o-rate {
  --rate-color: var(--o-color-control1-light);
  --rate-color-active: var(--o-color-warning1);
  --rate-size: var(--o-icon_size-xs);
  --rate-gap: 0;
}

.o-rate-large {
  --rate-size: var(--o-icon_size-s);
}

.o-rate-size-small {
  --rate-size: var(--o-icon_size-xxs);
}

.o-rate-primary {
  --rate-color-active: var(--o-color-primary1);
}

.o-rate-success {
  --rate-color-active: var(--o-color-success1);
}

.o-rate-warning {
  --rate-color-active: var(--o-color-warning1);
}

.o-rate-danger {
  --rate-color-active: var(--o-color-danger1);
}
