.o-rate {
  --rate-color: var(--o-color-control1-light);
  --rate-color-active: var(--o-color-warning1);

  --rate-gap: var(--o-gap-2);
}

.o-rate-medium {
  --rate-height: var(--o-font_size-h1);
}

.o-rate-large {
  --rate-height: var(--o-font_size-display3);
}

.o-rate-size-small {
  --rate-height: var(--o-font_size-text2);
}

.o-rate-primary {
  --rate-color-active: var(--o-color-primary1);
}

.o-rate-success {
  --rate-color-active: var(--o-color-success1);
}

.o-rate-warning {
  --rate-color-active: var(--o-color-warning1);
}

.o-rate-danger {
  --rate-color-active: var(--o-color-danger1);
}
