@use '../../_styles/mixin.scss' as *;
@use './var.scss';

.o-dp-icon {
  display: flex;
  align-items: center;
  font-size: var(--icon-size);
  color: var(--icon-color);
}

.o-range-separator {
  display: flex;
  align-items: center;
  justify-content: center;
}
.o-range-separator-line {
  margin: 0 8px;
}
