@use '../../_styles/mixin.scss' as *;
@use './var.scss';

.o-date-pane {
  color: var(--dp-panel-color);
  font-size: var(--dp-panel-text-size);
  line-height: var(--dp-panel-text-height);
}
.o-dp-pane-head {
  display: flex;
  align-items: center;
  padding: 12px 24px;
}
.o-dp-h-value {
  flex: 1;
  text-align: center;
}
.o-dp-h-prev,
.o-dp-h-next {
  display: flex;
  align-items: center;
  font-size: var(--dp-panel-icon-size);
  user-select: none;
  > * + * {
    margin-left: 4px;
  }
}

// pane body
.o-dp-pane-main {
  padding: 16px 16px 12px;
  .o-dp-pane-head + & {
    border-top: 1px solid var(--o-color-control1-light);
  }
}
.o-dp-week-head,
.o-dp-week-list {
  display: flex;
}
.o-dp-week-list {
  margin-top: 12px;
}
.o-dp-cell {
  flex: 1;
  text-align: center;
  height: 24px;
  cursor: pointer;
  --cell-today-size: 4px;
  display: flex;

  &:hover {
    --dp-cell-val-bg-color: var(--dp-cell-bg-color-hover);
  }
}
.o-dp-cell-range-start,
.o-dp-cell-range-end,
.o-dp-cell-selected {
  &,
  &:hover {
    color: var(--dp-cell-color-selected);
    --dp-cell-val-bg-color: var(--dp-cell-bg-color-selected);
  }
}
.o-dp-cell-in-range {
  background-color: var(--dp-cell-in-range-bg-color);
}
.o-dp-cell-range-start {
  border-top-left-radius: var(--dp-cell-radius-selected);
  border-bottom-left-radius: var(--dp-cell-radius-selected);
}

.o-dp-cell-today {
  position: relative;
  &::after {
    content: '';
    border-radius: 50%;
    width: var(--dp-cell-today-size);
    height: var(--dp-cell-today-size);
    background-color: var(--dp-cell-today-dot-color);
    position: absolute;
    left: 50%;
    bottom: -8px;
    margin-left: calc(-0.5 * var(--dp-cell-today-size));
  }
}

.o-dp-cell-out-view {
  color: var(--dp-panel-color-out);
  &,
  &:hover {
    color: var(--dp-panel-color-out);
    --dp-cell-val-bg-color: transparent;
  }
}

.o-dp-cell-range-end {
  border-top-right-radius: var(--dp-cell-radius-selected);
  border-bottom-right-radius: var(--dp-cell-radius-selected);
}
.o-dp-cell-val {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  background-color: var(--dp-cell-val-bg-color);
}

// pane foot
.o-dp-pane-foot {
  padding: 12px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--o-color-control1-light);
  &.has-confirm {
    justify-content: space-between;
  }
}

.o-dp-pane-foot-extra {
  border-top: 1px solid var(--o-color-control1-light);
}

.o-dp-pane-shortcut {
  display: flex;
  flex-wrap: wrap;
}
.o-dp-pane-shortcut-item {
  margin-right: 4px;
}
