@use '../../_styles/mixin.scss' as *;
@use './var.scss';

.o-picker-pane {
  color: var(--picker-panel-color);
  font-size: var(--picker-panel-text-size);
  line-height: var(--picker-panel-text-height);
}
.o-picker-wrap {
  display: flex;
  height: 321px;
}

.o-picker-head {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  height: var(--picker-head-height);
  flex-shrink: 0;
}

.o-picker-value {
  flex: 1;
  text-align: center;
}

.o-picker-main {
  .o-picker-head + & {
    border-top: 1px solid var(--o-color-control1-light);
  }
}

.o-picker-head-btns {
  display: flex;
  align-items: center;
  user-select: none;
}

.o-picker-btn {
  --icon-size: var(--picker-panel-icon-size);
  + .o-picker-btn {
    margin-left: 4px;
  }
}

.o-picker-cell {
  text-align: center;
  height: 24px;
  cursor: pointer;
  --cell-today-size: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;

  &:hover {
    --picker-cell-val-bg-color: var(--picker-cell-bg-color-hover);
  }
}

.o-picker-cell-val {
  padding: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  background-color: var(--picker-cell-val-bg-color);
  flex: 1;
}

.o-picker-cell-range-start,
.o-picker-cell-range-end,
.o-picker-cell-selected {
  @include me-on-hover {
    color: var(--picker-cell-color-selected);
    --picker-cell-val-bg-color: var(--picker-cell-bg-color-selected);
  }
}
.o-picker-cell-in-range {
  background-color: var(--picker-cell-in-range-bg-color);
}
.o-picker-cell-range-start {
  border-top-left-radius: var(--picker-cell-radius-selected);
  border-bottom-left-radius: var(--picker-cell-radius-selected);
}

.o-picker-cell-range-end {
  border-top-right-radius: var(--picker-cell-radius-selected);
  border-bottom-right-radius: var(--picker-cell-radius-selected);
}

// pane foot
.o-picker-foot {
  padding: 12px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--o-color-control1-light);
  &.has-confirm {
    justify-content: space-between;
  }
}

.o-picker-extra {
  border-top: 1px solid var(--o-color-control1-light);
}

.o-picker-shortcut {
  display: flex;
  flex-wrap: wrap;
}
.o-picker-shortcut-item {
  margin-right: 4px;
}

// date picker
.o-picker-date {
  width: var(--picker-pane-date-width);
}

.o-pd-main {
  padding: 16px 16px 12px;
}

.o-pd-head,
.o-pd-week-list {
  display: flex;
}
.o-pd-week-list {
  margin-top: 12px;
}

.o-pd-cell-today {
  position: relative;
  &::after {
    content: '';
    border-radius: 50%;
    width: var(--picker-cell-today-size);
    height: var(--picker-cell-today-size);
    background-color: var(--picker-cell-today-dot-color);
    position: absolute;
    left: 50%;
    bottom: -8px;
    margin-left: calc(-0.5 * var(--picker-cell-today-size));
  }
}

.o-pd-cell-out-view {
  color: var(--picker-panel-color-out);

  @include me-on-hover {
    color: var(--picker-panel-color-out);
    --picker-cell-val-bg-color: transparent;
  }
}

// time pane
.o-picker-time {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &:not(:first-child) {
    border-left: var(--picker-col-bd);
  }
}
.o-pt-main {
  flex: 1;
  height: calc(100% - var(--picker-head-height));
  display: flex;
  padding: 4px 0;
}
.o-pt-col-wrap {
  height: 100%;
  + .o-pt-col-wrap {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 2px;
      bottom: 2px;
      border-left: var(--picker-col-bd);
    }
  }
}
.o-pt-col {
  width: var(--picker-pane-time-item-width);
}

.o-pt-cell {
  .o-picker-cell-val {
    flex: 0;
  }
}

.o-pt-cell-selected {
  @include me-on-hover {
    color: var(--picker-time-cell-color-selected);
    --picker-cell-val-bg-color: var(--picker-time-cell-bg-color-selected);
  }
}

.o-pt-col-align-top {
  &::after {
    content: '';
    display: block;
    height: calc(100% - var(--picker-time-cell-height));
  }
}
.o-pt-col-align-bottom {
  &::before {
    content: '';
    display: block;
    height: calc(100% - var(--picker-time-cell-height));
  }
}
.o-pt-col-align-center {
  &::before {
    content: '';
    display: block;
    height: calc(50% - var(--picker-time-cell-height) / 2);
  }
  &::after {
    content: '';
    display: block;
    height: calc(50% - var(--picker-time-cell-height) / 2);
  }
}
