.o-date-picker {
  --date-picker-color: var(--o-color-info2);
  --date-picker-color-disabled: var(--o-color-info4);
  --date-picker-placeholder: var(--o-color-info4);

  // --date-picker-bg-color: transparent;
  --date-picker-bg-color-hover: var(--o-color-control-light);
  --date-picker-bg-color-focus: var(--o-color-control-light);
}
.o-textarea-normal {
}
.o-textarea-success {
}
.o-textarea-warning {
}
.o-textarea-danger {
}

.o-textarea-size-small {
}
.o-textarea-size-medium {
}
.o-textarea-size-large {
}
