@use '../../_styles/mixin.scss' as *;

.o-table-medium {
  @include respond('<=laptop') {
    --table-text-size: var(--o-font_size-tip1);
    --table-text-height: var(--o-line_height-tip1);

    --table-head-cell-padding-y: 8px;
    --table-cell-padding-y: 8px;

    --table-edge-padding: 24px;
  }

  @include respond('<=pad') {
    --table-radius: var(--o-radius_control-s);

    --table-head-cell-padding-x: 12px;
    --table-cell-padding-x: 12px;

    --table-edge-padding: 20px;
  }

  @include respond('<=pad_v') {
    --table-text-size: var(--o-font_size-tip2);
    --table-text-height: var(--o-line_height-tip2);

    --table-head-cell-padding-x: 8px;
    --table-cell-padding-x: 8px;
    --table-edge-padding: 8px;
  }
}

.o-table-small {
  @include respond('<=pad') {
    --table-text-size: var(--o-font_size-tip2);
    --table-text-height: var(--o-line_height-tip2);
    --table-head-cell-padding-x: 8px;
    --table-cell-padding-x: 8px;

    --table-edge-padding: 8px;

    --table-radius: var(--o-radius_control-s);
  }
}
