@use '../../_styles/mixin.scss' as *;

.o-table {
  position: relative;

  table {
    width: 100%;
    border-spacing: 0;
  }

  thead {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-image: var(--o-color-main2, linear-gradient(to right, var(--o-color-control4), var(--o-color-control4)));
      // 利用背景图回根据dpr缩放，避免dpr>1时1px渲染放大
      background-size: 100% 1px;
    }
    // ios的table不兼容定位relative
    @supports (-webkit-overflow-scrolling: touch) {
      &:after {
        display: none;
      }
      th {
        border-bottom: var(--table-border);
      }
    }
  }

  th,
  td {
    box-sizing: border-box;
  }

  th {
    text-align: left;
    font-weight: 600;
    background-color: var(--table-head-bg);
    padding: var(--table-head-cell-padding);
    font-size: var(--table-head-text-size);
    line-height: var(--table-head-text-height);
    color: var(--table-head-color);
    height: var(--table-head-cell-height);
  }

  td {
    padding: var(--table-cell-padding);
    font-size: var(--table-text-size);
    line-height: var(--table-text-height);
    color: var(--table-cell-color);
    height: var(--table-cell-height);
  }

  th:first-child, td:first-child {
    padding-left: var(--table-edge-padding);
  }
  th:last-child, td:last-child {
    padding-right: var(--table-edge-padding);
  }

}
.o-table-highlight {
  @media (hover: hover) {
    background-color: var(--table-row-hover);
  }
  @media (hover: none) {
    background-color: var(--table-row-active);
  }
}
.o-table-wrap {
  border-radius: var(--table-radius);
  overflow: hidden;
  background-color: var(--table-bg-color);
}

// border
.o-table-border-all,
.o-table-border-frame {
  border: var(--table-border);
}
.o-table-border-all,
.o-table-border-row {
  // th,
  td {
    border-bottom: var(--table-border);
  }
}

.o-table-border-all,
.o-table-border-frame,
.o-table-border-row {
  tr.o-row-last {
    td {
      border-bottom-color: transparent;
    }
  }
  td.o-cell-last-row {
    border-bottom-color: transparent;
  }
}

.o-table-border-all,
.o-table-border-column {
  th,
  td {
    border-right: var(--table-border);

    &.o-cell-last-col {
      border-right-color: transparent;
    }
  }
}

// tip
.o-table-tip-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--table-tip-text-size);
  line-height: var(--table-tip-text-height);
  color: var(--table-tip-color);
  min-height: var(--table-body-min-height);
}
.o-table-loading-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--table-tip-text-size);
  line-height: var(--table-tip-text-height);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--table-loading-mask);
  color: var(--table-loading-color);
  border-radius: var(--table-radius);
}

.o-table-loading-label {
  margin-left: 8px;
}
