.o-table {
  --table-text-size: var(--o-font_size-text1);
  --table-text-height: var(--o-line_height-text1);

  --table-head-text-size: var(--table-text-size);
  --table-head-text-height: var(--table-text-height);

  --table-color: var(--o-color-info2);

  --table-tip-text-size: var(--o-font_size-tip1);
  --table-tip-text-height: var(--o-line_height-tip1);
  --table-tip-color: var(--o-color-info3);

  --table-head-bg: var(--o-color-control1-light);
  --table-row-hover: var(--o-color-control2-light);
  --table-row-active: var(--o-color-control3-light);

  --table-border: 1px solid var(--o-color-control4);
  --table-loading-mask: var(--o-color-mask2);
  --table-loading-color: var(--o-color-info2);

  --table-body-min-height: 200px;

  --table-bg-color: var(--o-color-control-light);

  --table-radius: var(--o-radius_control-m);

  --table-head-cell-height: 48px;
  --table-cell-height: 56px;

  --table-head-cell-padding: 12px 16px;
  --table-cell-padding: 16px 16px;

  --table-edge-padding: 40px;
}

.o-table-small {
  --table-text-size: var(--o-font_size-text1);
  --table-text-height: var(--o-line_height-text1);

  --table-head-text-size: var(--table-text-size);
  --table-head-text-height: var(--table-text-height);

  --table-radius: var(--o-radius_control-m);

  --table-head-cell-height: 40px;
  --table-cell-height: 48px;

  --table-head-cell-padding: 8px 12px;
  --table-cell-padding: 12px 12px;

  --table-edge-padding: 40px;
}
