@use '../../_styles/mixin.scss' as *;

@include respond-to('pad_v-pc_s') {
  .o-message.o-message-colorful {
    --message-padding: 4px 8px 8px;
  }
}

@include respond-to('laptop') {
  .o-message {
    --message-padding: 7px 12px;
    --message-gap: 12px;
  }
}

@include respond-to('<=pad') {
  .o-message {
    --message-text-size: var(--o-font_size-tip2);
    --message-text-height: var(--o-line_height-tip2);

    --message-title-size: var(--o-font_size-tip2);
    --message-title-height: var(--o-line_height-tip2);

    --message-padding: 7px 12px;
    --message-gap: 8px;
  }
}

@include respond-to('<=pad_v') {
  .o-message-colorful {
    --message-padding: 4px 12px 8px;
  }
}