@use './var.scss';

.o-input {
  cursor: pointer;
  color: var(--input-color);
  display: inline-flex;
  height: var(--input-height);
  font-size: var(--input-text-size);
  line-height: var(--input-text-height);
}
.o-input-wrap {
  display: flex;
  padding: var(--input-padding);
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: var(--input-radius);
  border: 1px solid var(--input-bd);
  background-color: var(--input-bg);

  &:not(.is-readonly) {
    &:hover {
      border-color: var(--input-bd-hover);
      background-color: var(--input-bg-hover);
    }
    &.is-focus {
      border-color: var(--input-bd-focus);
      background-color: var(--input-bg-focus);
    }
  }

  &.has-prepend {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &.has-append {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.o-input-input {
  outline: none;
  border: none;
  color: inherit;
  cursor: inherit;
  background-color: transparent;
  display: inline-flex;
  // caret-color: var(--o-color-primary1);
  padding: 0;
  line-height: inherit;
  height: 100%;
  width: 100%;
  font-size: inherit;
  min-width: 20px;
  &::-webkit-input-placeholder {
    color: var(--input-placeholder);
  }
}

.o-input-clear {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.1);
  transition: all var(--o-duration-m1) var(--o-easing-standard-in);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--input-icon-color);
  background-color: var(--input-icon-bg);
  border-radius: 50%;

  &:hover {
    color: var(--input-icon-color-hover);
  }
  .o-input-suffix-wrap + & {
    position: absolute;
    right: 0;
  }
}

.o-input-disabled {
  .o-input-wrap {
    color: var(--input-color-disabled);
    cursor: not-allowed;
  }
}

.o-input-clearable {
  &:hover {
    .o-input-suffix-wrap {
      visibility: hidden;
      opacity: 0;
    }
    .o-input-clear {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }
  }
}

.o-input-suffix-wrap {
  transition: all var(var(--o-duration-m1)) var(--o-easing-standard-out);
}
.o-input-suffix {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  position: relative;
  margin-left: 4px;
}
.o-input-prefix {
  display: flex;
  align-items: center;
  margin-right: 4px;
}

.o-input-clear-icon {
  stroke-width: 0.5px;
}

.o-input-append,
.o-input-prepend {
  display: flex;
  align-items: center;
}

.o-input-append {
  border: 1px solid var(--o-color-border2);
  border-left: 0;
  flex-shrink: 0;
  padding: var(--input-append-padding);
  border-top-right-radius: var(--input-radius);
  border-bottom-right-radius: var(--input-radius);
}

.o-input-input-wrap {
  position: relative;
}
.o-input-mirror {
  white-space: pre;
  line-height: inherit;
  display: inline-flex;
  align-items: center;
  height: 100%;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 100%;
  pointer-events: none;
}

.o-input-prepend {
  border: 1px solid var(--o-color-border2);
  border-right: 0;
  flex-shrink: 0;
  padding: var(--input-prepend-padding);
  border-top-left-radius: var(--input-radius);
  border-bottom-left-radius: var(--input-radius);
}
