@use '../../style/mixin.scss' as *;
@use './var.scss';

.o-input {
  cursor: pointer;
  color: var(--input-color);
  display: inline-flex;
  height: var(--input-height);
  font-size: var(--input-text-size);
  line-height: var(--input-text-height);
}
.o-input-disabled {
  --input-color: var(--input-color-disabled);
}
.o-input-wrap {
  display: flex;
  padding: var(--input-padding);
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: var(--input-radius);
  border: 1px solid var(--input-bd-color);
  background-color: var(--input-bg-color);
  @include hover {
    &:hover {
      border-color: var(--input-bd-color-hover);
      background-color: var(--input-bg-color-hover);
    }
  }

  &.is-focus {
    border-color: var(--input-bd-color-focus);
    background-color: var(--input-bg-color-focus);
  }
  &.is-disabled,
  &.is-readonly {
    border-color: var(--input-bd-color-disabled);
    background-color: var(--input-bg-color-disabled);
  }
  &.is-readonly {
    cursor: text;
  }
  &.is-disabled {
    cursor: not-allowed;
  }

  &.has-prepend {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &.has-append {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.o-input-input-wrap {
  width: 100%;
}
.o-input-input {
  outline: none;
  border: none;
  color: inherit;
  cursor: inherit;
  background-color: transparent;
  display: inline-flex;
  padding: 0;
  line-height: inherit;
  height: 100%;
  width: 100%;
  font-size: inherit;
  min-width: 20px;
  &::-webkit-input-placeholder {
    color: var(--input-placeholder);
  }
}

.o-input-clear {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.1);
  transition: all var(--o-duration-m1) var(--o-easing-standard-in);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--input-icon-color);
  background-color: var(--input-icon-bg-color);
  border-radius: 50%;
  @include hover {
    &:hover {
      color: var(--input-icon-color-hover);
    }
  }
  .o-input-suffix-wrap + & {
    position: absolute;
    right: 0;
  }
}

.o-input-clearable {
  @include hover {
    &:hover {
      .o-input-suffix-wrap {
        visibility: hidden;
        opacity: 0;
      }
      .o-input-clear {
        visibility: visible;
        opacity: 1;
        transform: scale(1);

        &:hover {
          transform: rotate(180deg) scale(1);
        }
      }
    }
  }
  @include noneHover {
    .o-input-suffix-wrap {
      visibility: hidden;
      opacity: 0;
    }
    .o-input-clear {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }
  }
}

.o-input-suffix-wrap {
  transition: all var(--o-duration-m1) var(--o-easing-standard-out);
}
.o-input-suffix {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  position: relative;
  margin-left: 4px;
}
.o-input-prefix {
  display: flex;
  align-items: center;
  margin-right: 4px;
}

.o-input-clear-icon {
  stroke-width: 0.5px;
}

.o-input-append,
.o-input-prepend {
  display: flex;
  align-items: center;
  background-color: var(--input-prepend-append-bg-color);
  border: 1px solid var(--input-prepend-append-bd-color);
}

.o-input-append {
  flex-shrink: 0;
  padding: var(--input-append-padding);
  border-top-right-radius: var(--input-radius);
  border-bottom-right-radius: var(--input-radius);
}

.o-input-prepend {
  flex-shrink: 0;
  padding: var(--input-prepend-padding);
  border-top-left-radius: var(--input-radius);
  border-bottom-left-radius: var(--input-radius);
}
.o-input-solid {
  .o-input-prepend {
    border-width: 0 1px 0 0;
  }
  .o-input-append {
    border-width: 0 0 0 1px;
  }
}

.o-input-outline {
  .o-input-prepend {
    border-right: 0;
  }
  .o-input-append {
    border-left: 0;
  }
}
.o-input-input-wrap {
  position: relative;
}
.o-input-mirror {
  white-space: pre;
  line-height: inherit;
  display: inline-flex;
  align-items: center;
  height: 100%;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 100%;
  pointer-events: none;
}

.o-input-eye {
  margin-left: 4px;
  display: flex;
  align-items: center;
}

input[type='password'] {
  font-family: Arial, 'Helvetica Neue', Helvetica, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
