.o-input {
  --input-color: var(--o-color-info2);
  --input-color-disabled: var(--o-color-info4);
  --input-placeholder: var(--o-color-info4);

  --input-bg-color: transparent;
  --input-bg-color-hover: var(--o-color-control-light);
  --input-bg-color-focus: var(--o-color-control-light);

  --input-prepend-append-bd-color: var(--o-color-control1);
  --input-prepend-append-bd-color-disabled: var(--o-color-control4-light);

  --o-input-icon-size: var(--o-icon_size-s);
}

.o-input-solid {
  --input-prepend-append-bg-color: var(--o-color-control1-light);
  --input-prepend-append-bd-color: var(--o-color-control2-light);
}

.o-input-normal {
  --input-bd-color: var(--o-color-control1);
  --input-bd-color-hover: var(--o-color-primary2);
  --input-bd-color-focus: var(--o-color-primary3);
  --input-bd-color-disabled: var(--o-color-control4);
  &.o-input-solid {
    --input-bd-color: var(--o-color-control1-light);
    --input-bd-color-hover: var(--o-color-control2-light);
    --input-bd-color-focus: var(--o-color-primary3-light);
    --input-bd-color-disabled: var(--o-color-control4-light);

    --input-bg-color: var(--o-color-control1-light);
    --input-bg-color-hover: var(--o-color-control-light);
    --input-bg-color-disabled: var(--o-color-control4-light);
  }
}
.o-input-success {
  --input-bd-color: var(--o-color-success1);
  --input-bd-color-hover: var(--o-color-success2);
  --input-bd-color-focus: var(--o-color-success3);
  --input-bd-color-disabled: var(--o-color-success4);

  &.o-input-solid {
    --input-bd-color: var(--o-color-success1-light);
    --input-bd-color-hover: var(--o-color-success2-light);
    --input-bd-color-focus: var(--o-color-success3-light);
    --input-bd-color-disabled: var(--o-color-success4-light);

    --input-bg-color: var(--o-color-success1-light);
    --input-bg-color-hover: var(--o-color-success-light);
    --input-bg-color-disabled: var(--o-color-success4-light);
  }
}

.o-input-warning {
  --input-bd-color: var(--o-color-warning1);
  --input-bd-color-hover: var(--o-color-warning2);
  --input-bd-color-focus: var(--o-color-warning3);
  --input-bd-color-disabled: var(--o-color-warning4);

  &.o-input-solid {
    --input-bd-color: var(--o-color-warning1-light);
    --input-bd-color-hover: var(--o-color-warning2-light);
    --input-bd-color-focus: var(--o-color-warning3-light);
    --input-bd-color-disabled: var(--o-color-warning4-light);

    --input-bg-color: var(--o-color-warning1-light);
    --input-bg-color-hover: var(--o-color-warning-light);
    --input-bg-color-disabled: var(--o-color-warning4-light);
  }
}

.o-input-danger {
  --input-bd-color: var(--o-color-danger1);
  --input-bd-color-hover: var(--o-color-danger2);
  --input-bd-color-focus: var(--o-color-danger3);
  --input-bd-color-disabled: var(--o-color-danger4);

  &.o-input-solid {
    --input-bd-color: var(--o-color-danger1-light);
    --input-bd-color-hover: var(--o-color-danger2-light);
    --input-bd-color-focus: var(--o-color-danger3-light);
    --input-bd-color-disabled: var(--o-color-danger4-light);

    --input-bg-color: var(--o-color-danger1-light);
    --input-bg-color-hover: var(--o-color-danger-light);
    --input-bg-color-disabled: var(--o-color-danger4-light);
  }
}

.o-input-small {
  --input-height: var(--o-control_size-s);
  --input-text-size: var(--o-font_size-tip1);
  --input-text-height: var(--o-line_height-tip1);

  --input-padding: 0 8px;
  --input-append-padding: 0 4px;
  --input-prepend-padding: 0 4px;
  --input-radius: var(--o-radius-control-xs);

  &.o-input-round-pill {
    --input-append-padding: 0 6px 0 4px;
    --input-prepend-padding: 0 4px 0 6px;
  }
}

.o-input-medium {
  --input-height: var(--o-control_size-m);
  --input-text-size: var(--o-font_size-text1);
  --input-text-height: var(--o-line_height-text1);

  --input-padding: 0 12px;
  --input-append-padding: 0 8px;
  --input-prepend-padding: 0 8px;
  --input-radius: var(--o-radius-control-s);

  &.o-input-round-pill {
    --input-append-padding: 0 12px 0 8px;
    --input-prepend-padding: 0 8px 0 12px;
  }
}

.o-input-large {
  --input-height: var(--o-control_size-l);
  --input-text-size: var(--o-font_size-text2);
  --input-text-height: var(--o-line_height-text2);

  --input-padding: 0 16px;
  --input-append-padding: 0 12px;
  --input-prepend-padding: 0 12px;
  --input-radius: var(--o-radius-control-l);

  &.o-input-round-pill {
    --input-append-padding: 0 16px 0 12px;
    --input-prepend-padding: 0 12px 0 16px;
  }
}

.o-input-round-pill {
  --input-radius: var(--o-control_size-l);
}
