.o-input {
  --input-text-size-s: var(--o-font_size-tip1);
  --input-text-height-s: var(--o-line_height-tip1);
  --input-text-size-m: var(--o-font_size-text);
  --input-text-height-m: var(--o-line_height-text);
  --input-text-size-l: var(--o-font_size-h4);
  --input-text-height-l: var(--o-line_height-h4);

  --input-height-s: var(--o-size-s);
  --input-height-m: var(--o-size-m);
  --input-height-l: var(--o-size-l);

  --input-radius-s: var(--o-radius-s);
  --input-radius-m: var(--o-radius-s);
  --input-radius-l: var(--o-radius-s);

  --input-border: var(--o-color-info1);
  --input-border-hover: var(--o-color-primary2);
  --input-border-focus: var(--o-color-primary3);
  --input-border-disabled: var(--o-color-info1);

  --input-bg: var(--o-color-bg1);
  --input-bg-hover: var(--o-color-bg3);
  --input-bg-focus: var(--o-color-bg3);
  --input-bg-disabled: var(--o-color-info4);

  --input-color: var(--o-color-text2);
  --input-color-disabled: var(--o-color-text4);

  --input-icon-color: var(--o-color-text3);
  --input-icon-color-hover: var(--o-color-primary1);
  --input-icon-bg: var(--o-color-bg4);

  --input-border-success: var(--o-color-success1);
  --input-border-success-hover: var(--o-color-success2);
  --input-border-success-focus: var(--o-color-success3);
  --input-border-warning: var(--o-color-warning1);
  --input-border-warning-hover: var(--o-color-warning2);
  --input-border-warning-focus: var(--o-color-warning3);
  --input-border-error: var(--o-color-danger1);
  --input-border-error-hover: var(--o-color-danger2);
  --input-border-error-focus: var(--o-color-danger3);

  --input-bg-success: var(--o-color-bg1);
  --input-bg-success-hover: var(--o-color-bg1);
  --input-bg-success-focus: var(--o-color-bg1);
  --input-bg-warning: var(--o-color-bg1);
  --input-bg-warning-hover: var(--o-color-bg1);
  --input-bg-warning-focus: var(--o-color-bg1);
  --input-bg-error: var(--o-color-bg1);
  --input-bg-error-hover: var(--o-color-bg1);
  --input-bg-error-focus: var(--o-color-bg1);

  --input-color-success: var(--o-color-text2);
  --input-color-warning: var(--o-color-text2);
  --input-color-error: var(--o-color-text2);
}
