@use '../../_styles/mixin.scss' as *;

@include respond-to('<=pc_s') {
  .o-link-large {
    --link-icon-size: var(--o-icon_size-xs);
    font-size: var(--o-font_size-tip1);
    line-height: var(--o-line_height-tip1);
    --link-icon-align: -0.08em;
  }
}
