@use '../../style/mixin.scss' as *;
@use './var.scss';
/*
 * ::-webkit-scrollbar 兼容chrome 4+, edge 79+, safari 4+, opera 15+, 
 * scrollbar-width 兼容firefox 64+
 */

.o-scroller {
  position: relative;
  display: flex;

  > .o-scrollbar-dragging {
    opacity: 1;
  }

  &.o-scroller-show-x {
    > .o-scrollbar-x {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &.o-scroller-show-y {
    > .o-scrollbar-y {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.o-scroller-hover-show {
  > .o-scrollbar {
    opacity: 0;
    pointer-events: none;
  }

  @include hover {
    &:hover {
      > .o-scrollbar {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}

.o-scroller-always-show {
  > .o-scrollbar {
    opacity: 1;
    pointer-events: auto;
  }
}

.o-scroller-container {
  flex: 1; // 撑满父容器
  overflow: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
  &.is-x-disabled {
    overflow-x: hidden;
  }
  &.is-y-disabled {
    overflow-y: hidden;
  }
}

.o-scrollbar {
  // 默认隐藏
  opacity: 0;
  pointer-events: none;

  position: absolute;
  background-color: var(--scrollbar-bg-color);
  transition: opacity var(--o-easing-standard-in) var(--o-duration-m1) var(--scrollbar-delay);
  @include hover {
    &:hover {
      .o-scrollbar-x-thumb-bar {
        height: var(--scrollbar-thumb-width-hover);
        margin-top: calc(var(--scrollbar-thumb-width-hover) / -2);
        background-color: var(--scrollbar-thumb-bg-color-hover);
      }
      .o-scrollbar-y-thumb-bar {
        width: var(--scrollbar-thumb-width-hover);
        margin-left: calc(var(--scrollbar-thumb-width-hover) / -2);
        background-color: var(--scrollbar-thumb-bg-color-hover);
      }
      .o-scrollbar-track {
        opacity: 1;
      }
    }
  }
}
.o-scrollbar-y {
  top: 50%;
  height: var(--scrollbar-height);
  transform: translateY(-50%);

  width: var(--scrollbar-width);
  left: var(--scrollbar-y-left);
  right: var(--scrollbar-y-right);
}

.o-scrollbar-x {
  left: 50%;
  width: var(--scrollbar-height);
  transform: translateX(-50%);

  top: var(--scrollbar-x-top);
  bottom: var(--scrollbar-x-bottom);
  height: var(--scrollbar-width);
}

.o-scrollbar-dragging {
  .o-scrollbar-track {
    opacity: 1;
  }
}
.o-scrollbar-track {
  position: relative;
  z-index: 0;
  border-radius: var(--scrollbar-thumb-radius);
  background-color: var(--scrollbar-track-bg-color);
  opacity: 0;
  transition: opacity var(--o-easing-standard-in) var(--o-duration-m1) var(--scrollbar-delay);
}
.o-scrollbar-y-track {
  width: var(--scrollbar-track-width);
  height: 100%;
  left: 50%;
  margin-left: calc(var(--scrollbar-track-width) / -2);
}
.o-scrollbar-x-track {
  height: var(--scrollbar-track-width);
  width: 100%;
  top: 50%;
  margin-top: calc(var(--scrollbar-track-width) / -2);
}

.o-scrollbar-thumb {
  position: absolute;
  z-index: 1;
}
.o-scrollbar-y-thumb {
  top: 0;
  left: 50%;
}
.o-scrollbar-x-thumb {
  left: 0;
  top: 50%;
}

.o-scrollbar-x-thumb-bar,
.o-scrollbar-y-thumb-bar {
  background-color: var(--scrollbar-thumb-bg-color);
  border-radius: var(--scrollbar-thumb-radius);
  transition: all var(--o-easing-standard-in) var(--o-duration-m1) var(--scrollbar-delay);
}
.o-scrollbar-x-thumb-bar {
  width: 100%;
  height: var(--scrollbar-thumb-width);
  margin-top: calc(var(--scrollbar-thumb-width) / -2);

  &.is-dragging {
    height: var(--scrollbar-thumb-width-hover);
    margin-top: calc(var(--scrollbar-thumb-width-hover) / -2);
    background-color: var(--scrollbar-thumb-bg-color-hover);
  }
}
.o-scrollbar-y-thumb-bar {
  width: var(--scrollbar-thumb-width);
  margin-left: calc(var(--scrollbar-thumb-width) / -2);
  height: 100%;
  &.is-dragging {
    width: var(--scrollbar-thumb-width-hover);
    margin-left: calc(var(--scrollbar-thumb-width-hover) / -2);
    background-color: var(--scrollbar-thumb-bg-color-hover);
  }
}

.o-scroller-to-body {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: var(--o-z-index-max);
  pointer-events: none;
}
