@import './var.scss';

.o-switch {
  position: relative;
  background-color: var(--switch-bg);
  color: var(--switch-color);
  transition: background-color var(--o-duration-s) var(--o-easing-standard);
  cursor: pointer;

  .o-switch-handler {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--switch-handler-bg);
    transition: left var(--o-duration-s) var(--o-easing-standard);

    .o-switch-icon_loading {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--switch-bg);
    }
  }

  .o-switch-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.is-checked {
    background-color: var(--switch-bg-checked);
  }

  &.is-disabled,
  &.is-loading {
    cursor: not-allowed;
    background-color: var(--switch-bg_disabled);
  }

  &.is-disabled.is-checked,
  &.is-loading.is-checked {
    background-color: var(--switch-bg-checked_disabled);
    .o-switch-handler {
      .o-switch-icon_loading {
        color: var(--switch-bg-checked_disabled);
      }
    }
  }
}

.o-switch.o-switch-shape-round {
  .o-switch-handler {
    border-radius: 50%;
  }
}

.o-switch-size-normal {
  min-width: 40px;
  height: 20px;
  border-radius: 2px;
  font-size: var(--switch-text-size-m);
  line-height: var(--switch-text-height-m);

  .o-switch-handler {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    left: 2px;
  }

  .o-switch-content {
    padding-left: 20px;
    padding-right: 4px;
  }

  &.is-checked {
    .o-switch-handler {
      left: calc(100% - 18px);
    }
    .o-switch-content {
      padding-left: 4px;
      padding-right: 20px;
    }
  }
}

.o-switch-size-normal.o-switch-shape-round {
  border-radius: 10px;
}

.o-switch-size-large {
  min-width: 60px;
  height: 28px;
  border-radius: 2px;
  font-size: var(--switch-text-size-l);
  line-height: var(--switch-text-height-l);

  .o-switch-handler {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    left: 4px;
  }

  .o-switch-content {
    padding-left: 28px;
    padding-right: 8px;
  }

  &.is-checked {
    .o-switch-handler {
      left: calc(100% - 24px);
    }

    .o-switch-content {
      padding-left: 8px;
      padding-right: 28px;
    }
  }
}

.o-switch-size-large.o-switch-shape-round {
  border-radius: 14px;
}

.o-switch-size-small {
  min-width: 30px;
  height: 16px;
  border-radius: 2px;
  font-size: var(--switch-text-size-s);
  line-height: var(--switch-text-height-s);

  .o-switch-handler {
    width: 12px;
    height: 12px;
    border-radius: 2px;
    left: 2px;
  }

  .o-switch-content {
    padding-left: 15px;
    padding-right: 2px;
  }

  &.is-checked {
    .o-switch-handler {
      left: calc(100% - 14px);
    }
    .o-switch-content {
      padding-left: 2px;
      padding-right: 15px;
    }
  }
}

.o-switch-size-small.o-switch-shape-round {
  border-radius: 8px;
}
