.o-switch {
  --switch-bg: var(--o-color-control1);
  --switch-bg-disabled: var(--o-color-control4);
  --switch-bg-checked: var(--o-color-primary1);
  --switch-bg-checked-disabled: var(--o-color-primary4);

  --switch-handler-bg: var(--o-color-fill2);

  --switch-color: var(--o-color-info1-inverse);

  --switch-text-size-l: var(--o-font_size-h4);
  --switch-text-size-m: var(--o-font_size-tip1);
  --switch-text-size-s: var(--o-font_size-tip2);

  --switch-text-height-l: var(--o-line_height-h4);
  --switch-text-height-m: var(--o-line_height-tip1);
  --switch-text-height-s: var(--o-line_height-tip2);
}
