.o-switch {
  --switch-color: var(--o-color-info1-inverse);

  --switch-text-size: var(--o-font_size-tip1);
  --switch-text-height: var(--o-line_height-tip1);

  --switch-bg-color: var(--o-color-control1);
  --switch-bg-color-disabled: var(--o-color-control4);
  --switch-bg-color-checked: var(--o-color-primary1);
  --switch-bg-color-checked-disabled: var(--o-color-primary4);

  --switch-size: var(--o-control-size-xs);
  --switch-radius: var(--o-radius-control-s);
  --switch-label-padding: 6px;

  --switch-handler-size: var(--o-control-size-xxs);
  --switch-handler-offset: var(--o-gap-1);
  --switch-handler-bg-color: rgb(var(--o-color-white));
}

.o-switch-small {
  --switch-label-padding: 6px;
  --switch-handler-offset: 4px;
  scale: 0.8;
}

.o-switch-round-pill {
  --switch-radius: var(--o-control-size-l);
}
