@import './var.scss';

.o-checkbox-group {
  display: inline-flex;
  flex-wrap: wrap;
  &.is-horizontal {
    .o-checkbox + .o-checkbox {
      margin-left: var(--checkbox-group-gap);
    }
  }

  &.is-vertical {
    flex-direction: column;
    .o-checkbox + .o-checkbox {
      margin-top: var(--checkbox-group-gap);
    }
  }
}
