@use '../../../_styles/mixin.scss' as *;
@use './var.scss';
.o_input {
  display: inline-flex;
  color: var(--input-color, var(--o-color-info1));
  cursor: inherit;
  &.is-disabled {
    color: var(--input-color-disabled, var(--o-color-info4));
  }
}

.o_input-wrap {
  width: 100%;
  margin-right: auto;
}
.o_input-input {
  outline: none;
  border: none;
  color: inherit;
  cursor: inherit;
  background-color: transparent;
  display: inline-flex;
  padding: 0;
  line-height: inherit;
  height: 100%;
  width: 100%;
  font-size: inherit;
  min-width: 20px;
  appearance: none;

  &::-webkit-input-placeholder {
    color: var(--input-placeholder, var(--o-color-info4));
  }

  &:autofill {
    box-shadow: 0 0 0px 1000px var(--input-bg-color) inset !important;
  }
  .o_input-invalid & {
    text-decoration: line-through;
  }
}

.o_input-suffix {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  position: relative;
  margin-left: 8px;
}
.o_input-prefix {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.o_input-suffix-icon {
  display: flex;
  transform: scale(1);
  transition: all var(--o-duration-m1) var(--o-easing-standard-out);
}

.o_input-clear {
  visibility: hidden;
  flex-shrink: 0;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--input-icon-color, var(--o-color-info3));
  font-size: var(--input-icon-size, var(--o-icon_size-xs));
  cursor: pointer;
  transform: scale(0.5);
  transition: all var(--o-duration-m1) var(--o-easing-standard-in);
  @include x-svg-hover;

  @include hoverable {
    &:hover {
      color: var(--input-icon-color-hover, var(--o-color-info2));
    }
    .o_input-suffix-icon + & {
      position: absolute;
    }
  }
}
.o_input-clearable {
  @include hover {
    .o_input-suffix-icon {
      visibility: hidden;
      opacity: 0;
      transform: scale(0.5);
    }
    .o_input-clear {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }
  }
  @include hoverable(none) {
    .o_input-suffix-icon,
    .o_input-clear {
      visibility: visible;
      opacity: 1;
    }
  }
}
.o_input-eye {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: var(--input-icon-size, var(--o-icon_size-xs));
  color: var(--input-icon-color, var(--o-color-info3));
  margin-left: 4px;
  cursor: pointer;

  @include hover {
    color: var(--input-icon-color-hover, var(--o-color-info2));
  }

  :first-child {
    margin-left: 0;
  }
  .o_input-disabled &,
  .o_input-readonly & {
    color: var(--input-icon-color-disabled, var(--o-color-info4));
  }
}

.o_input-password {
  font-family: Arial, 'Helvetica Neue', Helvetica, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.o_input-limit {
  margin-left: 4px;
  right: 8px;
  bottom: 4px;
  color: var(--input-limit-color, var(--o-color-info4));
  font-size: var(--input-limit-text-size, var(--o-font_size-tip2));
  line-height: var(--input-limit-text-height, var(--o-line_height-tip2));
  z-index: 0;
  b {
    font-weight: normal;
  }
}
.o_input-limit-error > b {
  color: var(--input-limit-color-error, var(--o-color-danger1));
}

/* auto width */
.o_input-auto-width {
  width: auto;
  max-width: 100%;
}

.o_input-wrap-auto-width {
  position: relative;
  min-width: 0; /* 修复子元素超出父元素问题 */

  &::after {
    content: attr(date-value) ' ';
    visibility: hidden;
    white-space: pre;
    height: 100%;
    line-height: inherit;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    min-width: var(--input-min-width, 10px);
    max-width: var(--input-max-width);
  }
  .o_input-input {
    position: absolute;
    top: 0;
    left: 0;
  }
}
