.o_input {
  --icon-color: var(--input-icon-color);
  --icon-color-hover: var(--input-icon-color-hover);
  --icon-color-disabled: var(--input-icon-color-disabled);
  --icon-size: var(--input-icon-size, 16px);
}
