.o_input {
  --_input-color: var(--o-color-info1);
  --_input-color-disabled: var(--o-color-info4);
  --_input-placeholder: var(--o-color-info4);

  --_input-icon-color: var(--o-color-info3);
  --_input-icon-color-hover: var(--o-color-info2);
  --_input-icon-color-disabled: var(--o-color-info4);
}
