@use '../../_styles/mixin.scss' as *;

@include respond-to('<=pad') {
  .o-textarea {
    --textarea-text-size: var(--o-font_size-tip1);
    --textarea-text-height: var(--o-line_height-tip1);
    --textarea-height: 116px;
  }
}
