@use '../../_styles/mixin.scss' as *;

.o-textarea {
  display: inline-flex;
  cursor: text;
  &.o_box-round-pill {
    .o_textarea-count {
      right: 16px;
    }
  }
}
.o-textarea-textarea {
  min-width: 100%;
}
