.o-menu {
  --menu-width: 240px;
  --menu-bg-color: transparent;
}

.o-sub-menu {
  --sub-menu-color: var(--o-color-info1);
  --sub-menu-bg-color-hover: var(--o-color-control2-light);
  --sub-menu-text-size: var(--o-font_size-text1);
  --sub-menu-text-height: var(--o-line_height-text1);
  --sub-menu-icon-size: var(--o-icon_size-s);
  --sub-menu-icon-arrow-size: var(--o-icon_size-xs);
  --sub-menu-radius: var(--o-radius_control-s);
}

.o-menu-item {
  --menu-item-color: var(--o-color-info1);
  --menu-item-color-disabled: var(--o-color-info4);
  --menu-item-text-size: var(--o-font_size-text1);
  --menu-item-text-height: var(--o-line_height-text1);
  --menu-item-bg-color-active: var(--o-color-control3-light);
  --menu-item-bg-color-hover: var(--o-color-control2-light);
  --menu-item-radius: var(--o-radius_control-s);
}
