.o-menu {
  --menu-width: 260px;
  --menu-bg: var(--o-color-fill2);
  --menu-color: var(--o-color-info1);
}

.o-sub-menu {
  --sub-menu-bg-hover: var(--o-color-control2-light);
  --sub-menu-text-size: var(--o-font_size-h4);
  --sub-menu-text-height: var(--o-line_height-h4);
  --sub-menu-icon-height: var(--o-font_size-h1);
}

.o-menu-item {
  --menu-item-text-size: var(--o-font_size-text);
  --menu-item-text-height: var(--o-line_height-text);
  --menu-item-bg-active: var(--o-color-control2);
  --menu-item-bg-hover: var(--o-color-control2-light);
  --menu-item-color-disabled: var(--o-color-info4);
}
