@use '../../_styles/mixin.scss' as *;
@use './var.scss';

@include respond-to('laptop-pc_s') {
  .o-form {
    --form-item-gap: 16px;
    --form-label-main-gap: 24px;
  }
}
@include respond-to('pad_h') {
  .o-form {
    --form-item-gap: 12px;
    --form-label-main-gap: 16px;
  }
}
@include respond-to('<=pad_v') {
  .o-form {
    --form-item-gap: 12px;
    --form-label-main-gap: 8px;
  }
}
@include respond-to('phone') {
  .o-form {
    --form-msg-gap: 4px 0 0 12px;
  }
}
