$font-path: '@/assets/fonts/HarmonyOS';

/* 鸿蒙中文字体 */
@font-face {
  font-family: 'HarmonyOS-Hans';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('HarmonyOSHans'), url($font-path + '/HarmonyOS_Hans/HarmonyOS_Hans_Regular.woff2') format('woff2'),
    url($font-path + '/HarmonyOS_Hans/HarmonyOS_Hans_Regular.woff') format('woff');
}

@font-face {
  font-family: 'HarmonyOS-Hans';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local('HarmonyOSHans Medium'), url($font-path + '/HarmonyOS_Hans/HarmonyOS_Hans_Medium.woff2') format('woff2'),
    url($font-path + '/HarmonyOS_Hans/HarmonyOS_Hans_Medium.woff') format('woff');
}
