@use './var.scss';
@use '../../style/mixin.scss' as *;

.o-divider {
  color: var(--o-divider-color);
  font-size: var(--o-divider-text-size);
  line-height: var(--o-divider-text-height);
  font-weight: 500;
}

.o-divider-h {
  display: flex;
  align-items: center;
  width: 100%;
  margin: var(--o-divider-gap) 0;
}

.o-divider-line {
  width: 100%;
  height: 1px;
  border-width: 1px 0 0 0;
  border-color: var(--o-divider-bd-color);
}

.o-divider-label {
  margin: var(--o-divider-label-gap);
  white-space: nowrap;
}

.o-divider-label-left {
  .o-divider-line {
    &:nth-child(1) {
      width: 28px;
    }
  }
}

.o-divider-label-right {
  .o-divider-line {
    &:nth-child(3) {
      width: 28px;
    }
  }
}

.o-divider-v {
  display: inline-block;
  width: 1px;
  height: 1em;
  margin: var(--o-divider-label-gap);
  vertical-align: middle;
  border-width: 0 0 0 1px;
  border-color: var(--o-divider-bd-color);
}

.o-divider-solid {
  &.o-divider-v,
  .o-divider-line {
    border-style: solid;
  }
}

.o-divider-dashed {
  &.o-divider-v,
  .o-divider-line {
    border-style: dashed;
  }
}

.o-divider-dotted {
  &.o-divider-v,
  .o-divider-line {
    border-style: dotted;
  }
}
