.o-divider {
  --o-divider-color: var(--o-color-info1);

  --o-divider-bd-color: var(--o-color-control1);

  --o-divider-text-size: var(--o-font_size-text);
  --o-divider-text-height: var(--o-line_height-text);
}

.o-divider-horizontal {
  --o-divider-gap: var(--o-gap-4);
}

.o-divider-vertical {
  --o-divider-gap: var(--o-gap-2);
}
