.o-divider {
  --o-divider-color: var(--o-color-info1);

  --o-divider-bd-color: var(--o-color-control1-light);

  --o-divider-text-size: var(--o-font_size-text1);
  --o-divider-text-height: var(--o-line_height-text1);
}

.o-divider-h {
  --o-divider-gap: var(--o-gap-3);
}

.o-divider-vertical {
  --o-divider-gap: var(--o-gap-3);
}
