.o-checkbox {
  --checkbox-text-size: var(--o-font_size-text1);
  --checkbox-text-height: var(--o-line_height-text1);

  --checkbox-label-gap: 8px;

  --checkbox-color: var(--o-color-info1);
  --checkbox-color-disabled: var(--o-color-info4);

  --checkbox-radius: var(--o-radius-control-xs);

  --checkbox-input-wrap-size: var(--o-control_size-s);
  --checkbox-input-size: var(--o-control_size-xs);

  --checkbox-input-bg-color: var(--o-color-control-light);
  --checkbox-input-bg-color-disabled: var(--o-color-control4-light);

  --checkbox-input-bg-color-checked: var(--o-color-primary1);
  --checkbox-input-bg-color-checked-hover: var(--o-color-primary2);
  --checkbox-input-bg-color-checked-active: var(--o-color-primary3);
  --checkbox-input-bg-color-checked-disabled: var(--o-color-primary4);

  --checkbox-input-bd-color: var(--o-color-control1);
  --checkbox-input-bd-color-hover: var(--o-color-primary2);
  --checkbox-input-bd-color-active: var(--o-color-primary3);
  --checkbox-input-bd-color-disabled: var(--o-color-control4);

  --checkbox-input-bd-color-checked: var(--o-color-primary1);
  --checkbox-input-bd-color-checked-hover: var(--o-color-primary2);
  --checkbox-input-bd-color-checked-active: var(--o-color-primary3);
  --checkbox-input-bd-color-checked-disabled: var(--o-color-primary4);

  --checkbox-input-icon-size: calc(var(--checkbox-input-size) / 2);
  --checkbox-input-icon-color: rgb(var(--o-color-white));
}
