.o-checkbox {
  --checkbox-color: var(--o-color-info1);
  --checkbox-color-disabled: var(--o-color-info4);

  --checkbox-text-size: var(--o-font_size-text);
  --checkbox-text-height: var(--o-line_height-text);

  --checkbox-input-color: var(--o-color-fill1);

  --checkbox-input-bd-color: var(--o-color-control1);
  --checkbox-input-bd-color-disabled: var(--o-color-control4);
  --checkbox-input-bd-color-checked: var(--o-color-primary1);
  --checkbox-input-bd-color-checked-disabled: var(--o-color-primary4);

  --checkbox-input-bg: var(--o-color-fill1);
  --checkbox-input-bg-checked: var(--o-color-primary1);
  --checkbox-input-bg-checked-disabled: var(--o-color-primary4);

  --checkbox-input-size: 16px;
}
