.o-checkbox {
  --checkbox-text-size: var(--o-font_size-text1);
  --checkbox-text-height: var(--o-line_height-text1);

  --checkbox-input-size: calc(var(--o-size-s) / 2);

  --checkbox-radius: var(--o-radius-control-s);

  --checkbox-color: var(--o-color-info1);
  --checkbox-color-disabled: var(--o-color-info4);

  --checkbox-input-color: rgb(var(--o-color-white));

  --checkbox-input-bg-color: var(--o-color-control-light);
  --checkbox-input-bg-color-checked: var(--o-color-primary1);
  --checkbox-input-bg-color-disabled: var(--o-color-control4-light);
  --checkbox-input-bg-color-checked-disabled: var(--o-color-primary4);

  --checkbox-input-bd-color: var(--o-color-control1);
  --checkbox-input-bd-color-checked: var(--o-color-primary1);
  --checkbox-input-bd-color-disabled: var(--o-color-control4);
  --checkbox-input-bd-color-checked-disabled: var(--o-color-primary4);
}
