@use './var.scss';

// icons
.o-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
}

.o-svg-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.2em;
  color: inherit;
  font-style: normal;
  outline: none;
  &.type-stroke {
    stroke: currentColor;
  }
  &.type-fill {
    fill: currentColor;
  }
}
