@use './var.scss';

.o-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--icon-size);
}

.o-icon-btn {
  color: var(--icon-btn-color);
  cursor: pointer;
  &:hover {
    color: var(--icon-btn-color-hover);
  }
  &:active,
  &:focus-visible {
    color: var(--icon-btn-color-active);
  }
}
.o-icon-btn-disabled {
  cursor: not-allowed;
  &,
  &:hover,
  &:focus-visible,
  &:active {
    color: var(--icon-btn-color-disabled);
  }
}
