.o-icon {
  --icon-btn-color: var(--o-color-info1);
  --icon-btn-color-hover: var(--o-color-info2);
  --icon-btn-color-active: var(--o-color-info3);
  --icon-btn-color-disabled: var(--o-color-info4);
}
