.o-figure {
  --figure-padding-top: 50%;
  --figure-fit: cover;
  --figure-position: center;
  --figure-radius: 0;
  --figure-error-color: var(--o-color-control4);
  --figure-error-size: var(--o-icon_size_control-l);
  --figure-play-icon-size: 48px;
}
