@use './var.scss';

.o-select {
  display: inline-flex;
  padding: var(--select-padding);
  color: var(--select-color);
  height: var(--select-height);
  border-radius: var(--select-radius);
  border: 1px solid var(--select-bd-color);
  background-color: var(--select-bg-color);
  cursor: pointer;

  &:hover {
    border-color: var(--select-bd-color-hover);
    background-color: var(--select-bg-color-hover);
  }
  &.is-selecting {
    border-color: var(--select-bd-color-focus);
    background-color: var(--select-bg-color-focus);
  }
}

.o-select-disabled {
  &,
  &:hover,
  &.is-selecting {
    cursor: not-allowed;
    color: var(--select-color-disabled);
    border-color: var(--select-bd-color-disabled);
    background-color: var(--select-bg-color-disabled);
  }
}

.o-select-input {
  outline: none;
  border: none;
  padding: 0;
  color: inherit;
  cursor: inherit;
  background-color: transparent;
  display: inline-flex;
  width: 100%;
  font-size: var(--select-text-size);
  line-height: var(--select-text-height);
  overflow: hidden;
  text-overflow: ellipsis;
  &::-webkit-input-placeholder {
    color: var(--select-placeholder);
  }
}
.o-select-suffix {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.o-select-icon-arrow {
  font-size: 20px;
  color: var(--select-icon-color);
  display: inline-flex;
  align-items: center;
  transition: transform var(--o-duration-s) var(--o-easing-standard);
  svg {
    display: block;
  }
  &.active {
    transform: rotateX(180deg);
  }
  .o-select-disabled & {
    color: var(--select-icon-color-disabled);
  }
}

.o-select-options {
  background-color: var(--select-options-bg-color);
  box-shadow: var(--select-options-shadow);
  border-radius: var(--select-options-radius);
  border: var(--select-options-bd);
  padding: var(--select-options-padding);
}

.o-select-clear {
  position: absolute;
  transition: all var(--o-duration-m1) var(--o-easing-standard-in);
  opacity: 0;
  transform: scale(0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--input-icon-color);
  background-color: var(--input-icon-bg-color);
  border-radius: 50%;
  z-index: 1;
}
.o-select-suffix-wrap {
  transition: all var(var(--o-duration-m1)) var(--o-easing-standard-out);
  align-items: center;
  display: flex;
  justify-content: center;
}
.o-input-clearable {
  &:hover {
    .o-select-suffix-wrap {
      visibility: hidden;
      opacity: 0;
    }
    .o-select-clear {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }
  }
}
