@use '../../style/mixin.scss' as *;
@include respond-to('not-pc') {
  .o-select-options {
    --select-options-padding: 0;
    --select-max-height: 80vh;
  }
  .o-select-layer {
    min-width: 312px;
    --select-options-padding: 12px 16px 16px;

    .o-option-checkbox {
      width: 100%;
    }
  }

  .o-select-options-head {
    text-align: center;
    font-size: var(--o-font_size-text2);
    line-height: var(--o-line_height-text2);
    font-weight: 500;
    margin-top: 16px;
  }
}
@include respond-to('phone') {
  .o-select-layer {
    min-width: 312px;

    .o-checkbox-wrap {
      width: 100%;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }
}
