.o-select {
  --select-text-size: var(--o-font_size-text1);
  --select-text-height: var(--o-line_height-text1);

  --select-color: var(--o-color-info2);
  --select-color-disabled: var(--o-color-info4);

  --select-placeholder: var(--o-color-info4);

  --select-bg-color: transparent;
  --select-bg-color-hover: var(--o-color-control-light);
  --select-bg-color-focus: var(--o-color-control-light);

  --select-icon-color: var(--o-color-info3);
  --select-icon-color-disabled: var(--o-color-info4);

  --select-multiple-padding: 3px 11px 3px 5px;
}
.o-select,
.o-select-tag-popover {
  --select-tag-bg-color: var(--o-color-control1-light);
  --select-tag-radius: var(--o-radius_control-s);

  --select-tag-text-size: var(--o-font_size-tip1);
  --select-tag-text-height: var(--o-line_height-tip1);
  --select-tag-padding: 3px 12px;
  --select-tag-min-height: var(--o-control_size-s);
  --select-tag-margin: 2px 4px 2px 0;
}

.o-select-tag-popover {
  --popover-min-width: auto;
  --select-tag-popover-max-width: 360px;
}

.o-select-normal {
  &.o-select-outline {
    --select-bd-color: var(--o-color-control1);
    --select-bd-color-hover: var(--o-color-primary2);
    --select-bd-color-focus: var(--o-color-primary3);
    --select-bd-color-disabled: var(--o-color-control4);
  }

  &.o-select-solid {
    --select-bd-color: var(--o-color-control1-light);
    --select-bd-color-hover: var(--o-color-control2-light);

    --select-bg-color: var(--o-color-control1-light);
    --select-bg-color-hover: var(--o-color-control-light);
    --select-bg-color-disabled: var(--o-color-control4-light);
  }
}

.o-select-success {
  &.o-select-text {
    --select-color: var(--o-color-success1);
  }
  &.o-select-outline {
    --select-bd-color: var(--o-color-success1);
    --select-bd-color-hover: var(--o-color-success2);
    --select-bd-color-focus: var(--o-color-success3);
    --select-bd-color-disabled: var(--o-color-success4);
  }

  &.o-select-solid {
    --select-bd-color: var(--o-color-success1-light);
    --select-bd-color-hover: var(--o-color-success2-light);

    --select-bg-color: var(--o-color-success1-light);
    --select-bg-color-disabled: var(--o-color-success4-light);
  }
}

.o-select-warning {
  &.o-select-text {
    --select-color: var(--o-color-warning1);
  }
  &.o-select-outline {
    --select-bd-color: var(--o-color-warning1);
    --select-bd-color-hover: var(--o-color-warning2);
    --select-bd-color-focus: var(--o-color-warning3);
    --select-bd-color-disabled: var(--o-color-warning4);
  }
  &.o-select-solid {
    --select-bd-color: var(--o-color-warning1-light);
    --select-bd-color-hover: var(--o-color-warning2-light);

    --select-bg-color: var(--o-color-warning1-light);
    --select-bg-color-disabled: var(--o-color-warning4-light);
  }
}

.o-select-danger {
  &.o-select-text {
    --select-color: var(--o-color-danger1);
  }
  &.o-select-outline {
    --select-bd-color: var(--o-color-danger1);
    --select-bd-color-hover: var(--o-color-danger2);
    --select-bd-color-focus: var(--o-color-danger3);
    --select-bd-color-disabled: var(--o-color-danger4);
  }
  &.o-select-solid {
    --select-bd-color: var(--o-color-danger1-light);
    --select-bd-color-hover: var(--o-color-danger2-light);

    --select-bg-color: var(--o-color-danger1-light);
    --select-bg-color-disabled: var(--o-color-danger4-light);
  }
}

.o-select-small {
  --select-padding: 0 5px 0 7px;
  --select-height: var(--o-control_size-s);
  --select-text-size: var(--o-font_size-tip1);
  --select-text-height: var(--o-line_height-tip1);
  --select-radius: var(--o-radius_control-xs);
  --select-icon-size: var(--o-icon_size-xs);

  --select-tag-min-height: var(--o-control_size-xs);
  --select-tag-text-size: var(--o-font_size-tip2);
  --select-tag-padding: 2px 8px;
  --select-tag-text-height: var(--o-line_height-tip2);
  // --select-multiple-max-height: 48px;
  --select-multiple-padding: 1px 6px 1px 2px;
  --select-tag-margin: 1px 2px 1px 0;
}
.o-select-medium {
  --select-padding: 0 7px 0 11px;
  --select-icon-size: var(--o-icon_size-xs);

  --select-height: var(--o-control_size-m);
  --select-text-size: var(--o-font_size-text1);
  --select-text-height: var(--o-line_height-text1);
  --select-radius: var(--o-radius_control-s);

  // --select-multiple-max-height: 60px;
}
.o-select-large {
  --select-padding: 0 11px 0 15px;
  --select-icon-size: var(--o-icon_size-s);

  --select-height: var(--o-control_size-l);
  --select-text-size: var(--o-font_size-text2);
  --select-text-height: var(--o-line_height-text2);
  --select-radius: var(--o-radius_control-l);

  // --select-multiple-max-height: 60px;
}
.o-select-round-pill {
  --select-radius: var(--o-control_size-l);
}

.o-select-options {
  --select-options-max-height: 212px;

  --select-options-bg-color: var(--o-color-control-light);
  --select-options-shadow: var(--o-shadow-2);
  --select-options-bd: none;
  --select-options-radius: var(--o-radius_control-s);
  --select-options-padding: 4px;

  --select-empty-padding: 16px;
}
