.o-select {
  --select-text-size: var(--o-font_size-text);
  --select-text-height: var(--o-line_height-text);

  --select-color: var(--o-color-info2);
  --select-color-disabled: var(--o-color-info4);

  --select-bg-color: transparent;
  --select-bg-color-hover: transparent;
  --select-bg-color-focus: var(--o-color-control-light);

  --select-icon-color: var(--o-color-info3);
  --select-icon-color-disabled: var(--o-color-info4);
  --input-icon-bg-color: var(--o-color-control1-light);
}

.o-select-options {
  --select-options-bg: var(--o-color-control-light);
  --select-options-shadow: none;
  --select-options-bd: 1px solid var(--o-color-primary2);
  --select-options-radius: var(--o-radius-s);
}

.o-select-normal {
  --select-bd-color: var(--o-color-control1);
  --select-bd-color-hover: var(--o-color-primary2);
  --select-bd-color-focus: var(--o-color-primary3);
  --select-bd-color-disabled: var(--o-color-control4);

  &.o-select-solid {
    --select-bd-color: var(--o-color-control1-light);
    --select-bd-color-hover: var(--o-color-control2-light);

    --select-bg-color: var(--o-color-control1-light);
    --select-bg-color-hover: var(--o-color-control2-light);
    --select-bg-color-disabled: var(--o-color-control4-light);
  }
}

.o-select-success {
  --select-bd-color: var(--o-color-success1);
  --select-bd-color-hover: var(--o-color-success2);
  --select-bd-color-focus: var(--o-color-success3);
  --select-bd-color-disabled: var(--o-color-success4);

  &.o-select-solid {
    --select-bd-color: var(--o-color-success1-light);
    --select-bd-color-hover: var(--o-color-success2-light);

    --select-bg-color: var(--o-color-success1-light);
    --select-bg-color-hover: var(--o-color-success2-light);
    --select-bg-color-disabled: var(--o-color-success4-light);
  }
}

.o-select-warning {
  --select-bd-color: var(--o-color-warning1);
  --select-bd-color-hover: var(--o-color-warning2);
  --select-bd-color-focus: var(--o-color-warning3);
  --select-bd-color-disabled: var(--o-color-warning4);

  &.o-select-solid {
    --select-bd-color: var(--o-color-warning1-light);
    --select-bd-color-hover: var(--o-color-warning2-light);

    --select-bg-color: var(--o-color-warning1-light);
    --select-bg-color-hover: var(--o-color-warning2-light);
    --select-bg-color-disabled: var(--o-color-warning4-light);
  }
}

.o-select-danger {
  --select-bd-color: var(--o-color-danger1);
  --select-bd-color-hover: var(--o-color-danger2);
  --select-bd-color-focus: var(--o-color-danger3);
  --select-bd-color-disabled: var(--o-color-danger4);

  &.o-select-solid {
    --select-bd-color: var(--o-color-danger1-light);
    --select-bd-color-hover: var(--o-color-danger2-light);

    --select-bg-color: var(--o-color-danger1-light);
    --select-bg-color-hover: var(--o-color-danger2-light);
    --select-bg-color-disabled: var(--o-color-danger4-light);
  }
}

.o-select-size-small {
  --select-height: var(--o-size-s);
  --select-text-size: var(--o-font_size-tip1);
  --select-text-height: var(--o-line_height-tip1);
  --select-padding: 0 6px 0 8px;
  --select-radius: var(--o-radius-s);
}
.o-select-size-medium {
  --select-height: var(--o-size-m);
  --select-text-size: var(--o-font_size-text);
  --select-text-height: var(--o-line_height-text);
  --select-padding: 4px 8px 4px 12px;
  --select-radius: var(--o-radius-m);
}
.o-select-size-large {
  --select-height: var(--o-size-l);
  --select-text-size: var(--o-font_size-h4);
  --select-text-height: var(--o-line_height-h4);
  --select-padding: 4px 12px 4px 16px;
  --select-radius: var(--o-radius-l);
}
.o-select-round-pill {
  --select-radius: var(--o-size-l);
}

.o-option {
  .o-select-options-size-small & {
    --option-padding: 3px 8px;
    --option-text-size: var(--o-font_size-tip1);
    --option-text-height: var(--o-line_height-tip1);
  }

  .o-select-options-size-large & {
    --option-padding: 7px 16px;
    --option-text-size: var(--o-font_size-h4);
    --option-text-height: var(--o-line_height-h4);
  }
}
