/* theme: dark */
@media screen and (max-width: 1200px) {
  [data-o-theme='a.dark'],
  [data-o-theme='a.light'] {
    --o-control_size-m: 28px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 721px) {
  [data-o-theme='a.dark'],
  [data-o-theme='a.light'] {
    --o-control_size-l: 36px;
    --o-icon_size-s: 20px;
  }
}

@media screen and (max-width: 1200px) {
  [data-o-theme='dark'],
  [data-o-theme='light'] {
    --o-control_size-m: 28px;
  }
}
