.o-btn-toggle.o-btn-toggle-checked.o-btn {
  &.o-btn-outline.o-btn-primary:not(.o-btn-disabled) {
    --btn-color-hover: var(--o-color-primary2);
    --btn-color-active: var(--o-color-primary3);
    --btn-color-disabled: var(--o-color-primary4);

    background-color: transparent;
  }
}

.o-btn-toggle.o-btn {
  &.o-btn-solid.o-btn-normal:not(.o-btn-disabled) {
    --btn-color: var(--o-color-info1);
    --btn-color-hover: var(--o-color-info1);
    --btn-color-active: var(--o-color-info1);

    --btn-bd-color: var(--o-color-fill1);
    --btn-bd-color-hover: var(--o-color-control3-light);
    --btn-bd-color-active: var(--o-color-control1-light);

    --btn-bg-color: var(--o-color-fill1);
    --btn-bg-color-hover: var(--o-color-control3-light);
    --btn-bg-color-active: var(--o-color-control1-light);
  }
}
