@use './mixin.scss' as *;

.o-btn-medium {
  font-size: var(--o-font_size-tip1);
  line-height: var(--o-font_size-tip1);
  --btn-min-width: 80px;
  --btn-icon-size: var(--o-icon_size-xs);
}
.o-btn-large {
  font-size: var(--o-font_size-text1);
  line-height: var(--o-font_size-text1);
  --btn-min-width: 96px;
  --btn-icon-size: var(--o-icon_size-s);

  @include respond-to('pad') {
    font-size: var(--o-font_size-tip1);
    line-height: var(--o-font_size-tip1);
    --btn-padding: 0 15px;
  }
}

.o-btn-outline:not(.o-btn-disabled) {
  --btn-color-hover: var(--o-color-info1-inverse);
  --btn-color-active: var(--o-color-info1-inverse);
  --btn-bg-color-hover: var(--o-color-primary2);
  --btn-bg-color-active: var(--o-color-primary3);
  @include hover {
    &:hover {
      background-color: var(--btn-bg-color-hover);
    }
  }

  &:active {
    background-color: var(--btn-bg-color-active);
  }
}

.btn-ascend {
  color: rgb(var(--o-color-white)) !important;
  background: linear-gradient(90deg, #2e53fa 0%, #7b25f4 100%);
  border-color: transparent;
  @include hover {
    &:hover {
      background: linear-gradient(90deg, rgba(46, 83, 250, 0.8) 0%, rgba(123, 37, 244, 0.8) 100%);
      border-color: transparent;
    }
  }
  &:active {
    background: linear-gradient(90deg, rgba(46, 83, 250, 0.9) 0%, rgba(123, 37, 244, 0.9) 100%);
    border-color: transparent;
  }
  &.o-btn-disabled {
    opacity: 0.4;
    background: linear-gradient(90deg, #2e53fa 0%, #7b25f4 100%);
  }
}
