@use './mixin.scss' as *;

.o-toggle {
  --toggle-bg-color: var(--o-color-fill1);
  --toggle-bg-color-hover: var(--o-color-fill3);

  --toggle-bd-color: var(--o-color-fill1);
  --toggle-bd-color-hover: var(--o-color-fill3);
}

@include respond-to('pad') {
  .o-toggle {
    --toggle-text-size: var(--o-font_size-tip2);
    --toggle-text-height: var(--o-line_height-tip2);
    --toggle-icon-size: var(--o-icon_size-xs);
    --toggle-padding: 0 11px;
  }
}
