.o-btn-medium {
  font-size: var(--o-font_size-tip1);
  line-height: var(--o-font_size-tip1);
  --btn-min-width: 80px;
  --btn-icon-size: var(--o-icon_size-xs);
}
.o-btn-large {
  font-size: var(--o-font_size-text1);
  line-height: var(--o-font_size-text1);
  --btn-min-width: 96px;
  --btn-icon-size: var(--o-icon_size-s);
}

.btn-ascend {
  background: linear-gradient(90deg, #2e53fa 0%, #7b25f4 100%);
  border-color: transparent;
  &:hover {
    background: linear-gradient(90deg, rgba(46, 83, 250, 0.8) 0%, rgba(123, 37, 244, 0.8) 100%);
    border-color: transparent;
  }
  &:active {
    background: linear-gradient(90deg, rgba(46, 83, 250, 0.9) 0%, rgba(123, 37, 244, 0.9) 100%);
    border-color: transparent;
  }
  &.o-btn-disabled {
    opacity: 0.4;
    background: linear-gradient(90deg, #2e53fa 0%, #7b25f4 100%);
  }
}
