@use './mixin.scss' as *;

.o-dialog {
  --dlg-head-padding: 32px 32px 0;
  --dlg-body-padding: 24px 32px;
  --dlg-foot-padding: 0 32px 32px;

  @include respond-to('phone-pad') {
    --dlg-head-padding: 16px 16px 0;
    --dlg-body-padding: 12px 16px 12px;
    --dlg-foot-padding: 0 16px 16px;
  }
}
.o-dialog-small {
  --dlg-width: 35%;

  @include respond-to('pc') {
    --dlg-width: 450px;
  }

  @include respond-to('phone-h') {
    --dlg-width: 65%;
    --dlg-body-max-height: calc(100vh - 212px);
  }

  @include respond-to('phone-v') {
    --dlg-body-max-height: calc(100vh - 170px);
    --dlg-width: calc(100vw - 48px);
  }
}

.o-dialog-medium {
  --dlg-width: 50%;
  --dlg-body-max-height: 296px;

  @include respond-to('pc') {
    --dlg-width: 690px;
  }

  @include respond-to('phone-h') {
    --dlg-width: 65%;
    --dlg-body-max-height: calc(100vh - 212px);
  }

  @include respond-to('phone-v') {
    --dlg-body-max-height: calc(100vh - 170px);
    --dlg-width: calc(100vw - 48px);
  }
}

.o-dialog-large {
  --dlg-width: 65%;
  --dlg-body-max-height: 596px;

  @include respond-to('pc') {
    --dlg-width: 930px;
  }
}

.o-dialog-exlarge {
  --dlg-width: 80%;
  --dlg-body-max-height: 596px;

  @include respond-to('pc') {
    --dlg-width: 1170px;
  }
}

.o-dialog-responsive {
  @include respond-to('phone-pad') {
    .o-dlg-head {
      text-align: center;
      font-size: var(--o-font_size-text2);
      line-height: var(--o-line_height-text2);
      font-weight: 500;
    }
  }
  @include respond-to('phone-v') {
    .o-dlg-btn-close {
      display: none;
    }
    .o-dlg-btn {
      + .o-dlg-btn.o-btn-text {
        position: relative;
        &::before {
          content: '';
          border-left: 1px solid var(--o-color-control1-light);
          position: absolute;
          height: 24px;
          left: -8px;
        }
      }
    }
  }

  &.o-dialog-large,
  &.o-dialog-exlarge {
    @include respond-to('phone') {
      --dlg-width: 100%;
      --dlg-margin: 0;
      --dlg-radius: 0;
      .o-dlg-main {
        height: 100%;
      }
    }
  }
}

.o-dialog-phone-full {
  @include respond-to('phone-v') {
    --dlg-width: 100%;
    --dlg-margin: 0;
    --dlg-radius: 0;
  }
}
