.o-link-normal {
  --link-color: var(--o-color-link1);
}
.o-link-medium {
  font-size: var(--o-font_size-tip1);
  line-height: var(--o-line_height-tip1);
  --link-icon-size: var(--o-icon_size-xs);
}
.o-link-large {
  font-size: var(--o-font_size-text1);
  line-height: var(--o-line_height-text1);
  --link-icon-size: var(--o-icon_size-s);
}
