.o-message-info {
  --message-icon-color: rgb(var(--o-deepblue-6));
  &.o-message-colorful {
    --message-bg-color: rgb(var(--o-deepblue-1));
  }
}

.o-message-list {
  --message-list-top-offset: calc(var(--app-header-height) + 32px);
  --message-list-bottom-offset: calc(var(--app-footer-height) + 32px);
}
