.o-rate-primary {
  --rate-color-selected: rgb(var(--o-red-huawei));
}

.o-rate-icon-bottom {
  .o-icon-star {
    path {
      color: transparent;
    }
    path:nth-child(1) {
      color: var(--rate-color-selected);
    }
  }
}

.o-rate-item.is-half {
  .o-rate-icon-top {
    .o-icon-star {
      path:nth-child(2) {
        color: var(--rate-color-selected);
      }
    }
  }
}

.o-rate-item.is-full {
  .o-rate-icon-bottom {
    .o-icon-star {
      path:nth-child(2) {
        color: var(--rate-color-selected);
      }

      path:nth-child(3) {
        color: var(--rate-color-selected);
      }
    }
  }
}
.rate-empty {
  --rate-color: var(--o-color-info4);
  --rate-color-selected: var(--o-color-info4);
  .o-rate-icon {
    path {
      color: currentColor !important;
    }
  }
}
