@use './mixin.scss' as *;

.o-select-outline {
  --select-bg-color: var(--o-color-control-light);
  --select-bg-color-disabled: var(--o-color-control4-light);
}
.o-select-text {
  --select-color: var(--o-color-info1);
  --select-color-hover: var(--o-color-info2);
  --select-color-focus: var(--o-color-info2);
  --select-bg-color-hover: transparent;
  --select-bg-color-focus: transparent;
}
.o-select-medium {
  --select-padding: 0 16px;
  --select-text-size: var(--o-font_size-tip1);
  --select-text-height: var(--o-line_height-tip1);
  @include respond-to('not-pc') {
    --select-icon-size: var(--o-icon_size-xs);
  }
}
.o-select-large {
  --select-padding: 0 16px;
  --select-text-size: var(--o-font_size-text1);
  --select-text-height: var(--o-line_height-text1);

  @include respond-to('not-pc') {
    --select-text-size: var(--o-font_size-tip1);
    --select-text-height: var(--o-line_height-tip1);
  }
}
.o-select-options {
  --select-options-radius: 12px;
  --select-max-height: 302px;
}
// 移动端响应式
.o-select-options-dlg {
  --select-max-height: 350px;
  .o-select-options-multiple {
    --select-max-height: 360px;
  }
  @include respond-to('phone-h') {
    --select-max-height: 272px;
    &.o-select-options-multiple {
      --select-max-height: 216px;
    }
  }
  @include respond-to('phone-v') {
    --select-max-height: 90vh;
    .o-select-options-multiple {
      --select-max-height: 90vh;
    }
  }
}

.o-select,
.o-select-tag-popover {
  --select-tag-radius: var(--o-control_size-s);
  --select-tag-text-size: var(--o-font_size-tip2);
  --select-tag-text-height: var(--o-line_height-tip2);
}
.o-select {
  --select-multiple-padding: 3px 16px;
}
