.o-tag-normal {
  --tag-color: var(--o-color-info1);
  --tag-bg-color: var(--o-color-control3-light);
  --tag-bd-color: var(--o-color-control3-light);

  &.o-tag-outline {
    --tag-bd-color: var(--o-color-control1);
  }
}

.o-tag-primary {
  --tag-bg-color: rgb(var(--o-red-huawei));
  --tag-bd-color: rgb(var(--o-red-huawei));

  &.o-tag-outline {
    --tag-color: rgb(var(--o-red-huawei));
  }
}

.tag-ascend {
  --tag-color: rgb(var(--o-color-white));
  background: linear-gradient(90deg, #2e53fa 0%, #7b25f4 100%);
  --tag-bd-color: transparent;
}

.o-tag-normal.tag-normal-inverse {
  --tag-color: var(--o-color-info1-inverse);
  --tag-bg-color: rgba(var(--o-mixedgray-14), 0.2);
  --tag-bd-color: transparent;
}

.o-tag-normal.tag-unstart {
  --tag-color: var(--o-color-info1-inverse);
  --tag-bg-color: rgba(var(--o-mixedgray-14), 0.4);
  --tag-bd-color: transparent;
}
