@use '../../_styles/mixin.scss' as *;

@include respond-to('phone-pad') {
  .o-select-options-dlg {
    box-shadow: none;
    --select-options-padding: 0;
    --select-options-radius: 0;

    .o-option-checkbox {
      width: 100%;
    }

    .o-checkbox-label {
      margin-left: 0;
    }
    .o-checkbox-wrap {
      width: 100%;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    .o-option-multiple {
      border-radius: 0;
      --option-padding: 12px 0;
      --option-gap: 0;

      position: relative;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-top: 1px solid var(--o-color-control4);
      }
    }
  }
}
