@use '../../_styles/mixin.scss' as *;

@include respond-to('<=pad') {
  .o-select-options-dlg {
    --select-options-padding: 0;

    .o-option-checkbox {
      width: 100%;
    }

    .o-checkbox-label {
      margin-left: 0;
    }
    .o-checkbox-wrap {
      width: 100%;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    .o-option-multiple {
      border-radius: 0;
      --option-padding: 12px 0;
      --option-gap: 0;

      position: relative;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-top: 1px solid var(--o-color-control4);
      }
    }
  }
}

@include respond-to('laptop') {
  .o-select-large {
    --select-icon-size: var(--o-icon_size_control-s);
  }
}

@include respond-to('<=laptop') {
  .o-select-large {
    --select-text-size: var(--o-font_size-tip1);
    --select-text-height: var(--o-line_height-tip1);
  }
}
