@use '../../style/mixin.scss' as *;
@use './var.scss';

.o-pagination-wrap {
  display: flex;
  align-items: center;
  white-space: nowrap;

  > *:not(:first-child) {
    margin-left: var(--pagination-item-gap);
  }
}
.o-pagination-pager {
  display: flex;
  user-select: none;
}
.o-pagination-prev,
.o-pagination-next {
  width: var(--pagination-item-size);
  height: var(--pagination-item-size);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--pagination-item-color);
  border: 1px solid var(--pagination-item-bd-color);
  background-color: var(--pagination-item-bg-color);
  cursor: pointer;
  user-select: none;
  border-radius: var(--pagination-radius);
  &:hover {
    border-color: var(--pagination-item-bd-color-hover);
    background-color: var(--pagination-item-bg-color-hover);
  }
  &:active {
    border-color: var(--pagination-item-bd-color-active);
    background-color: var(--pagination-item-bg-color-active);
  }
  &.is-disabled {
    cursor: not-allowed;
    color: var(--pagination-item-color-disabled);
    border: 1px solid var(--pagination-item-bd-color-disabled);
    background-color: var(--pagination-item-bg-color-disabled);
  }
}
.o-pagination-pages {
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
  align-items: center;
}
.o-pagination-item {
  width: var(--pagination-item-size);
  height: var(--pagination-item-size);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--pagination-item-color);
  border: 1px solid var(--pagination-item-bd-color);
  background-color: var(--pagination-item-bg-color);
  border-radius: var(--pagination-radius);

  + .o-pagination-item {
    margin-left: 8px;
  }
  &:hover {
    color: var(--pagination-item-color-hover);
    border: 1px solid var(--pagination-item-bd-color-hover);
    background-color: var(--pagination-item-bg-color-hover);
  }
  &:active {
    color: var(--pagination-item-color-active);
    border: 1px solid var(--pagination-item-bd-color-active);
    background-color: var(--pagination-item-bg-color-active);
  }
  &.active {
    color: var(--pagination-item-color-current);
    border: 1px solid var(--pagination-item-bd-color-current);
    background-color: var(--pagination-item-bg-color-current);
  }
}

.o-pagination-more-popup {
  min-width: 64px;
  text-align: center;
  max-height: 200px;
  overflow: auto;
  padding: 4px 0;
}
.o-pagination-more-item {
  padding: 2px 16px;
  cursor: pointer;
  &:hover {
    background-color: var(--pagination-more-item-bg-color-hover);
  }
}

.o-pagination-input {
  width: 60px;
}

.o-pagination-select {
  width: 110px;
}

.o-pagination {
  .o-table + & {
    margin-top: 12px;
    display: flex;
    justify-content: flex-end;
  }
}

.o-pagination {
  .o-input-input {
    text-align: center;
  }
}
