@use './var.scss';

.o-pagination-wrap {
  display: flex;
  align-items: center;
  white-space: nowrap;

  > *:not(first-child) {
    margin-left: 12px;
  }
}
.o-pagination-pager {
  display: flex;
  user-select: none;
}
.o-pagination-prev,
.o-pagination-next {
  width: var(--pagination-item-size);
  height: var(--pagination-item-size);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--o-color-border2);
  cursor: pointer;
  user-select: none;
  &.disabled {
    color: var(--o-color-border2);
    border: 1px solid var(--o-color-border2);
  }
}
.o-pagination-pages {
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
  align-items: center;
}
.o-pagination-item {
  width: var(--pagination-item-size);
  height: var(--pagination-item-size);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  + .o-pagination-item {
    margin-left: 8px;
  }
  &:hover {
    color: var(--o-color-primary2);
  }
  &.active {
    color: var(--o-color-primary1);
    border: 1px solid var(--o-color-primary1);
  }
}

.o-pagination-more-popup {
  min-width: 64px;
  text-align: center;
  max-height: 200px;
  overflow: auto;
  padding: 4px 0;
}
.o-pagination-more-item {
  padding: 2px 16px;
  cursor: pointer;
  &:hover {
    background-color: var(--o-color-bg1);
  }
}

.o-pagination-input {
  width: 60px;
}

.o-pagination-simple {
}

.o-pagination-select {
  width: 110px;
}
