.o-pagination {
  --pagination-item-size: var(--o-size-m);
  --pagination-item-gap: 12px;

  --pagination-item-color: var(--o-color-info2);
  --pagination-item-color-current: var(--o-color-primary1);
  --pagination-item-color-disabled: var(--o-color-info4);

  --pagination-item-bd-color: var(--o-color-control1-light);
  --pagination-item-bd-color-hover: var(--o-color-control2-light);
  --pagination-item-bd-color-active: var(--o-color-control3-light);
  --pagination-item-bd-color-current: var(--o-color-primary1-light);
  --pagination-item-bd-color-disabled: var(--o-color-control4-light);
  --pagination-radius: var(--o-radius-control-m);
}

.o-pagination-solid {
  --pagination-item-bd-color: transparent;
  --pagination-item-bd-color-hover: var(--o-color-control2-light);
  --pagination-item-bd-color-active: var(--o-color-control3-light);
  --pagination-item-bd-color-current: var(--o-color-primary1-light);
  --pagination-item-bd-color-disabled: var(--o-color-control4-light);

  --pagination-item-bg-color: transparent;
  --pagination-item-bg-color-hover: var(--o-color-control2-light);
  --pagination-item-bg-color-active: var(--o-color-control3-light);
  --pagination-item-bg-color-current: var(--o-color-primary1-light);
  --pagination-item-bg-color-disabled: var(--o-color-control4-light);
}
.o-pagination-round-pill {
  --pagination-radius: var(--pagination-item-size);
}
.o-pagination-more-popup {
  --pagination-more-item-bg-color-hover: var(--o-color-primary1-light);
}
