@use './var.scss';
@use '../../style/mixin.scss' as *;

.o-form {
  cursor: pointer;
  color: var(--input-color);
  display: inline-flex;
  height: var(--input-height);
  font-size: var(--input-text-size);
  line-height: var(--input-text-height);
}
