@use './var.scss';

.o-slides {
  position: relative;
}

.o-slides-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}
.o-slide-item {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  opacity: 0;
}

.o-slide-item-active {
  z-index: 5;
  opacity: 1;
}

.o-slides-arrow-prev,
.o-slides-arrow-next {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  user-select: none;
  cursor: pointer;
}
.o-slides-arrow-prev {
  top: 50%;
  left: 12px;
  transform: translate3d(0, -50%, 0);
}
.o-slides-arrow-next {
  top: 50%;
  right: 12px;
  transform: translate3d(0, -50%, 0);
}
.o-slides-arrow-icon {
  font-size: 48px;
  color: var(--o-color-control-light);
  background-color: rgba(var(--o-gray-1), 0.3);
  border-radius: 50%;
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
}

.o-slides-indicator-wrap {
  position: absolute;
  left: 0;
  bottom: 12px;
  display: flex;
  justify-content: center;
  z-index: 2;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}
.o-slides-indicator-dot {
  width: 20px;
  height: 4px;
  background-color: var(--o-color-control-light);
  margin: 4px;
  border-radius: 4px;
  opacity: 0.3;
}
.o-slides-indicator-dot-active {
  opacity: 1;
}

.o-slide-item-in {
  opacity: 1;
  animation: slides-slide-x-in var(--o-duration-l) var(--o-easing-standard-in);
}
.o-slide-item-out {
  z-index: 3;
  opacity: 1;
  animation: slides-slide-x-out var(--o-duration-l) var(--o-easing-standard-in);
}
.o-slide-item-in-reverse {
  opacity: 1;
  animation: slides-slide-x-in-reverse var(--o-duration-l) var(--o-easing-standard-in);
}
.o-slide-item-out-reverse {
  opacity: 1;
  z-index: 3;
  animation: slides-slide-x-out-reverse var(--o-duration-l) var(--o-easing-standard-in);
}

@keyframes slides-slide-x-in {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slides-slide-x-in-reverse {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slides-slide-x-out {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes slides-slide-x-out-reverse {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}
