.o-slides {
  --slide-gap-x: 8px;

  // arrow
  --slides-arrow-size: var(--o-icon_size-l);
  --slides-arrow-opacity: 0.6;
  --slides-arrow-opacity-hover: 1;
  --slides-arrow-color: var(--o-color-control-light);
  --slides-arrow-color-hover: var(--o-color-control-light);
  --slides-arrow-bg-color: rgba(var(--o-gray-1), 0.3);
  --slides-arrow-bg-color-hover: rgba(var(--o-gray-1), 0.3);
  // indicator
  --slides-indicator-opacity: 0.3;
  --slides-indicator-opacity-active: 1;
  --slides-indicator-bg-color: var(--o-color-control-light);
  --slides-indicator-bg-color-active: var(--o-color-control-light);
}
