@use '../../_styles/mixin.scss' as *;

.c-loading-lg {
  --loading-icon-size: 80px;
  flex-direction: column;
  --loading-label-font-size: var(--o-font_size-text1);
  --loading-label-line-height: var(--o-line_height-text1);
  .o-loading-label {
    margin-left: 0;
    margin-top: var(--o-gap-4);
  }
}
.c-loading-md {
  --loading-icon-size: var(--o-icon_size-2xl);
  flex-direction: column;
  --loading-label-font-size: var(--o-font_size-tip2);
  --loading-label-line-height: var(--o-line_height-tip2);
  .o-loading-label {
    margin-left: 0;
    margin-top: var(--o-gap-2);
  }
}

.c-loading-sm {
  --loading-icon-size: var(--o-icon_size-m);
  --loading-label-font-size: var(--o-font_size-tip2);
  --loading-label-line-height: var(--o-line_height-tip2);
}

.c-loading-comp-sm {
  --loading-icon-size: var(--o-icon_size-m);
  --loading-label-font-size: var(--o-font_size-tip2);
  --loading-label-line-height: var(--o-line_height-tip2);
}

.c-loading-xs {
  --loading-icon-size: var(--o-icon_size-xs);
  --loading-label-font-size: var(--o-font_size-tip2);
  --loading-label-line-height: var(--o-line_height-tip2);
}

@include respond-to('pad_v-pc_s') {
  .c-loading-ld {
    --loading-icon-size: var(--o-icon_size-4xl);
    --loading-label-font-size: var(--o-font_size-tip1);
    --loading-label-line-height: var(--o-line_height-tip1);
    .o-loading-label {
      margin-top: var(--o-gap-3);
    }
  }

  .c-loading-md {
    --loading-icon-size: var(--o-icon_size-xl);
  }

  .c-loading-sm {
    --loading-icon-size: var(--o-icon_size-s);
  }

  .c-loading-comp-sm {
    --loading-icon-size: var(--o-icon_size-s);
  }
}
@include respond-to('<=pad_v') {
  .c-loading-lg {
    --loading-icon-size: var(--o-icon_size-2xl);
    .o-loading-label {
      margin-top: var(--o-gap-3);
    }
  }

  .c-loading-md {
    --loading-icon-size: var(--o-icon_size-l);
    .o-loading-label {
      margin-top: var(--o-gap-1);
    }
  }

  .c-loading-sm {
    --loading-icon-size: var(--o-icon_size-xs);
  }
}
