.o-loading {
  --loading-mask: var(--o-color-mask1);

  --loading-icon-size: var(--o-icon_size_control-m);

  --loading-icon-color: var(--o-color-info2);
  --loading-mask-icon-color: var(--o-color-info2-inverse);

  --loading-color: var(--o-color-info2);
  --loading-mask-color: var(--o-color-info2-inverse);

  --loading-z-index: calc(var(--o-z-index-base) + 10);

  --loading-label-font-size: var(--o-font_size-tip2);
  --loading-label-line-height: var(--o-line_height-tip2);

  --loading-label-icon-gap: 8px;
  --loading-content-direction: column;
}

.o-loading-large {
  --loading-icon-size: 80px;
  --loading-label-font-size: var(--o-font_size-text1);
  --loading-label-line-height: var(--o-line_height-text1);
  --loading-label-icon-gap: 16px;
}

.o-loading-medium {
  --loading-icon-size: var(--o-icon_size-2xl);
}

.o-loading-small {
  --loading-content-direction: row;
}

.o-loading-mini {
  --loading-content-direction: row;
  --loading-icon-size: var(--o-icon_size_control-xs);
}
