@use './var.scss';

.o-option {
  display: flex;
  align-items: center;
  padding: var(--option-padding);
  color: var(--option-color);
  background-color: var(--option-bg-color);
  font-size: var(--option-text-size);
  line-height: var(--option-text-height);
  border-radius: var(--option-radius);
  transition: background-color var(--o-duration-s) var(--o-easing-standard);
  cursor: pointer;

  &:not(.o-option-disabled) {
    &:hover {
      background-color: var(--option-bg-color-hover);
      color: var(--option-color-hover);
    }
    &.active {
      color: var(--option-color-active);
      background-color: var(--option-bg-color-active);
    }
  }

  &.active {
    font-weight: 500;
  }
}

.o-option-disabled {
  cursor: not-allowed;
  color: var(--option-color-disabled);
  background-color: var(--option-bg-color-disabled);
}
