@use '../../style/mixin.scss' as *;
@include respond-to('not-pc') {
  .o-option-multiple {
    border-radius: 0;
    --option-padding: 12px 0;
    --option-gap: 0;

    + .o-option-multiple {
      border-top: 1px solid var(--o-color-control4);
    }
  }
}
