.o-option {
  --option-color: var(--o-color-info2);
  --option-color-hover: var(--o-color-info1-inverse);
  --option-color-active: var(--o-color-info1-inverse);
  --option-color-disabled: var(--o-color-info4);

  --option-bg-color: transparent;
  --option-bg-color-hover: var(--o-color-primary3-light);
  --option-bg-color-active: var(--o-color-primary2-light);
  --option-bg-color-disabled: var(--o-color-control4-light);

  --option-text-size: var(--o-font_size-text);
  --option-text-height: var(--o-line_height-text);

  --option-padding: 5px 12px;
  --option-text-size: var(--o-font_size-text);
  --option-text-height: var(--o-line_height-text);
}
