@use './var.scss';
@use '../../style/mixin.scss' as *;

.o-message {
  display: flex;
  align-items: center;
  padding: var(--message-padding);
  background-color: var(--message-bg-color);
  border: 1px solid var(--message-bd-color);
  border-radius: var(--message-radius);
  width: fit-content;
  transition: all var(--o-duration-m1) var(--o-easing-standard-out);
  text-align: center;
}

.o-message + .o-message {
  margin-top: var(--message-gap);
}

.o-message-label {
  font-size: var(--message-text-size);
  line-height: var(--message-text-height);
  color: var(--message-color);
}

.o-message-icon {
  font-size: var(--message-icon-size);
  color: var(--message-icon-color);
  margin-right: 8px;
}

.o-message-list {
  position: fixed;
  z-index: 1001;
  left: 50%;
  top: 32px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fade-message-enter-from {
  opacity: 0;
}

.fade-message-enter-active,
.fade-message-leave-active {
  transition: all var(--o-duration-m1) var(--o-easing-standard-out);
}

.fade-message-leave-to {
  opacity: 0;
}
