.o-message {
  --message-color: var(--o-color-info1);

  --message-text-size: var(--o-font_size-text1);
  --message-text-height: var(--o-line_height-text1);

  --message-bg-color: var(--o-color-fill2);

  --message-shadow: var(--o-shadow-2);

  --message-radius: var(--o-radius-control-s);

  --message-padding: 8px 16px;

  --message-icon-size: var(--o-icon_size-s);
  --message-icon-gap: 8px;

  --message-icon-close-color: var(--o-color-info2);
  --message-icon-close-color-hover: var(--o-color-info1);
  --message-icon-close-color-active: var(--o-color-info1);

  --message-gap: 16px;
}

.o-message-colorful {
  --message-shadow: none;
}

.o-message-info {
  --message-icon-color: var(--o-color-primary1);
  &.o-message-colorful {
    --message-bg-color: var(--o-color-primary4-light);
  }
}

.o-message-success {
  --message-icon-color: var(--o-color-success1);
  &.o-message-colorful {
    --message-bg-color: var(--o-color-success4-light);
  }
}

.o-message-warning {
  --message-icon-color: var(--o-color-warning1);
  &.o-message-colorful {
    --message-bg-color: var(--o-color-warning4-light);
  }
}

.o-message-danger {
  --message-icon-color: var(--o-color-danger1);
  &.o-message-colorful {
    --message-bg-color: var(--o-color-danger4-light);
  }
}

.o-message-loading {
  --message-icon-color: var(--o-color-info1);
  &.o-message-colorful {
    --message-bg-color: var(--o-color-primary4-light);
  }
}

.o-message-list {
  --message-list-offset: 32px;
}
