@use './mixin.scss' as *;

.o-dialog {
  --dlg-head-padding: 32px 32px 0;
  --dlg-body-padding: 24px 32px;
  --dlg-foot-padding: 0 32px 32px;

  @include respond-to('phone') {
    --dlg-head-padding: 16px 16px 0;
    --dlg-body-padding: 12px 16px 12px;
    --dlg-foot-padding: 0 16px 16px;
    --dlg-max-height: 80vh;
  }
}
.o-dialog-auto {
  --dlg-body-padding: 16px 32px 24px;
  @include respond-to('phone') {
    --dlg-body-padding: 12px 16px 12px;
    --dlg-margin: 24px;
  }
}
.o-dialog-small {
  --dlg-width: 35%;
  --dlg-max-height: 272px;

  --dlg-head-padding: 32px 24px 0;
  --dlg-body-padding: 16px 32px 24px;
  --dlg-foot-padding: 0 24px 32px;

  @include respond-to('pc') {
    --dlg-width: 450px;
  }

  @include respond-to('pad-v') {
    --dlg-width: 50%;
  }

  @include respond-to('phone-h') {
    --dlg-width: 65%;
  }

  @include respond-to('phone-v') {
    --dlg-width: calc(100vw - 48px);
    --dlg-max-height: 80vh;
  }

  @include respond-to('phone-pad') {
    --dlg-head-padding: 16px 16px 0;
    --dlg-body-padding: 12px 16px 12px;
    --dlg-foot-padding: 0 16px 16px;
    --dlg-max-height: 50%;
    --dlg-radius: var(--o-radius-s);
  }
}

.o-dialog-medium {
  --dlg-width: 50%;

  @include respond-to('pc') {
    --dlg-width: 690px;
  }

  @include respond-to('phone') {
    --dlg-head-padding: 16px 16px 0;
    --dlg-body-padding: 12px 16px 12px;
    --dlg-foot-padding: 0 16px 16px;
    --dlg-max-height: 80vh;
    --dlg-radius: var(--o-radius-s);
  }

  @include respond-to('phone-h') {
    --dlg-width: 65%;
  }

  @include respond-to('phone-v') {
    --dlg-width: calc(100vw - 48px);
  }
}

.o-dialog-large {
  --dlg-width: 65%;

  @include respond-to('pc') {
    --dlg-width: 930px;
  }
}

.o-dialog-exlarge {
  --dlg-width: 80%;

  @include respond-to('pc') {
    --dlg-width: 1170px;
  }
}

.o-dialog-medium,
.o-dialog-large,
.o-dialog-exlarge {
  @include respond-to('pad') {
    --dlg-head-padding: 24px 24px 0;
    --dlg-body-padding: 16px 24px;
    --dlg-foot-padding: 0 24px 24px;

    --dlg-max-height: 80vh;
  }
}

.o-dialog-responsive {
  @include respond-to('phone-pad') {
    .o-dlg-header {
      text-align: center;
      font-size: var(--o-font_size-text2);
      line-height: var(--o-line_height-text2);
      font-weight: 500;
    }

    .o-dlg-btn {
      + .o-dlg-btn.o-btn-text {
        position: relative;
        &::before {
          content: '';
          border-left: 1px solid var(--o-color-control1-light);
          position: absolute;
          height: 24px;
          left: -8px;
        }
      }
    }
  }
  @include respond-to('phone-v') {
    .o-dlg-btn-close {
      display: none;
    }
  }

  &.o-dialog-large,
  &.o-dialog-exlarge {
    @include respond-to('phone') {
      --dlg-width: 100%;
      --dlg-margin: 0;
      --dlg-radius: 0;

      --dlg-head-padding: 24px 24px 0;
      --dlg-body-padding: 16px 24px;
      --dlg-foot-padding: 0 24px 24px;

      .o-dlg-main {
        max-height: 100%;
      }
    }
  }
}

.c-dialog-phone-full {
  @include respond-to('phone-v') {
    --dlg-width: 100%;
    --dlg-margin: 0;
    --dlg-radius: var(--o-radius-s) var(--o-radius-s) 0 0;
  }
}

.c-dlg-action-end {
  display: flex;

  justify-content: flex-end;
  > * + * {
    margin-left: 8px;
  }
}

.c-dlg-action-center {
  display: flex;

  justify-content: center;
  > * + * {
    margin-left: 8px;
  }
}

.c-dlg-operation {
  --layer-align: center !important;
  --dlg-body-padding: 0 !important;
  --dlg-margin: 40px;
  .o-dlg-btn-close {
    right: 50%;
    transform: translateX(50%);
    top: calc(100% + 16px);
    border: 1px solid var(--o-color-info1-inverse);
    border-radius: 50%;
    font-size: var(--o-icon_size-xs);
    color: var(--o-color-info1-inverse);
    padding: 4px;
    display: flex;
  }
}
