@use './mixin.scss' as *;
.o-figure img {
  transition-duration: 600ms;
}
.c-figure-video {
  position: relative;
  --figure-radius: 16px;
}

.c-video-poster-mask {
  background-color: rgba($color: #000000, $alpha: 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
}
.c-video-play-btn {
  box-sizing: border-box;
  --play-btn-size: 48px;
  font-size: var(--play-btn-size);
  width: var(--play-btn-size);
  height: var(--play-btn-size);
  border-radius: 50%;
  color: #fff;
  background-color: rgba($color: #fff, $alpha: 0.2);
  border: 1px solid rgba($color: #fff, $alpha: 0.6);
  backdrop-filter: blur(1px);
}
.c-figure-title {
  font-size: var(--o-font_size-h3);
  line-height: var(--o-line_height-h3);

  @include respond-to('pad') {
    font-size: var(--o-font_size-text1);
    line-height: var(--o-line_height-text1);
  }
  @include respond-to('phone') {
    font-size: var(--o-font_size-tip1);
    line-height: var(--o-line_height-tip1);
  }
}
.c-figure-content-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px 24px;
  color: var(--o-color-info1-inverse);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  @include respond-to('pad') {
    padding: 12px 16px;
  }
  @include respond-to('phone') {
    padding: 4px 8px;
  }
}

.o-figure-content {
  transition: background-color var(--o-easing-standard-in) var(--o-duration-m1);
}
.o-figure-hoverable {
  &:active {
    .o-figure-content {
      background-color: rgba($color: #000000, $alpha: 0.1);
    }
  }
}
