/* theme: dark */
@media screen and (max-width: 1200px) {
  [data-o-theme='k.dark'],
  [data-o-theme='k.light'] {
    --o-control_size-m: 28px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 600px) {
  [data-o-theme='k.dark'],
  [data-o-theme='k.light'] {
    --o-control_size-l: 36px;
  }
}

@media screen and (max-width: 1200px) {
  [data-o-theme='k.dark'],
  [data-o-theme='k.light'] {
    --o-control_size-m: 28px;
  }
}

@media screen and (max-width: 600px) {
  [data-o-theme='k.dark'],
  [data-o-theme='k.light'] {
    --o-radius-xl: 8px;
  }
}
