@use './mixin.scss' as *;

.o-tab {
  --tab-nav-justify: center;
  --tab-nav-gap: 32px;

  @include respond-to('pad') {
    --tab-nav-gap: 32px;
  }
  @include respond-to('phone') {
    --tab-nav-gap: 16px;
  }
}
.o-tab-text {
  --tab-nav-color-hover: var(--o-color-info1);
  --tab-nav-color-active: var(--o-color-info1);
}
.o-tab-nav-title {
  padding: 0;

  > .o-icon {
    font-size: var(--o-icon_size-s);
    margin-right: 8px;
    @include respond-to('phone-pad') {
      font-size: var(--o-icon_size-xs);
    }
  }
}
.o-tab-nav {
  padding-bottom: 14px;
  font-size: var(--o-font_size-text2);
  line-height: var(--o-line_height-text2);

  @include respond-to('phone-pad') {
    padding-bottom: 2px;
  }

  @include respond-to('phone-pad') {
    font-size: var(--o-font_size-tip1);
    line-height: var(--o-line_height-tip1);
  }
}

.c-tab-large {
  --tab-nav-gap: 40px;

  @include respond-to('pad') {
    --tab-nav-gap: 32px;
  }
  @include respond-to('phone') {
    --tab-nav-gap: 16px;
  }
  .o-tab-nav {
    padding-bottom: 16px;
    @include respond-to('pad') {
      padding-bottom: 12px;
    }
    @include respond-to('phone') {
      padding-bottom: 8px;
    }
  }

  .o-tab-nav-title {
    font-size: var(--o-font_size-h4);
    line-height: var(--o-line_height-h4);

    @include respond-to('pad') {
      font-size: var(--o-font_size-text1);
      line-height: var(--o-line_height-text1);
    }
    @include respond-to('phone') {
      font-size: var(--o-font_size-tip1);
      line-height: var(--o-line_height-tip1);
    }

    > .o-icon {
      font-size: var(--o-icon_size-m);
      margin-right: 8px;
      @include respond-to('phone-pad') {
        font-size: var(--o-icon_size-s);
      }
    }
  }
}

.o-tab-nav-archor-line {
  @include respond-to('phone') {
    width: 16px;
    margin: auto;
    .c-tab-large & {
      width: 100%;
    }
  }
}
