@use '../../style/mixin.scss' as *;

@include respond-to('phone-pad') {
  .o-card {
    --card-radius: var(--o-radius_control-s);

    --card-main-padding: 16px;

    --card-header-text-size: var(--o-font_size-tip1);
    --card-header-text-height: var(--o-line_height-tip1);

    --card-content-gap: 8px;
    --card-content-text-size: var(--o-font_size-tip2);
    --card-content-text-height: var(--o-line_height-tip2);

    --card-footer-gap: 16px;
    --card-footer-text-size: 10px;
    --card-footer-text-height: 18px;
  }

  .o-card-cover-v {
    --card-cover-padding: 4px 4px 0;
  }

  .o-card-cover-h {
    --card-cover-padding: 4px 0 4px 4px;
  }

  .o-card-cover-hr {
    --card-cover-padding: 4px 4px 4px 0;
  }
}
