@use './var.scss';

.o-upload-select {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.o-upload-select-input {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  opacity: 0;
}
.o-upload-item {
  position: relative;
}
.o-upload-item-wrap {
  display: flex;
  margin-top: 8px;
  padding: 0 4px;
  border-radius: var(--upload-file-item-radius);
  color: var(--upload-file-item-color);
  transition: background-color var(--o-easing-standard-in) var(--o-duration-m1);

  &:hover {
    background-color: var(--upload-file-item-bg-hover);
  }
  // &.is-error {
  //   color: var(--upload-file-item-color-error);
  // }

  &:hover,
  &.is-error {
    .o-upload-item-hover-in {
      opacity: 1;
    }
  }
}

.o-upload-item-label {
  font-size: var(--o-font_size-text1);
  line-height: var(--o-line_height-text1);
  margin-right: auto;
  padding: 5px 0;
}
.o-upload-icon-link {
  font-size: var(--upload-icon-size);
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.o-upload-item-icons {
  display: flex;
  margin-left: 16px;
  font-size: var(--upload-icon-size);

  > * + * {
    margin-left: 8px;
  }
}

.o-upload-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.o-upload-item-hover-in {
  opacity: 0;
  transition: opacity var(--o-easing-standard-in) var(--o-duration-m1);
}

.o-upload-icon-loading {
  margin-left: 8px;
}
.o-upload-select-extra {
  font-size: var(--o-font_size-tip1);
  line-height: var(--o-line_height-tip1);
  color: var(--o-color-info3);
  margin-top: 8px;
}
.o-upload-file-item-tip {
  font-size: var(--o-font_size-tip1);
  line-height: var(--o-line_height-tip1);
  color: var(--o-color-info1);
  display: flex;
  padding-left: 24px;
  &.is-error {
    color: var(--upload-file-item-color-error);
  }
}

.o-upload-item-progress {
  position: absolute;
  left: 4px;
  right: 4px;
  bottom: 0;
  height: var(--upload-progress-height);
  background-color: var(--upload-progress-bg-color);
  border-radius: var(--upload-progress-radius);
  overflow: hidden;
}
.o-upload-item-progress-bar {
  width: 0%;
  height: 100%;
  background-color: var(--upload-progress-value-bg-color);
  border-radius: var(--upload-progress-radius);
  transition: width var(--o-easing-linear) var(--o-duration-s);
}

// 拖拽上传
.o-upload-select-drag {
  width: 100%;
}
.o-upload-drag {
  padding: var(--upload-drag-padding);
  font-size: var(--o-font_size-tip1);
  line-height: var(--o-line_height-text1);
  color: var(--upload-drag-color);
  background-color: var(--upload-drag-bg-color);
  border: var(--upload-drag-border);
  text-align: center;
  width: 100%;
  border-radius: var(--upload-drag-radius);
  text-align: center;
  transition: all var(--o-easing-standard) var(--o-duration-m2);
  &:hover {
    border: var(--upload-drag-border-hover);
  }
}
.o-upload-drag-dragging {
  border: var(--upload-drag-border-dragging);
  background-color: var(--upload-drag-bg-color-dragging);
}
.o-upload-drag-disabled {
  &,
  &:hover {
    cursor: not-allowed;
    color: var(--upload-drag-color-disabled);
    border: var(--upload-drag-border-disabled);
    background-color: var(--upload-drag-bg-color-disabled);
  }
}
.o-upload-drag-icon {
  font-size: var(--o-icon_size-s);
  vertical-align: top;
  + .o-upload-drag-label {
    margin-top: 12px;
  }
}
