.o-upload {
  --upload-icon-size: var(--o-icon_size-xs);
  --upload-icon-size-l: var(--o-icon_size-s);
  --upload-icon-size-xl: var(--o-icon_size-m);

  --upload-color: var(--o-color-info1);
  --upload-color-error: var(--o-color-danger1);

  --upload-item-bg-hover: var(--o-color-control2-light);
  --upload-item-radius: var(--o-radius-control-m);

  --upload-progress-height: 1px;
  --upload-progress-radius: var(--upload-progress-height);
  --upload-progress-bg-color: var(--o-color-control3-light);
  --upload-progress-value-bg-color: var(--o-color-primary1);

  --upload-drag-padding: 32px 0;
  --upload-drag-radius: var(--o-radius-control-m);
  --upload-drag-color: var(--o-color-info2);
  --upload-drag-color-disabled: var(--o-color-info4);
  --upload-drag-bg-color: var(--o-color-control1-light);
  --upload-drag-bg-color-hover: var(--o-color-control1-light);
  --upload-drag-bg-color-dragging: var(--o-color-primary4-light);
  --upload-drag-bg-color-disabled: var(--o-color-control4-light);
  --upload-drag-border: 2px solid var(--o-color-control1);
  --upload-drag-border-hover: 2px dashed var(--o-color-primary2);
  --upload-drag-border-dragging: 2px dashed var(--o-color-primary2);
  --upload-drag-border-disabled: var(--o-color-control4);

  --upload-card-radius: var(--o-radius-control-m);
  --upload-card-width: 120px;
  --upload-card-height: var(--upload-card-width);
  --upload-card-gap: 8px;
  --upload-card-border: 1px solid var(--o-color-control1);
  --upload-card-border-error: 1px solid var(--o-color-danger1);
  --upload-card-img-fit: cover;
  --upload-card-mask: var(--o-color-mask1);
  --upload-card-icon-color: var(--o-color-info1-inverse);
  --upload-card-icon-color-hover: var(--o-color-info2-inverse);
  --upload-card-icon-color-active: var(--o-color-info3-inverse);
}
