.o-upload {
  --upload-icon-size: var(--o-icon_size-xs);

  --upload-file-item-color: var(--o-color-info1);
  --upload-file-item-color-error: var(--o-color-danger1);
  --upload-file-item-bg-hover: var(--o-color-control2-light);

  --upload-progress-height: 2px;
  --upload-progress-radius: var(--upload-progress-height);
  --upload-progress-bg-color: var(--o-color-control3-light);
  --upload-progress-value-bg-color: var(--o-color-primary1);
}
