@font-face {
  font-display: swap;
  font-family: HarmonyOS-Hans;
  font-style: normal;
  font-weight: 400;
  src:
    local('HarmonyOSHans'),
    // 将字体文件从 public/ 中移到 src/assets/fonts/ 文件夹中
    // 根据当前的 nginx 配置，src/assets/ 中的文件有缓存，public/ 文件夹中的文件不会被缓存
    url(../fonts/HarmonyOS_Hans_Regular.woff2) format('woff2');
}

@font-face {
  font-display: swap;
  font-family: HarmonyOS-Hans;
  font-style: normal;
  font-weight: 500;
  src:
    local('HarmonyOSHans Medium'),
    url(../fonts/HarmonyOS_Hans_Medium.woff2) format('woff2');
}

@font-face {
  font-display: swap;
  font-family: HarmonyOS-Hans;
  font-style: normal;
  font-weight: 700;
  src:
    local('HarmonyOSHans Bold'),
    url(../fonts/HarmonyOS_Hans_Bold.woff2) format('woff2');
}

@font-face {
  font-display: swap;
  font-family: HarmonyOS-Hans;
  font-style: italic;
  font-weight: 400;
  src:
    local('HarmonyOSSans'),
    url(../fonts/HarmonyOS_Sans_Regular_Italic.woff2) format('woff2');
}

@font-face {
  font-display: swap;
  font-family: HarmonyOS-Hans;
  font-style: italic;
  font-weight: 500;
  src:
    local('HarmonyOSSans Medium'),
    url(../fonts/HarmonyOS_Sans_Medium_Italic.woff2) format('woff2');
}

@font-face {
  font-display: swap;
  font-family: HarmonyOS-Hans;
  font-style: italic;
  font-weight: 700;
  src:
    local('HarmonyOSSans Bold'),
    url(../fonts/HarmonyOS_Sans_Bold_Italic.woff2) format('woff2');
}
