@font-face {
  font-display: swap;
  font-family: HarmonyOS-Hans;
  font-style: normal;
  font-weight: 400;
  src:
    local('HarmonyOSHans'),
    url(/HarmonyOS_Hans_Regular.9I7L7rbq.woff2) format('woff2');
}

@font-face {
  font-display: swap;
  font-family: HarmonyOS-Hans;
  font-style: normal;
  font-weight: 500;
  src:
    local('HarmonyOSHans Medium'),
    url(/HarmonyOS_Hans_Medium.Bmj-cXYg.woff2) format('woff2');
}

@font-face {
  font-display: swap;
  font-family: HarmonyOS-Hans;
  font-style: normal;
  font-weight: 700;
  src:
    local('HarmonyOSHans Bold'),
    url(/HarmonyOS_Hans_Bold.CLKfZ-3Y.woff2) format('woff2');
}

@font-face {
  font-display: swap;
  font-family: HarmonyOS-Hans;
  font-style: italic;
  font-weight: 400;
  src:
    local('HarmonyOSSans'),
    url(/HarmonyOS_Sans_Regular_Italic.CWzBs7-y.woff2) format('woff2');
}

@font-face {
  font-display: swap;
  font-family: HarmonyOS-Hans;
  font-style: italic;
  font-weight: 500;
  src:
    local('HarmonyOSSans Medium'),
    url(/HarmonyOS_Sans_Medium_Italic.DL_MEPRF.woff2) format('woff2');
}

@font-face {
  font-display: swap;
  font-family: HarmonyOS-Hans;
  font-style: italic;
  font-weight: 700;
  src:
    local('HarmonyOSSans Bold'),
    url(/HarmonyOS_Sans_Bold_Italic.Bvb9oWs-.woff2) format('woff2');
}
