:not(pre) > code {
  border-radius: 4px;
  padding: 0.1em 0.2em;
  margin: 0 0.2em;
  background-color: var(--o-color-control1-light);
}

[data-o-theme$='light'] pre span {
  color: var(--shiki-light);
}

[data-o-theme$='dark'] pre span {
  color: var(--shiki-dark);
}
p + .code-container,
p + .o-table {
  margin-top: 8px;
}
ol,
ul,
li {
  margin: 0;
  padding: 0;
}
@include respond-to('>pad_v') {
  ol {
    padding-inline-start: calc(1em + 24px);
    list-style-type: decimal;
  }
  ul {
    padding-inline-start: calc(1em + 24px);
    list-style-type: disc;
  }
  ul,
  ol {
    li + li {
      margin-block-start: 4px;
    }
    ul {
      list-style-type: circle;
      padding-inline-start: calc(0.25em + 24px);
    }
    ol {
      padding-inline-start: 24px;
    }
    ul,
    ol {
      li {
        margin-block-start: 0px;
      }
      ul {
        list-style-type: square;
      }
    }
  }
}
@include respond-to('<=pad_v') {
  ol {
    padding-inline-start: calc(1em + 8px);
    list-style-type: decimal;
  }
  ul {
    padding-inline-start: calc(1.25em + 8px);
    list-style-type: disc;
  }
  ul,
  ol {
    li {
      margin-top: 4px;
    }
    ul {
      list-style-type: circle;
    }
    ul,
    ol {
      li {
        margin-top: 0px;
      }
      ul {
        list-style-type: square;
      }
    }
  }
}

.markdown-body {
  padding: 0 var(--o3-gap-5);
  .markdown-body {
    padding: 0;
  }
  .o-table-wrap {
    overflow-x: auto;
    th:first-child,
    td:first-child {
      position: sticky;
      left: 0;
    }
    td:first-child {
      background-color: var(--table-bg-color);
    }
    @media (hover: hover) {
      tr:hover td {
        background-color: var(--table-row-hover);
      }
    }
  }
  @include respond-to('<=pad_v') {
    padding: 0;
  }
}
