:not(pre) > code {
  border-radius: 4px;
  padding: 0.1em 0.2em;
  margin: 0 0.2em;
  background-color: var(--o-color-control1-light);
}

[data-o-theme$='light'] span {
  color: var(--shiki-light);
}

[data-o-theme$='dark'] span {
  color: var(--shiki-dark);
}
