:root {
  @media (min-width: 1681px) {
    // 文字
    --o3-font_size-display1: var(--o-font_size-display1);
    --o3-line_height-display1: var(--o-line_height-display1);
    --o3-font_size-display2: var(--o-font_size-display2);
    --o3-line_height-display2: var(--o-line_height-display2);
    // 楼层标题
    --o3-font_size-display3: var(--o-font_size-display3);
    --o3-line_height-display3: var(--o-line_height-display3);
    --o3-font_size-h1: var(--o-font_size-h1);
    --o3-line_height-h1: var(--o-line_height-h1);
    --o3-font_size-h2: var(--o-font_size-h2);
    --o3-line_height-h2: var(--o-line_height-h2);
    --o3-font_size-h3: var(--o-font_size-h3);
    --o3-line_height-h3: var(--o-line_height-h3);
    --o3-font_size-h4: var(--o-font_size-h4);
    --o3-line_height-h4: var(--o-line_height-h4);
    // 正文
    --o3-font_size-text2: var(--o-font_size-text2);
    --o3-line_height-text2: var(--o-line_height-text2);
    --o3-font_size-text1: var(--o-font_size-text1);
    --o3-line_height-text1: var(--o-line_height-text1);
    // 提示文本
    --o3-font_size-tip1: var(--o-font_size-tip1);
    --o3-line_height-tip1: var(--o-line_height-tip1);
    --o3-font_size-tip2: var(--o-font_size-tip2);;
    --o3-line_height-tip2: var(--o-line_height-tip2);

    // 间距
    --o3-gap-10: var(--o-gap-10);
    --o3-gap-9: var(--o-gap-9);
    --o3-gap-8: var(--o-gap-8);
    --o3-gap-7: var(--o-gap-7);
    --o3-gap-6: var(--o-gap-6);
    --o3-gap-5: var(--o-gap-5);
    --o3-gap-4: var(--o-gap-4);
    --o3-gap-3: var(--o-gap-3);
    --o3-gap-2: var(--o-gap-2);
    --o3-gap-1: var(--o-gap-1);

    // 图标大小
    --o3-icon_size-4xl: var(--o-icon_size-4xl);
    --o3-icon_size-3xl: var(--o-icon_size-3xl);
    --o3-icon_size-2xl: var(--o-icon_size-2xl);
    --o3-icon_size-xl: var(--o-icon_size-xl);
    --o3-icon_size-l: var(--o-icon_size-l);
    --o3-icon_size-m: var(--o-icon_size-m);
    --o3-icon_size-s: var(--o-icon_size-s);
    --o3-icon_size-xs: var(--o-icon_size-xs);
  }
  @media (min-width: 1201px) and (max-width: 1680px) { 
    // 文字
    --o3-font_size-display1: var(--o-font_size-display2);
    --o3-line_height-display1: var(--o-line_height-display2);
    --o3-font_size-display2: var(--o-font_size-display3);
    --o3-line_height-display2: var(--o-line_height-display3);
    // 楼层标题
    --o3-font_size-display3: var(--o-font_size-h1);
    --o3-line_height-display3: var(--o-line_height-h1);
    --o3-font_size-h1: var(--o-font_size-h4);
    --o3-line_height-h1: var(--o-line_height-h4);
    --o3-font_size-h2: var(--o-font_size-h4);
    --o3-line_height-h2: var(--o-line_height-h4);
    --o3-font_size-h3: var(--o-font_size-text2);
    --o3-line_height-h3: var(--o-line_height-text2);
    --o3-font_size-h4: var(--o-font_size-text2);
    --o3-line_height-h4: var(--o-line_height-text2);
    // 正文
    --o3-font_size-text2: var(--o-font_size-text1);
    --o3-line_height-text2: var(--o-line_height-text1);
    --o3-font_size-text1: var(--o-font_size-tip1);
    --o3-line_height-text1: var(--o-line_height-tip1);
    // 提示文本
    --o3-font_size-tip1: var(--o-font_size-tip1);
    --o3-line_height-tip1: var(--o-line_height-tip1);
    --o3-font_size-tip2: var(--o-font_size-tip2);
    --o3-line_height-tip2: var(--o-line_height-tip2);

    // 间距
    --o3-gap-10: 56px;
    --o3-gap-9: 48px;
    --o3-gap-8: 40px;
    --o3-gap-7: 24px;
    --o3-gap-6: 24px;
    --o3-gap-5: 16px;
    --o3-gap-4: 12px;
    --o3-gap-3: 8px;
    --o3-gap-2: 8px;
    --o3-gap-1: 4px;

    // 图标大小
    --o3-icon_size-4xl: var(--o-icon_size-3xl);
    --o3-icon_size-3xl: var(--o-icon_size-2xl);
    --o3-icon_size-2xl: var(--o-icon_size-xl);
    --o3-icon_size-xl: var(--o-icon_size-l);
    --o3-icon_size-l: var(--o-icon_size-l);
    --o3-icon_size-m: var(--o-icon_size-m);
    --o3-icon_size-s: var(--o-icon_size-s);
    --o3-icon_size-xs: var(--o-icon_size-xs);
  }
  @include respond-to('<=pad') { 
    // 文字
    --o3-font_size-display1: var(--o-font_size-display3);
    --o3-line_height-display1: var(--o-line_height-display3);
    --o3-font_size-display2: var(--o-font_size-h1);
    --o3-line_height-display2: var(--o-line_height-h1);
    // 楼层标题
    --o3-font_size-display3: var(--o-font_size-h2);
    --o3-line_height-display3: var(--o-line_height-h2);
    --o3-font_size-h1: var(--o-font_size-h4);
    --o3-line_height-h1: var(--o-line_height-h4);
    --o3-font_size-h2: var(--o-font_size-text2);
    --o3-line_height-h2: var(--o-line_height-text2);
    --o3-font_size-h3: var(--o-font_size-text1);
    --o3-line_height-h3: var(--o-line_height-text1);
    --o3-font_size-h4: var(--o-font_size-text1);
    --o3-line_height-h4: var(--o-line_height-text1);
    // 正文
    --o3-font_size-text2: var(--o-font_size-tip1);
    --o3-line_height-text2: var(--o-line_height-tip1);
    --o3-font_size-text1: var(--o-font_size-tip1);
    --o3-line_height-text1: var(--o-line_height-tip1);
    // 提示文本
    --o3-font_size-tip1: var(--o-font_size-tip2);
    --o3-line_height-tip1: var(--o-line_height-tip2);
    --o3-font_size-tip2: var(--o-font_size-tip2);
    --o3-line_height-tip2: var(--o-line_height-tip2);

    // 间距
    --o3-gap-10: 40px;
    --o3-gap-9: 32px;
    --o3-gap-8: 24px;
    --o3-gap-7: 16px;
    --o3-gap-6: 16px;
    --o3-gap-5: 12px;
    --o3-gap-4: 8px;
    --o3-gap-3: 8px;
    --o3-gap-2: 8px;
    --o3-gap-1: 4px;

    // 图标大小
    --o3-icon_size-4xl: var(--o-icon_size-2xl);
    --o3-icon_size-3xl: var(--o-icon_size-xl);
    --o3-icon_size-2xl: var(--o-icon_size-xl);
    --o3-icon_size-xl: var(--o-icon_size-l);
    --o3-icon_size-l: var(--o-icon_size-m);
    --o3-icon_size-m: var(--o-icon_size-m);
    --o3-icon_size-s: var(--o-icon_size-s);
    --o3-icon_size-xs: var(--o-icon_size-xs);
  }
  @include respond-to('<=pad_v') { 
    // 文字
    --o3-font_size-display1: var(--o-font_size-h3);
    --o3-line_height-display1: var(--o-line_height-h3);
    --o3-font_size-display2: var(--o-font_size-h4);
    --o3-line_height-display2: var(--o-line_height-h4);
    // 楼层标题
    --o3-font_size-display3: var(--o-font_size-text2);
    --o3-line_height-display3: var(--o-line_height-text2);
    --o3-font_size-h1: var(--o-font_size-text2);
    --o3-line_height-h1: var(--o-line_height-text2);
    --o3-font_size-h2: var(--o-font_size-text1);
    --o3-line_height-h2: var(--o-line_height-text1);
    --o3-font_size-h3: var(--o-font_size-text1);
    --o3-line_height-h3: var(--o-line_height-text1);
    --o3-font_size-h4: var(--o-font_size-text1);
    --o3-line_height-h4: var(--o-line_height-text1);
    // 正文
    --o3-font_size-text2: var(--o-font_size-tip1);
    --o3-line_height-text2: var(--o-line_height-tip1);
    --o3-font_size-text1: var(--o-font_size-tip1);
    --o3-line_height-text1: var(--o-line_height-tip1);
    // 提示文本
    --o3-font_size-tip1: var(--o-font_size-tip2);
    --o3-line_height-tip1: var(--o-line_height-tip2);
    --o3-font_size-tip2: 10px;
    --o3-line_height-tip2: 16px;

    // 图标大小
    --o3-icon_size-4xl: var(--o-icon_size-xl);
    --o3-icon_size-3xl: var(--o-icon_size-xl);
    --o3-icon_size-2xl: var(--o-icon_size-l);
    --o3-icon_size-xl: var(--o-icon_size-l);
    --o3-icon_size-l: var(--o-icon_size-m);
    --o3-icon_size-m: var(--o-icon_size-m);
    --o3-icon_size-s: var(--o-icon_size-m);
    --o3-icon_size-xs: var(--o-icon_size-xs);
  }
}