body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;

  color: var(--o-color-info1);
  background-color: var(--o-color-fill1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }

  a:hover {
    color: #535bf2;
  }
} */

.page-demo {
  padding: 8px 24px;
  h4 {
    color: var(--o-color-info1);
  }
}
.col {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
}
.block {
  padding: var(--o-gap-4);
  border: 1px solid var(--o-color-control1-light);
}
.row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 16px;
  padding: 8px;
}
section {
  border: 1px solid var(--o-color-control1-light);
  padding: var(--o-gap-4);

  h4 {
    text-align: center;
    margin: 0;
    margin-bottom: var(--o-gap-3);
  }
  + section {
    margin-top: 12px;
  }
  .row {
    width: 100%;
  }
}
.col-2 {
  width: 50%;
  padding: 24px;
  + .col-2 {
    margin-left: 12px;
  }
}
section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 16px;
}

.btn {
  padding: 4px 16px;
  border: 1px solid #ccc;
  display: inline-flex;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    border-color: #aaa;
  }
}
