/* theme: default|light */
:root,
:root[theme="light"] {
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-blue-1: 232, 243, 255;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-blue-2: 190, 218, 255;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-blue-3: 148, 191, 255;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-blue-4: 106, 161, 255;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-blue-5: 64, 128, 255;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-blue-6: 22, 93, 255;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-blue-7: 14, 66, 210;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-blue-8: 7, 44, 166;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-blue-9: 3, 26, 121;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-blue-10: 0, 13, 77;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-yellow-1: 254, 255, 232;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-yellow-2: 254, 254, 190;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-yellow-3: 253, 250, 148;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-yellow-4: 252, 242, 107;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-yellow-5: 251, 232, 66;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-yellow-6: 250, 220, 25;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-yellow-7: 207, 175, 15;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-yellow-8: 163, 132, 8;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-yellow-9: 120, 93, 3;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-yellow-10: 77, 56, 0;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-green-1: 232, 255, 234;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-green-2: 175, 240, 181;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-green-3: 123, 225, 136;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-green-4: 76, 210, 99;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-green-5: 35, 195, 67;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-green-6: 0, 180, 42;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-green-7: 0, 154, 41;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-green-8: 0, 128, 38;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-green-9: 0, 102, 34;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-green-10: 0, 77, 28;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-orange-1: 255, 247, 232;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-orange-2: 255, 228, 186;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-orange-3: 255, 207, 139;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-orange-4: 255, 182, 93;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-orange-5: 255, 154, 46;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-orange-6: 255, 125, 0;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-orange-7: 210, 95, 0;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-orange-8: 166, 69, 0;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-orange-9: 121, 46, 0;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-orange-10: 77, 27, 0;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-red-1: 255, 236, 232;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-red-2: 253, 205, 197;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-red-3: 251, 172, 163;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-red-4: 249, 137, 129;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-red-5: 247, 101, 96;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-red-6: 245, 63, 63;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-red-7: 203, 39, 45;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-red-8: 161, 21, 30;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-red-9: 119, 8, 19;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-red-10: 77, 0, 10;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-gray-1: 255, 255, 255;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-gray-2: 238, 238, 238;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-gray-3: 221, 221, 221;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-gray-4: 198, 198, 198;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-gray-5: 139, 139, 139;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-gray-6: 119, 119, 119;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-gray-7: 94, 94, 94;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-gray-8: 75, 75, 75;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-gray-9: 44, 44, 44;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-gray-10: 0, 0, 0;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-mixedgray-1: 247, 248, 250;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-mixedgray-2: 242, 243, 245;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-mixedgray-3: 229, 230, 235;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-mixedgray-4: 201, 205, 212;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-mixedgray-5: 169, 174, 184;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-mixedgray-6: 134, 144, 156;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-mixedgray-7: 107, 119, 133;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-mixedgray-8: 78, 89, 105;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-mixedgray-9: 39, 46, 59;
  /**
   * @name 
   * @type palette
   * @group palette
   * @description 
   */
  --o-mixedgray-10: 29, 33, 41;
  /**
   * @name 
   * @type color
   * @group info
   * @description 一级/强调/标题
   */
  --o-color-info1: rgb(var(--o-gray-10));
  /**
   * @name 
   * @type color
   * @group info
   * @description 二级/次强调/正文
   */
  --o-color-info2: rgb(var(--o-gray-8));
  /**
   * @name 
   * @type color
   * @group info
   * @description 三级/辅助信息
   */
  --o-color-info3: rgb(var(--o-gray-6));
  /**
   * @name 
   * @type color
   * @group info
   * @description 置灰/禁用
   */
  --o-color-info4: rgb(var(--o-gray-4));
  /**
   * @name 
   * @type color
   * @group info
   * @description 一级/次强调/正文反色
   */
  --o-color-info1-inverse: rgb(var(--o-gray-1));
  /**
   * @name 
   * @type color
   * @group info
   * @description 二级/辅助信息反色
   */
  --o-color-info2-inverse: rgb(var(--o-gray-3));
  /**
   * @name 
   * @type color
   * @group info
   * @description 三级/辅助信息反色
   */
  --o-color-info3-inverse: rgb(var(--o-gray-5));
  /**
   * @name 
   * @type color
   * @group info
   * @description 置灰/禁用反色
   */
  --o-color-info4-inverse: rgb(var(--o-gray-7));
  /**
   * @name 
   * @type color
   * @group neutral
   * @description 白底
   */
  --o-color-neutral1: rgb(var(--o-gray-1));
  /**
   * @name 
   * @type color
   * @group neutral
   * @description 浅色背景(页面背景)
   */
  --o-color-neutral2: rgb(var(--o-mixedgray-1));
  /**
   * @name 
   * @type color
   * @group neutral
   * @description 浅色特殊场景/hover/禁用
   */
  --o-color-neutral3: rgb(var(--o-mixedgray-2));
  /**
   * @name 
   * @type color
   * @group neutral
   * @description 常规背景/浅色边框
   */
  --o-color-neutral4: rgb(var(--o-mixedgray-3));
  /**
   * @name 
   * @type color
   * @group neutral
   * @description 特殊场景/hover/禁用
   */
  --o-color-neutral5: rgb(var(--o-mixedgray-4));
  /**
   * @name 
   * @type color
   * @group neutral
   * @description 深色背景/常规边框
   */
  --o-color-neutral6: rgb(var(--o-mixedgray-5));
  /**
   * @name 
   * @type color
   * @group neutral
   * @description 深色边框
   */
  --o-color-neutral7: rgb(var(--o-mixedgray-6));
  /**
   * @name 
   * @type color
   * @group neutral
   * @description 重/特殊场景
   */
  --o-color-neutral8: rgb(var(--o-mixedgray-7));
  /**
   * @name 
   * @type color
   * @group primary
   * @description 常规
   */
  --o-color-primary6: rgb(var(--o-blue-6));
  /**
   * @name 
   * @type color
   * @group primary
   * @description 悬浮
   */
  --o-color-primary5: rgb(var(--o-blue-5));
  /**
   * @name 
   * @type color
   * @group primary
   * @description 激活
   */
  --o-color-primary7: rgb(var(--o-blue-7));
  /**
   * @name 
   * @type color
   * @group primary
   * @description 特殊场景
   */
  --o-color-primary4: rgb(var(--o-blue-4));
  /**
   * @name 
   * @type color
   * @group primary
   * @description 一般禁用
   */
  --o-color-primary3: rgb(var(--o-blue-3));
  /**
   * @name 
   * @type color
   * @group primary
   * @description 文字禁用
   */
  --o-color-primary2: rgb(var(--o-blue-2));
  /**
   * @name 
   * @type color
   * @group primary
   * @description 浅色/白底悬浮
   */
  --o-color-primary1: rgb(var(--o-blue-1));
  /**
   * @name 
   * @type color
   * @group success
   * @description 常规
   */
  --o-color-success6: rgb(var(--o-green-6));
  /**
   * @name 
   * @type color
   * @group success
   * @description 悬浮
   */
  --o-color-success5: rgb(var(--o-green-5));
  /**
   * @name 
   * @type color
   * @group success
   * @description 激活
   */
  --o-color-success7: rgb(var(--o-green-7));
  /**
   * @name 
   * @type color
   * @group success
   * @description 特殊场景
   */
  --o-color-success4: rgb(var(--o-green-4));
  /**
   * @name 
   * @type color
   * @group success
   * @description 一般禁用
   */
  --o-color-success3: rgb(var(--o-green-3));
  /**
   * @name 
   * @type color
   * @group success
   * @description 文字禁用
   */
  --o-color-success2: rgb(var(--o-green-2));
  /**
   * @name 
   * @type color
   * @group success
   * @description 浅色/白底悬浮
   */
  --o-color-success1: rgb(var(--o-green-1));
  /**
   * @name 
   * @type color
   * @group warning
   * @description 常规
   */
  --o-color-warning6: rgb(var(--o-orange-6));
  /**
   * @name 
   * @type color
   * @group warning
   * @description 悬浮
   */
  --o-color-warning5: rgb(var(--o-orange-5));
  /**
   * @name 
   * @type color
   * @group warning
   * @description 激活
   */
  --o-color-warning7: rgb(var(--o-orange-7));
  /**
   * @name 
   * @type color
   * @group warning
   * @description 特殊场景
   */
  --o-color-warning4: rgb(var(--o-orange-4));
  /**
   * @name 
   * @type color
   * @group warning
   * @description 一般禁用
   */
  --o-color-warning3: rgb(var(--o-orange-3));
  /**
   * @name 
   * @type color
   * @group warning
   * @description 文字禁用
   */
  --o-color-warning2: rgb(var(--o-orange-2));
  /**
   * @name 
   * @type color
   * @group warning
   * @description 浅色/白底悬浮
   */
  --o-color-warning1: rgb(var(--o-orange-1));
  /**
   * @name 
   * @type color
   * @group danger
   * @description 常规
   */
  --o-color-danger6: rgb(var(--o-red-6));
  /**
   * @name 
   * @type color
   * @group danger
   * @description 悬浮
   */
  --o-color-danger5: rgb(var(--o-red-5));
  /**
   * @name 
   * @type color
   * @group danger
   * @description 激活
   */
  --o-color-danger7: rgb(var(--o-red-7));
  /**
   * @name 
   * @type color
   * @group danger
   * @description 特殊场景
   */
  --o-color-danger4: rgb(var(--o-red-4));
  /**
   * @name 
   * @type color
   * @group danger
   * @description 一般禁用
   */
  --o-color-danger3: rgb(var(--o-red-3));
  /**
   * @name 
   * @type color
   * @group danger
   * @description 文字禁用
   */
  --o-color-danger2: rgb(var(--o-red-2));
  /**
   * @name 
   * @type color
   * @group danger
   * @description 浅色/白底悬浮
   */
  --o-color-danger1: rgb(var(--o-red-1));
}