// icons
.o-icon {
  --icon-g1: var(--o-color-text1);
  --icon-g2: var(--o-color-primary1);
}

.o-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.2em;
  color: inherit;
  font-style: normal;
  outline: none;
  &.type-stroke {
    stroke: currentColor;
  }
  &.type-fill {
    fill: currentColor;
  }
}
