@import './animation.scss';

[class^='o-'],
[class^='o-'] * {
  box-sizing: border-box;
}

:root {
  --o-size-l: 40px;
  --o-size-m: 32px;
  --o-size-s: 24px;
  --o-transition-duration-1: 0.1s;
  --o-transition-duration-2: 0.2s;
  --o-transition-duration-3: 0.3s;
  --o-transition-duration-long: 1.5s;

  --o-transition-function-linear: linear;
  --o-transition-function-ease-in: ease-in;
  --o-transition-function-ease-out: ease-out;
}

// icons
.o-icon {
  --icon-g1: var(--o-color-text1);
  --icon-g2: var(--o-color-primary1);
}

.o-icon {
  display: inline-flex;
  width: 1em;
  height: 1em;
  align-self: center;
  color: inherit;
  font-style: normal;
  outline: none;
  &.type-stroke {
    stroke: currentColor;
  }
  &.type-fill {
    fill: currentColor;
  }
}
