.o-i-panel {
  --popup-bg-color: var(--o-color-fill2);
  --popup-shadow: var(--o-shadow-1);
  --popup-radius: var(--o-radius_control-m);
  --popup-bd: none;
  // --popup-min-width: 312px;
  --popup-padding: 0;
}
