@use './var.scss';

.o-progress-line {
  width: 100%;
}

.o-progress-line-wrap {
  display: flex;
  align-items: center;
}

.o-progress-line-track {
  width: 100%;
  overflow: hidden;
  background-color: var(--o-progress-track-bg-color);
}

.o-progress-line-bar {
  max-width: 100%;
  height: 100%;
  background-color: var(--o-progress-bar-bg-color);
  transition: all var(--o-duration-m1) var(--o-easing-standard);
  text-align: right;
}

.o-progress-line-label {
  color: var(--o-progress-color);
  font-size: var(--o-progress-text-size);
  line-height: var(--o-progress-text-height);
  margin-left: var(--o-progress-label-gap);
  white-space: nowrap;
  &.is-icon {
    color: var(--o-progress-icon-color);
    font-size: var(--o-progress-icon-size);
  }
}

.o-progress-line-inner-label {
  display: inline-block;
  color: var(--o-progress-inner-label-color);
  margin-left: var(--o-progress-inner-label-gap);
  margin-right: var(--o-progress-inner-label-gap);
}

.o-progress-circle {
  font-size: 0;
  line-height: 0;
}

.o-progress-circle-wrap {
  position: relative;
  display: inline-block;
}

.o-progress-circle-track {
  stroke: var(--o-progress-track-bg-color);
}

.o-progress-circle-bar {
  stroke: var(--o-progress-bar-bg-color);
  transition: all var(--o-duration-m1) var(--o-easing-standard);
}

.o-progress-circle-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--o-progress-color);
  font-size: var(--o-progress-text-size);
  line-height: var(--o-progress-text-height);

  &.is-icon {
    color: var(--o-progress-icon-color);
    font-size: var(--o-progress-icon-size);
  }
}
