@use '../../_styles/mixin.scss' as *;
@use './var.scss';

.o-tag {
  height: var(--tag-height);
  border: 1px solid var(--tag-bd-color);
  border-radius: var(--tag-radius);
  padding: var(--tag-padding);
  background-color: var(--tag-bg-color);
  color: var(--tag-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.o-tag-label {
  white-space: nowrap;
  font-size: var(--tag-text-size);
  line-height: var(--tag-text-height);
}

.o-tag-small {
  .o-tag-label,
  .o-tag-icon,
  .o-tag-close {
    transform: scale(0.833334);
  }
}

.o-tag-icon {
  font-size: var(--tag-icon-size);
  margin-right: var(--tag-icon-gap);
}

.o-tag-close {
  cursor: pointer;
  color: var(--tag-icon-close-color);
  font-size: var(--tag-icon-size);
  margin-left: var(--tag-icon-gap);
  transition: color var(--o-duration-s) var(--o-easing-standard);

  @include hover {
    &:hover {
      color: var(--tag-icon-close-color-hover);
    }
  }

  &:active {
    color: var(--tag-icon-close-color-active);
  }
}
