.o-tag {
  --tag-radius: var(--o-radius_control-xs);
  --tag-bd: 1px solid var(--tag-bd-color);
  --tag-bg-image: none;

  --tag-icon-close-color: inherit;
  --tag-icon-close-color-hover: inherit;
  --tag-icon-close-color-active: inherit;
}

.o-tag-normal {
  --tag-color: var(--o-color-info1);
  --tag-bg-color: var(--o-color-control2-light);
  --tag-bd-color: var(--o-color-control2-light);

  --tag-bg-color-hover: var(--o-color-control3-light);
  --tag-bd-color-hover: var(--o-color-control3-light);

  &.o-tag-outline {
    --tag-bg-color: transparent;
    --tag-bd-color: var(--o-color-control4);

    --tag-color-hover: var(--o-color-info1);
    --tag-bd-color-hover: var(--o-color-control4);
  }
}

.o-tag-primary {
  --tag-color: var(--o-color-white);
  --tag-bg-color: var(--o-color-primary1);
  --tag-bd-color: var(--o-color-primary1);

  --tag-bg-color-hover: var(--o-color-primary2);
  --tag-bd-color-hover: var(--o-color-primary2);

  &.o-tag-outline {
    --tag-bg-color: transparent;
    --tag-color: var(--o-color-primary1);

    --tag-color-hover: var(--o-color-primary2);
  }
}

[data-o-theme^='a.'],
[data-o-theme^='k.'] {
  .o-tag-solid.o-tag-primary {
    --tag-color: var(--o-color-info1-inverse);
  }
}

.o-tag-success {
  --tag-color: var(--o-color-white);
  --tag-bg-color: var(--o-color-success1);
  --tag-bd-color: var(--o-color-success1);

  --tag-bg-color-hover: var(--o-color-success2);
  --tag-bd-color-hover: var(--o-color-success2);

  &.o-tag-outline {
    --tag-bg-color: transparent;
    --tag-color: var(--o-color-success1);

    --tag-color-hover: var(--o-color-success2);
  }
}

.o-tag-warning {
  --tag-color: var(--o-color-white);
  --tag-bg-color: var(--o-color-warning1);
  --tag-bd-color: var(--o-color-warning1);

  --tag-bg-color-hover: var(--o-color-warning2);
  --tag-bd-color-hover: var(--o-color-warning2);

  &.o-tag-outline {
    --tag-bg-color: transparent;
    --tag-color: var(--o-color-warning1);

    --tag-color-hover: var(--o-color-warning2);
  }
}

.o-tag-danger {
  --tag-color: var(--o-color-white);
  --tag-bg-color: var(--o-color-danger1);
  --tag-bd-color: var(--o-color-danger1);

  --tag-bg-color-hover: var(--o-color-danger2);
  --tag-bd-color-hover: var(--o-color-danger2);

  &.o-tag-outline {
    --tag-bg-color: transparent;
    --tag-color: var(--o-color-danger1);

    --tag-color-hover: var(--o-color-danger2);
  }
}

.o-tag-pending {
  --tag-color: var(--o-color-white);
  --tag-bg-color: rgb(var(--o-blue-6));
  --tag-bd-color: rgb(var(--o-blue-6));

  --tag-bg-color-hover: rgb(var(--o-blue-4));
  --tag-bd-color-hover: rgb(var(--o-blue-4));

  &.o-tag-outline {
    --tag-bg-color: transparent;
    --tag-color: rgb(var(--o-blue-6));

    --tag-color-hover: rgb(var(--o-blue-4));
  }
}

.o-tag-disabled {
  --tag-color: var(--o-color-white);
  --tag-bg-color: var(--o-color-info4);
  --tag-bd-color: var(--o-color-info4);

  &.o-tag-outline {
    --tag-bg-color: transparent;
    --tag-color: var(--o-color-info4);
  }
}

.o-tag-large {
  --tag-padding: 0 11px;
  --tag-text-size: var(--o-font_size-tip2);
  --tag-text-height: var(--o-line_height-tip2);
  --tag-height: var(--o-control_size-s);
  --tag-icon-size: var(--o-icon_size_control-xs);
  --tag-icon-gap: 4px;
}

.o-tag-medium {
  --tag-padding: 0 7px;
  --tag-text-size: var(--o-font_size-tip2);
  --tag-text-height: var(--o-line_height-tip2);
  --tag-height: 20px;
  --tag-icon-size: var(--o-icon_size_control-xs);
  --tag-icon-gap: 4px;
}

.o-tag-small {
  --tag-padding: 0 5px;
  --tag-text-size: 10px;
  --tag-text-height: 14px;
  --tag-height: var(--o-control_size-xs);
  --tag-icon-size: var(--o-icon_size_control-xs);
  --tag-icon-gap: 2px;
}

.o-tag-round-pill {
  --tag-radius: var(--o-control_size-l);
}
