@use '../../_styles/mixin.scss' as *;

@include respond-to('<=pc_s') {
  .o-menu-medium {
    --sub-menu-height: 40px;
    --menu-item-height: 32px;

    --sub-menu-text-size: var(--o-font_size-tip1);
    --sub-menu-text-height: var(--o-line_height-tip1);
    --sub-menu-icon-size: var(--o-icon_size_control-s);

    --menu-item-text-size: var(--o-font_size-tip1);
    --menu-item-text-height: var(--o-line_height-tip1);
    --menu-item-icon-size: var(--o-icon_size_control-s);
  }
}

@include respond-to("<=pad_v") {
  .o-menu-small {
    --sub-menu-height: 32px;
    --menu-item-height: 28px;
  }

  .o-menu-small .o-sub-menu .o-sub-menu {
    --sub-menu-height: 28px;
  }
}