@use '../../_styles/mixin.scss' as *;

.o-menu {
  width: var(--menu-width);
  background-color: var(--menu-bg-color);
  list-style: none;
  margin: 0;
  padding: 0;
}

/**** submenu ****/
.o-sub-menu {
  font-size: var(--sub-menu-text-size);
  line-height: var(--sub-menu-text-height);
  color: var(--sub-menu-color);
}

.o-sub-menu-title {
  position: relative;
  display: flex;
  align-items: center;
  height: calc(var(--sub-menu-height) - 2px);
  margin: 1px 0;
  padding-right: var(--menu-padding-h);
  padding-left: var(--menu-level-indent);
  border-radius: var(--sub-menu-radius);
  cursor: pointer;
  transition: all var(--o-duration-s) var(--o-easing-standard);

  @include hover {
    background-color: var(--sub-menu-bg-color-hover);
  }

  .o-sub-menu-selected > & {
    background-color: var(--sub-menu-bg-color-selected);
  }

  .o-sub-menu-selected > &,
  .o-sub-menu-associated-selected > &{
    font-weight: 600;
    color: var(--sub-menu-color-selected);
  }
}

.o-sub-menu-title-icon {
  margin-right: var(--sub-menu-icon-gap);
  font-size: var(--sub-menu-icon-size);
  color: var(--sub-menu-icon-color);

  // /*纠正容器高度计算错误及空图标占位*/
  display: flex;
  align-items: center;

  .o-sub-menu-selected > .o-sub-menu-title &,
  .o-sub-menu-associated-selected > .o-sub-menu-title &{
    color: var(--sub-menu-icon-color-selected);
  }
}

.o-sub-menu-title-content {
  margin-right: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.o-sub-menu-arrow {
  margin-right: var(--sub-menu-icon-gap);
  font-size: var(--sub-menu-arrow-size);
  transform: rotate(0);
  transition: transform var(--o-duration-m2) var(--o-easing-standard);

  .o-sub-menu-expanded > .o-sub-menu-title > & {
    transform: rotate(-180deg);
  }

}

.o-sub-menu-children {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
  display: grid;
  grid-template-rows: 0fr;
  transition: all var(--o-duration-m2) var(--o-easing-standard);
  &.expanded {
    grid-template-rows: 1fr;
  }
}

.o-sub-menu-children-wrap {
  min-height: 0;
  min-width: 0;
  position: relative;
}

/**** menu-item ****/
.o-menu-item {
  height: calc(var(--menu-item-height) - 2px);
  margin: 1px 0;
  display: flex;
  align-items: center;
  color: var(--menu-item-color);
  font-size: var(--menu-item-text-size);
  line-height: var(--menu-item-text-height);
  border-radius: var(--menu-item-radius);
  padding-left: var(--menu-level-indent);
  padding-right: var(--menu-padding-h);
  cursor: pointer;
  transition: background-color var(--o-duration-s) var(--o-easing-standard);
  position: relative;

  &:not(.o-menu-item-disabled) {
    @include hover {
      background-color: var(--menu-item-bg-color-hover);
    }
  }
}

.o-menu-item-selected {
  font-weight: 600;
  color: var(--menu-item-color-selected);
  background-color: var(--menu-item-bg-color-selected);

  .o-sub-menu-title-icon {
    color: var(--menu-item-color-selected);
  }

  @include hover {
    background-image: var(--menu-item-bg-image-selected);
  }
}

.o-menu-item-disabled {
  cursor: not-allowed;
  color: var(--menu-item-color-disabled);
}

.o-menu-item-icon {
  margin-right: var(--menu-item-icon-gap);
  font-size: var(--menu-item-icon-size);
  color: var(--menu-item-icon-color);

  /*纠正容器高度计算错误及空图标占位*/
  display: flex;
  align-items: center;
}

.o-menu-item-content {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: auto;
}

.o-sub-menu {
  position: relative;
  .o-menu-arrow-left &::before {
    content: '';
    position: absolute;
    top: var(--sub-menu-height);
    left: calc(var(--sub-menu-arrow-size) / 2  + var(--menu-level-indent));
    bottom: 0;
    width: var(--menu-indicator-width);
    background-color: var(--menu-indicator-bg-color);
    z-index: 0;
  }
  &[level='0']::before {
    display: none;
  }
}

.o-menu-popover {
  max-width: var(--menu-popover-width);
}