@use './var.scss';
@use '../../input/style/index.scss';

.o-input-number {
  .o-input-prepend,
  .o-input-append {
    font-size: 14px;
    padding: 0;
    align-items: stretch;
    overflow: hidden;
  }

  // &.is-disabled {
  //   .o-input-prepend,
  //   .o-input-append {
  //     background-color: var(--input-number-btn-bg-disabled);
  //     color: var(--input-number-btn-color-disabled);
  //   }
  // }
  &.is-invalid {
    .o-input-input {
      text-decoration: line-through;
    }
  }
}
.o-input-number-btn {
  user-select: none;
  align-items: center;
  justify-content: center;
  display: flex;
  min-width: var(--input-height);
  font-size: var(--input-number-icon-size);
  &:hover {
    color: var(--input-number-btn-color);
    background-color: var(--input-number-btn-bg);
  }
  &.is-disabled {
    cursor: not-allowed;
    background-color: var(--input-number-btn-bg-disabled);
    color: var(--input-number-btn-color-disabled);
  }
  .o-input-shape-round & {
    &.append {
      padding-right: 2px;
    }
    &.prepend {
      padding-left: 2px;
    }
  }
}

.o-input-number-size-small {
  width: 90px;
}
.o-input-number-size-normal {
  width: 120px;
}
.o-input-number-size-large {
  width: 160px;
}
