.o-input-number {
  --input-number-icon-size: 16px;
  --input-number-btn-color: var(--o-color-text3);
  --input-number-btn-color-hover: var(--o-color-primary1);
  --input-number-btn-bg: var(--o-color-bg2);
  --input-number-btn-bg-disabled: var(--o-color-info4);
  --input-number-btn-color-disabled: var(--o-color-text4);
}
