@use './var.scss';

.o-dialog {
  position: var(--dlg-position, 'fixed');
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  z-index: var(--dlg-z-index);
  display: flex;
}
.o-dlg-mask {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--dlg-mask);
}
.o-dlg-main {
  position: relative;
  background-color: var(--dlg-bg-color);
  min-width: 200px;
  box-shadow: var(--dlg-shadow);
  border-radius: var(--dlg-radius);
  min-width: var(--dlg-min-width);
}

.o-dlg-btn-close {
  position: absolute;
  right: var(--o-gap-3);
  top: var(--o-gap-3);
  font-size: var(--dlg-close-size);
  color: var(--dlg-close-color);
  display: flex;
  transition: transform var(--o-easing-standard) var(--o-duration-m2);
  &:hover {
    color: var(--dlg-close-color-hover);
  }
  &:active {
    color: var(--dlg-close-color-active);
    transform: scale(0.9);
  }
}

.o-dlg-head {
  padding: var(--dlg-head-padding);
}
.o-dlg-body {
  padding: var(--dlg-body-padding);
}
.o-dlg-foot {
  padding: var(--dlg-foot-padding);
}
