@use './var.scss';
@use '../../style/mixin.scss' as *;

.o-dlg-main {
  position: relative;
  background-color: var(--dlg-bg-color);
  min-width: 200px;
  box-shadow: var(--dlg-shadow);
  border-radius: var(--dlg-radius);
  min-width: var(--dlg-min-width);
}

.o-dlg-btn-close {
  position: absolute;
  right: var(--o-gap-3);
  top: var(--o-gap-3);
  font-size: var(--dlg-close-size);
  color: var(--dlg-close-color);
  display: flex;
  transition: transform var(--o-easing-standard) var(--o-duration-m2);
  cursor: pointer;
  &:hover {
    color: var(--dlg-close-color-hover);
  }
  &:active {
    color: var(--dlg-close-color-active);
    transform: scale(0.9);
  }
}

.o-dlg-head {
  padding: var(--dlg-head-padding);
}
.o-dlg-body {
  padding: var(--dlg-body-padding);
}
.o-dlg-foot {
  padding: var(--dlg-foot-padding);
}

@include max-phone {
  .o-dlg-main {
    background-color: red;
  }
}
