@use '../../style/mixin.scss' as *;

.o-dialog.is-responsive {
  @include respond-to('phone-v') {
    --layer-align: flex-end;
    --dlg-min-width: calc(100vw - 48px);
    padding-bottom: 24px;
    --layer-origin: center bottom;
  }
  @include respond-to('not-phone') {
    --dlg-min-width: 360px;
    --layer-origin: center;
  }
}
