@use '../../style/mixin.scss' as *;

.o-dialog-responsive {
  @include respond-to('phone-pad') {
    --layer-position: fixed;
  }
  @include respond-to('phone-v') {
    --layer-align: flex-end;
    --dlg-width: calc(100vw - 48px);
    --layer-origin: center bottom;
    --dlg-min-width: none;
  }
  @include respond-to('up-phone') {
    --layer-origin: center;
  }
}
