@use '../../_styles/mixin.scss' as *;
@use './var.scss';

.o-anchor {
  position: relative;
  display: inline-flex;
  align-items: stretch;
  width: d;
}

.o-anchor-line {
  position: relative;
  width: var(--anchor-line-width);
  border-radius: var(--anchor-line-width);
  background-color: var(--anchor-line-bg-color);
  margin-right: 4px;
}

.o-anchor-indicator {
  position: absolute;
  width: var(--anchor-line-width);
  border-radius: var(--anchor-line-width);
  background-color: var(--anchor-indicator-bg-color);
  opacity: 0;
  transition: all var(--o-easing-standard-in) var(--o-duration-m1);
}

.o-anchor-item {
  width: var(--anchor-item-width);
  min-width: var(--anchor-item-min-width);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.o-anchor-item-link {
  cursor: pointer;
  display: inline-block;
  color: inherit;
  text-decoration: none;
  width: 100%;
  color: var(--anchor-item-link-color);
  font-size: var(--anchor-item-link-text-size);
  line-height: var(--anchor-item-link-text-height);
  background-color: var(--anchor-item-link-bg-color);
  padding: var(--anchor-item-link-padding);
  border-radius: var(--anchor-item-link-radius);
  transition: background-color var(--o-duration-s) var(--o-easing-standard);

  @include hover {
    background-color: var(--anchor-item-link-bg-color-hover);
  }

  &.is-active {
    font-weight: 500;
    color: var(--anchor-item-link-color-active);
    background-color: var(--anchor-item-link-bg-color-active);
  }
}

.o-anchor-item + .o-anchor-item {
  margin-top: var(--anchor-item-link-gap);
}

.o-anchor-item {
  .o-anchor-item {
    margin-top: var(--anchor-item-link-gap);
  }
}
