@use '../../_styles/mixin.scss' as *;
@use './var.scss';

.o-anchor {
  position: relative;
  display: inline-flex;
  align-items: stretch;
  width: d;
}

.o-anchor-line {
  position: relative;
  width: var(--anchor-line-width);
  border-radius: var(--anchor-line-width);
  background-color: var(--anchor-line-bg-color);
  margin-right: 4px;
}

.o-anchor-indicator {
  position: absolute;
  width: var(--anchor-line-width);
  border-radius: var(--anchor-line-width);
  background-color: var(--anchor-indicator-bg-color);
  opacity: 0;
  transition: all var(--o-easing-standard-in) var(--o-duration-m1);
}

.o-anchor-item {
  cursor: pointer;
  width: var(--anchor-item-width);
  min-width: var(--anchor-item--min-width);
  color: var(--anchor-item-color);
  font-size: var(--anchor-item-text-size);
  line-height: var(--anchor-item-text-height);
  background-color: var(--anchor-item-bg-color);
  padding: var(--anchor-item-padding);
  border-radius: var(--anchor-item-radius);
  transition: background-color var(--o-duration-s) var(--o-easing-standard);

  @include hover {
    &:hover {
      background-color: var(--anchor-item-bg-color-hover);
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.o-anchor-item + .o-anchor-item {
  margin-top: var(--anchor-item-gap);
}

.o-anchor-item-active {
  font-weight: 500;
  color: var(--anchor-item-color-active);
  background-color: var(--anchor-item-bg-color-active);
}
