.o-anchor {
  --anchor-line-width: 2px;
  --anchor-line-bg-color: var(--o-color-control4);

  --anchor-indicator-width: 2px;
  --anchor-indicator-bg-color: var(--o-color-primary1);
}

.o-anchor-item {
  --anchor-item-min-width: 144px;

  --anchor-item-link-color: var(--o-color-info2);
  --anchor-item-link-color-active: var(--o-color-primary1);

  --anchor-item-link-text-size: var(--o-font_size-text1);
  --anchor-item-link-text-height: var(--o-line_height-text1);

  --anchor-item-link-bg-color: transparent;
  --anchor-item-link-bg-color-hover: var(--o-color-control2-light);
  --anchor-item-link-bg-color-active: var(--o-color-control3-light);

  --anchor-item-link-padding: 8px 8px;
  --anchor-item-link-radius: var(--o-radius_control-s);

  --anchor-item-link-gap: 2px;
}
