@use '../../_styles/mixin.scss' as *;

.o-dialog-responsive {
  @include respond-to('>phone') {
    --layer-origin: center;
  }
  @include respond-to('<=pad') {
    --layer-position: fixed;
  }
  @include respond-to('phone') {
    --layer-align: flex-end;
    --dlg-width: calc(100vw - 48px);
    --layer-origin: center bottom;
    --dlg-min-width: none;
    .o-dlg-btn {
      flex: 1;
    }
  }
}

.o-dialog {
  @include respond-to('<=pad') {
    --dlg-head-padding: 16px 24px 0;
    --dlg-body-padding: 12px 24px;
    --dlg-foot-padding: 0 24px 16px;
  }
}

.o-dlg-header {
  @include respond-to('<=pad') {
    font-size: var(--o-font_size-text2);
    line-height: var(--o-line_height-text2);
  }
}
