@use '../../_styles/mixin.scss' as *;

.o-dialog-responsive {
  @include respond-to('>phone') {
    --layer-origin: center;
  }
  @include respond-to('<=pad') {
    --layer-position: fixed;
    .o-dlg-btn {
      + .o-dlg-btn.o-btn-text {
        position: relative;
        &::before {
          content: '';
          border-left: 1px solid var(--o-color-control1-light);
          position: absolute;
          height: 24px;
          left: -8px;
        }
      }
    }
  }
  @include respond-to('phone') {
    --layer-align: flex-end;
    --layer-origin: center bottom;
    --dlg-min-width: none;
    .o-dlg-btn {
      flex: 1;
    }
    .o-dlg-btn-close {
      display: none;
    }
  }
}

.o-dialog-auto {
  --dlg-margin: 24px;
  @include respond-to('<=pad') {
    --dlg-head-padding: 16px 24px 0;
    --dlg-body-padding: 12px 24px;
    --dlg-foot-padding: 0 24px 16px;
  }
}

.o-dlg-header {
  @include respond-to('<=pad') {
    font-size: var(--o-font_size-h3);
    line-height: var(--o-line_height-h3);
  }
}
.o-dialog-exlarge {
  @include respond-to('laptop') {
    --dlg-width: 80%;
    --dlg-max-height: 80%;
    --dlg-min-height: 65%;
  }
  @include respond-to('<=pad') {
    --dlg-width: 100%;
    --dlg-max-height: 100%;
    --dlg-radius: 0;
    --dlg-margin: 0;
  }
}
.o-dialog-large {
  @include respond-to('laptop') {
    --dlg-width: 65%;
    --dlg-max-height: 80%;
    --dlg-min-height: 50%;
  }

  @include respond-to('<=pad') {
    --dlg-width: 100%;
    --dlg-max-height: 100%;
    --dlg-radius: 0;
    --dlg-margin: 0;
  }
}
.o-dialog-medium {
  @include respond-to('laptop') {
    --dlg-width: 50%;
    --dlg-max-height: 80%;
    --dlg-min-height: 35%;
  }
  @include respond-to('pad') {
    --dlg-width: 65%;
    --dlg-max-height: 80%;
    --dlg-min-height: 128px;
  }
  @include respond-to('phone') {
    --dlg-width: calc(100vw - 48px);
    --dlg-max-height: 65%;
    --dlg-min-height: 128px;
    --dlg-margin: 24px;
  }
}
.o-dialog-small {
  @include respond-to('laptop') {
    --dlg-width: 35%;
    --dlg-max-height: 50%;
    --dlg-min-height: 20%;
  }
  @include respond-to('pad_h') {
    --dlg-width: 50%;
    --dlg-max-height: 80%;
    --dlg-min-height: 128px;
  }
  @include respond-to('pad_v') {
    --dlg-width: 65%;
    --dlg-max-height: 80%;
    --dlg-min-height: 128px;
  }
  @include respond-to('phone') {
    --dlg-width: calc(100vw - 48px);
    --dlg-max-height: 65%;
    --dlg-min-height: 128px;
    --dlg-margin: 24px;
  }
}

.o-dialog-phone-half-full {
  @include respond-to('phone') {
    --dlg-width: 100%;
    --dlg-margin: 0;
    --dlg-radius: var(--o-radius_control-l) var(--o-radius_control-l) 0 0;
  }
}
