@use '../../_styles/mixin.scss' as *;

// 正文字号
@include respond('<=laptop') {
  .o-dlg-body {
    font-size: var(--o-font_size-tip1);
    line-height: var(--o-line_height-tip1);
  }
}

// 运营弹窗
.c-dlg-operation {
  --layer-align: center !important;
  --dlg-body-padding: 0 !important;
  --dlg-margin: 40px;
  --dlg-min-height: 320px;
  --dlg-max-height: 468px;
  .o-dlg-btn-close {
    right: 50%;
    transform: translateX(50%);
    top: calc(100% + 16px);
    border: 1px solid var(--o-color-info1-inverse);
    border-radius: 50%;
    font-size: var(--o-icon_size_control-xs);
    color: var(--o-color-info1-inverse);
    padding: 4px;
    display: flex;
  }
}
