.o-dialog {
  --dlg-close-size: var(--o-icon_size_control-m);
  --dlg-close-color: var(--o-color-info2);
  --dlg-close-color-hover: var(--o-color-primary2);
  --dlg-close-color-active: var(--o-color-primary3);

  --dlg-bg-color: var(--o-color-control-light);
  --dlg-radius: var(--o-radius_control-l);
  --dlg-shadow: var(--o-shadow-1);

  --dlg-max-height: 100%;
  --dlg-min-width: 272px;

  --dlg-padding: 32px;
  --dlg-padding-body-top: 24px;
  --dlg-padding-body-bottom: 24px;

  --dlg-head-padding: var(--dlg-padding) var(--dlg-padding) 0;
  --dlg-body-padding: var(--dlg-padding);
  --dlg-foot-padding: 0 var(--dlg-padding) var(--dlg-padding);
}

.o-dialog-auto {
  --dlg-max-height: 80%;
}

.o-dialog-exlarge {
  --dlg-width: 1170px;
  --dlg-max-height: 780px;
  --dlg-min-height: 520px;
}
.o-dialog-large {
  --dlg-width: 930px;
  --dlg-max-height: 780px;
  --dlg-min-height: 424px;
}
.o-dialog-medium {
  --dlg-width: 690px;
  --dlg-max-height: 480px;
  --dlg-min-height: 328px;
}

.o-dialog-small {
  --dlg-width: 450px;
  --dlg-max-height: 272px;
  --dlg-min-height: 224px;

  --dlg-padding: 32px;
  --dlg-padding-body-top: 16px;
}
